﻿@model TripJao.Models.TJ_Product_Routes

@{
    ViewBag.Title = "Details";
}

<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    Details
                </div>
                <div class="card-body">
                    
                        <h4>Product Routes (Iternaries)</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.City)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.City)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PickupPoint)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PickupPoint)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DropPoint)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DropPoint)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Day)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Day)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TJ_Products.BusinessType)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TJ_Products.BusinessType)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
