﻿@model TripJao.Models.TJ_Product_Routes

@{
    ViewBag.Title = "Edit";
}
<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    Edit
                </div>
                <div class="card-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Day wise plan (Iternary)</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ProductId, "Product Code", htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.PickupPoint, "Pickup Point", htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PickupPoint, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PickupPoint, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.DropPoint, "Drop Point", htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DropPoint, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DropPoint, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "height:150px;" })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Day, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    <input type="button" value="Cancel" class="btn btn-default" onclick="window.location.href = '@Url.Action("ProductDayWisePlan", "Admin")'" />
                                </div>
                            </div> 
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

