﻿
/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    background-image: url(../Content/Images/home-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
}*/
@charset "utf-8";
/* Atlas Pool Supplies CSS Document */
@font-face {
    font-family: 'Nightingale';
    src: url('NightingaleSample.ttf#Nightingale') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


* {
    margin: 0;
    padding: 0;
}

.main-container-div {
    background-image: url(Images/home-bg.jpg);
    width: 100% !important;
    min-width: 100%;
    max-width: 150%;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: bottom center !important;
    height: auto !important;
    position: absolute !important;
    top: -20% !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

@media all and (max-width: 1200px) {
    .main-container-div {
        width: 100% !important;
        background-repeat: no-repeat !important;
        background-size: auto 100vh !important;
        background-position: top center !important;
        height: auto !important;
        position: relative !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
    }
}

@import url('https://fonts.googleapis.com/css?family=Yrsa');
@import url('https://fonts.googleapis.com/css?family=Give+You+Glory');
/*font-family: 'Give You Glory', cursive;*/

/* Header Style Start */

header {
    width: 100%;
    position: relative;
    top: 30px;
}

    header .logo-div {
        width: 200px;
        float: left;
    }

.logo-div img {
    width: 150px;
    height: auto;
    float: navbar-nav;
}

header nav {
    width: calc(100% - 200px);
    float: right;
}

nav {
    line-height: 6;
}

    nav ul {
        float: right;
        margin-right: 10%;
    }

        nav ul li {
            display: inline;
        }

            nav ul li a {
                text-decoration: none;
                color: #fff;
                font-size: 22px;
                padding-left: 10px;
                padding-right: 10px;
                font-family: 'Yrsa', serif;
            }


.middle-text-div {
    width: 100%;
    text-align: center;
    font-size: 60px;
    position: absolute;
    top: 40%;
    font-family: 'Nightingale';
    color: #fff;
    font-weight: 600;
}

.menu-logo {
    display: none;
    width: calc(100% - 200px);
    float: right;
}

    .menu-logo img.close-menu {
        display: none;
    }

    .menu-logo img {
        float: right;
        width: 90px;
        position: absolute;
        right: 20px;
        top: 40px;
    }

@media all and (max-width: 768px) {
    nav {
        display: none;
    }

    .menu-logo {
        display: block;
    }

    header {
        top: 0;
        
    }

    .logo-div img {
        float: left;
    }
}

.mob-menu-div {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 80px;
    background-color: rgba(18, 183, 197, 0.16);
    text-align: center;
    display: none;
    z-index: 3;
}

    .mob-menu-div ul li a {
        text-decoration: none;
        /*padding: 10px;*/
        font-size: 23px;
        color: #fff;
    }

    .mob-menu-div ul li {
        list-style-type: none;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 40px;
        line-height: 40px;
        background-color: rgba(18, 197, 186, 0.16);
    }

@media all and (max-width: 980px) and (min-width: 769px) {
    nav ul li a {
        font-size: 18px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

/* Header Style Close */






/* Search fields Style Start */

div.mob-head-text-div {
    display: none;
    font-family: 'Nightingale';
}

.search-field-main-div {
    width: 100%;
    position: absolute;
    bottom: 50px;
    background-color: rgba(197, 157, 18, 0.56);
    text-align: center;
    z-index: 2;
}

    .search-field-main-div input,
    .search-field-main-div button,
    .search-field-main-div .categories {
        margin-bottom: 10px;
        margin-top: 10px;
        height: 40px;
        border: none;
        outline: none;
        text-align: center;
        font-size: 20px;
        color: gray;
    }

    .search-field-main-div button,
    .search-field-main-div .categories {
        padding-left: 20px;
        padding-right: 20px;
    }

    .search-field-main-div button {
        background-color: #2279be;
        color: #fff;
    }

        .search-field-main-div button a {
            color: #fff;
            text-decoration: none;
        }

    .search-field-main-div input,
    .search-field-main-div .categories {
        margin-right: 5px;
    }

    .search-field-main-div .categories,
    .search-field-main-div button,
    .search-field-main-div .to,
    .search-field-main-div .from {
        margin-left: 5px;
    }

@media all and (max-width: 768px) {
    .search-field-main-div {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(197, 157, 18, 0.56);
        text-align: center;
    }

        .search-field-main-div input.destination {
            margin: 10px 20px 10px 20px !important;
            width: calc(100% - 40px);
            float: left;
        }

        .search-field-main-div input.from {
            float: left;
            margin: 10px 10px 10px 20px !important;
            width: calc(50% - 30px);
        }

        .search-field-main-div input.to {
            float: right;
            margin: 10px 20px 10px 10px !important;
            width: calc(50% - 30px);
        }

        .search-field-main-div select.categories {
            margin: 10px 20px 10px 20px !important;
            width: calc(100% - 40px);
            float: left;
        }

    div.middle-text-div {
        display: none;
        font-family: 'Nightingale';
    }

    div.mob-head-text-div {
        display: block;
    }

    .search-field-main-div div.mob-head-text-div {
        height: 40px;
        float: left;
        width: 100%;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin: 0px 20px 10px;
        font-size: 20px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .search-field-main-div select.categories {
        text-indent: calc((100% - 100px) / 2);
    }
}
/* Search fields Style close */

/* admin Index page*/
form {
    border: 3px solid #f1f1f1;
}

/*input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-width:100%;
}*/

.inputTextBox {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-width: 100%;
}

.adminButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.admin {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}


.well {
    /*background-color: #4CAF50 !important;*/
}

.login-container-div {
    background-image: url(Images/home-bg.jpg);
    width: 100% !important;
    background-size: 100%,100%,100%;
}

/*Admin CSS*/
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    /*margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }

.forgot-password {
    color: rgb(104, 145, 162);
}

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus {
        color: rgb(12, 97, 33);
    }

.middle-login-div {
    width: 100%;
    text-align: center;
    position: relative !important;
    top: 30%;
    vertical-align:central !important;

}

.admin-menu-nav {
    position: absolute;
    margin-top: 45px;
    margin-left: 13%;
}