﻿@{
    ViewBag.Title = "About";
}
<!-- Start Content -->
<div id="content">
    <div class="container">
        <div class="page-content">


            <div class="row">

                <div class="col-md-7">

                    <!-- Classic Heading -->
                    <h2 class="about-us-classic-title"><span>Our Story</span></h2>

                    <!-- Some Text -->
                    <p class="about-tripjao-p">The traveler trio roaming around their own interests (you may call it love here) from adventure to leisure, from spirituality to fun were getting happiness soaked to healing eternity. On this dream journeys we heart lot of stories, experiences from fellow travelers where we discovered everyone is willing to travel far and in need of guided affordable tours and…</p>
                    <p class="about-tripjao-p">Tripjao formed for so cause to provide affordable premium holidays. We started our journey with youngsters for their educational industry tours experiencing lot of joy moments inspiring us top do more.</p>
                    <p class="about-tripjao-p">Tripjao is now serving to huge traveler community from youngest to eldest traveler exploring the journeys through unlimited memories with our Corporate Tours, Group Tours , Festival Tours, Educational tours, Treks and customized tailor-made holidays . One destination to every travel lust TripJao …….Ghumke Aao…….</p>

                </div>

                <div class="col-md-5">
                    <!-- Post Thumb -->
                    <div class="post-head">
                        <a class="lightbox" title="This is an image title" href="images/blog-01.jpg">
                            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                            <img alt="" src="images/blog-01.jpg">
                        </a>
                    </div>
                    <!-- Start Touch Slider -->
                    @*<div class="touch-slider" data-slider-navigation="true" data-slider-pagination="true">
                            <div class="item"><img alt="" src="images/about-01.jpg"></div>
                            <div class="item"><img alt="" src="images/about-02.jpg"></div>
                            <div class="item"><img alt="" src="images/about-03.jpg"></div>
                        </div>*@
                    <!-- End Touch Slider -->

                </div>

            </div>
            @*
                <!-- Divider -->
                <div class="hr1" style="margin-bottom:50px;"></div>
                <div class="row">

                    <div class="col-md-6">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Our Skills</span></h4>

                        <div class="skill-shortcode">
                            <div class="skill">
                                <p>Web Design</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-percentage="60">
                                        <span class="progress-bar-span">60%</span>
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <p>Wordpress</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-percentage="80">
                                        <span class="progress-bar-span">80%</span>
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <p>CSS 3</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-percentage="90">
                                        <span class="progress-bar-span">90%</span>
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <p>HTML 5</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-percentage="100">
                                        <span class="progress-bar-span">100%</span>
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Our Solutions</span></h4>

                        <!-- Accordion -->
                        <div class="panel-group" id="accordion">

                            <!-- Start Accordion 1 -->
                            <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                            <i class="fa fa-angle-up control-icon"></i>
                                            <i class="fa fa-desktop"></i> Fully Responsive Theme
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="collapse-1" class="panel-collapse collapse in">
                                    <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:150px;" alt="" src="images/bussniss-pic.jpg" /> <strong class="accent-color">Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown <strong>printer</strong> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
                                </div>
                            </div>
                            <!-- End Accordion 1 -->
                            <!-- Start Accordion 2 -->
                            <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                                            <i class="fa fa-angle-up control-icon"></i>
                                            <i class="fa fa-gift"></i> Touchable Slider
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="collapse-2" class="panel-collapse collapse">
                                    <div class="panel-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. The point of using Lorem Ipsum is that it has a <strong>more-or-less</strong> normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                </div>
                            </div>
                            <!-- End Accordion 2 -->

                        </div>
                    </div>

                </div>*@
        </div>
    </div>
</div>