﻿@model TripJao.Models.PackageEnquiryForm
@{
    ViewBag.Title = "Educational Tours";
}

<script type="text/javascript">


function saveEducationalTourEnquiry() {
    var message = "";

    message = validateEducationalTourEnquiryForm();

    if (message == "") {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Add", "Enquiry")',
            data: {
                Name: $('#facultyName').val(),
                Email: $('#email').val(),
                ContactNumber: $('#contactNumber').val(),
                TentativeDate: $('#tentativeDate').val(),
                Destination: $('#prefDestination').val(),
                TourType: $('#tourType').val(),
                Department: $('#department').val(),
                InstituteName: $('#instituteName').val(),
                NoOfStudents: $('#noOfStudents').val(),
                NoOfTeachers: $('#noOfTeachers').val(),
                Address: $('#instituteAddress').val()
            },
            success: function (data) {
                if (data.status == 1) {
                    alert(data.msg);
                    ClearEduTourEnquiryForm();
                    $("#myModal").modal('hide');
                }
                else {
                    alert(data.msg);
                }
            }
        });
        return false;
    }
    else {
        alert(message);
        return false;
    }
}
</script>

<div class="section general-tours">
    <img src="~/Content/Images/slider/Educational.jpg" class="tour-background-image">
    <div class="container">
        <!-- Start Video Section Content -->
        <div class="section-tours-title text-center">
            <h1 style="color:#2279be;" class="fittext black-text tlt">
                <span class="texts">
                    <span>Education To Explore</span>
                </span>
            </h1>
            <div class="home-tours-text">

            </div>
            @*<a href="#" class="btn-system btn-large">
                    <i class="fa fa-tasks"></i>
                    Check Out Features
                </a>*@

        </div>
    </div>
    <!-- End Section Content -->
</div>

<div class="section-educational-tours section ">
    <div id="content">
        <div class="container">
            
            @if (ViewBag.Products.Count > 0) { 
            <!--Start Recent Projects-->
            <div class="recent-projects">
                <h4 class="title"><span>Top Educational Tour Promotions</span></h4>
                <form name="TopPromotionsForm" action="~/home/TourPackageDetail" method="GET">
                    <div class="projects-carousel touch-carousel">
                        <!-- Start Project Item -->
                        @foreach (var productItem in ViewBag.Products)
                        {
                            <!-- Start Package Item -->
                            <a href="~/Products/Details/@productItem.Id">
                                <div class=" box portfolio-item item animation_effects_zoom">
                                    <div class="animation_effects_focus animation_effects_relative  animation_effects_overflow ">
                                        @if (productItem.Discount > 0)
                                        {
                                            <div class="tripjao-discount-box gdlr-core-outer-frame-element" style="color: #ffffff;background-color: #e85e34;">
                                                <div class="tripjao-discount-box-cornor" style="border-right-color: rgba(232, 94, 52, 0.5);">
                                                </div>@productItem.Discount% Off
                                            </div>
                                        }
                                        <img alt="" class="animation_effects_focus  img-box img-responsive" src='@productItem.ThumbnailPath'>
                                        <table class="animation_effects_focus  description-table">
                                            <tr class="description">
                                                <td>
                                                    <h4 class="product-name-thumbnail"> @productItem.ProductName</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href="~/Products/Details/@productItem.Id">Read More</a></td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="place-duration-main">
                                        <div class="place-duration">
                                            <p class="place">@productItem.Destination</p>
                                            <p class="duration">@productItem.NoOfDays Days / @productItem.NoOfNights Nights</p>
                                        </div>
                                        <div class="price-div">
                                            @if (productItem.DiscountedPrice > 0)
                                            {
                                                <p class="discounted-price"><i class="fa fa-inr"></i>&nbsp;@productItem.DiscountedPrice</p>
                                                    <p class="actual-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>
                                            }
                                            else
                                            {
                                                <p class="discounted-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>
                                                    @*<p class="actual-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>*@
                                            }
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!-- End Package Item -->
                        }
                        <input type="hidden" id="packageId" name="packageId" value="" />

                    </div>
                </form>
            </div>
            <!--End Recent Projects-->
            }
            <div class="tour-destination-table">
                <a href='~/Educational/IndustrialVisits'>
                    <div class="destination corporate">
                        <img src="~/Content/Images/Industrial-educational-visit.png">
                        <p>Industrial Visits</p>
                    </div>
                </a>
                <a href='~/Educational/Expos'>
                    <div class="destination cultural">
                        <img src="~/Content/Images/educational-expo.png">
                        <p>Expo's & Summets</p>
                    </div>
                </a>
                <a href='~/Educational/Competitions'>
                    <div class="destination domastic">
                        <img src="~/Content/Images/bus-1.png">
                        <p>Competition, <br />Accommodation & Transport</p>
                    </div>
                </a>
                <a href='~/Educational/International'>
                    <div class="destination international">
                        <img src="~/Content/Images/international.png">
                        <p>International</p>
                    </div>
                </a>
            </div>
            <div class="tour-enquiry-form">
                <table class="form-table">
                    <tr>
                        <td colspan="2" style="background-color:#f8ba01" align="center">
                            <h2>Enquiry Form for Educational Tours</h2>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            Welocme to exclusive service section of Tripjao, Request you to kindly fiil the form below.<br />
                            Our team will assist you with your Industrial Tour.
                        </td>

                    </tr>
                    <tr>

                        @*<td> Name of the Institute<span class="tripjao-required-field">*</span> : </td>*@
                        <td colspan="2" class="form-group">
                            <input type="hidden" value=@TripJao.Models.TourTypes.Educational id="tourType" />
                            @Html.TextBoxFor(model => model.InstituteName, new { @class = "form-control", @placeholder = "Institute Name", @id = "instituteName" })
                            @*<input type="text" name="InstituteName" class="form-control" placeholder="Institute Name">*@
                        </td>
                    </tr>
                    <tr>
                        @*<td>Department<span class="tripjao-required-field">*</span> : </td>*@
                        <td colspan="2" class="form-group">
                            @Html.TextBoxFor(model => model.Department, new { @class = "form-control", @placeholder = "Department", @id = "department" })
                            @*<input type="text" name="Department" class="form-control" placeholder="Department">*@
                        </td>
                    </tr>
                    <tr>
                        @*<td> Name of the Consern Faculty/Person<span class="tripjao-required-field">*</span> : </td>*@
                        <td colspan="2" class="form-group">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Faculty Name", @id = "facultyName" })
                            @*<input type="text" name="FacultyName" class="form-control" placeholder="Faculty Name">*@
                        </td>
                    </tr>
                    <tr>
                        @* <td> Email<span class="tripjao-required-field">*</span> : </td>*@
                        <td class="form-group">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @id = "email" })
                            @*<input type="text" name="Email" class="form-control" placeholder="Email">*@
                        </td>
                        <td class="form-group">
                            @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control", @placeholder = "Contact Number", @id = "contactNumber" })
                            @*<input type="text" class="form-control" name="ContactNumber" placeholder="Contact Number">*@
                        </td>
                    </tr>
                    @*<tr>
                            <td> Contact No.<span class="tripjao-required-field">*</span> : </td>
                            <td class="form-group">
                                @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control", @placeholder = "Contact Number", @id = "contactNumber", @style = "background-color:#ccc !important;" })
                                <input type="text" class="form-control" name="ContactNumber" placeholder="Contact Number">
                            </td>
                        </tr>*@
                    <tr>
                        @*<td> Address : </td>*@
                        <td colspan="2" class="form-group">
                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Address of Institute", @id = "instituteAddress" })
                            @*<textarea class="form-control" name="InstituteAddress" placeholder="Institute Address"></textarea>*@
                        </td>
                    </tr>
                    <tr>
                        @*<td> Preferable Intrests/Destinations<span class="tripjao-required-field">*</span> : </td>*@
                        <td colspan="2" class="form-group">
                            @Html.TextBoxFor(model => model.Destination, new { @class = "form-control", @placeholder = "Preferable Destination", @id = "prefDestination" })
                            @*<textarea class="form-control" name="PrefDestinations" placeholder="Preferable Destinations"></textarea>*@
                        </td>
                    </tr>
                    <tr>
                        @*<td> No. of Students<span class="tripjao-required-field">*</span> : </td>*@
                        <td class="form-group">
                            @Html.TextBoxFor(model => model.NoOfStudents, new { @class = "form-control", @placeholder = "Number of Students", @id = "noOfStudents" })
                            @*<input type="number" name="NoOfStudent" class="form-control" placeholder="Number of Students">*@
                        </td>
                        <td class="form-group">
                            @Html.TextBoxFor(model => model.NoOfTeachers, new { @class = "form-control", @placeholder = "Number of Teachers", @id = "noOfTeachers" })
                            @*<input type="number" name="NoOfTeachers" class="form-control" placeholder="Number of Teachers">*@
                        </td>
                    </tr>
                    @*<tr>
                            <td> No. of Faculty Person<span class="tripjao-required-field">*</span> : </td>
                            <td class="form-group">
                                @Html.TextBoxFor(model => model.NoOfTeachers, new { @class = "form-control", @placeholder = "Number of Teachers", @id = "noOfTeachers" })
                                @*<input type="number" name="NoOfTeachers" class="form-control" placeholder="Number of Teachers">
                            </td>
                        </tr>*@
                    <tr>
                        @*<td> Tentative Date for Tour<span class="tripjao-required-field">*</span> : </td>*@
                        <td colspan="2" class="form-group" align="center" style="align-items:center;">
                            <div class="DateControl edu-tour-date-control">
                                <div class="tripjao-datepicker-wrap">
                                    <div class="input-group date " data-provide="datepicker">
                                        @Html.TextBoxFor(model => model.TentativeDate, new { @class = "form-control", @placeholder = "Tentative Date", @id = "tentativeDate" })
                                        @*<input type="text" name="TentativeDate" placeholder="Tentative Date" class="form-control">*@
                                        <div class="input-group-addon date-wrap">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>                    
                    <tr>
                        <td colspan="2" class="form-group" align="center" style="align-items:center;"><button type="submit" style="width:100%; color: #fff; background-color: #428bca; border-color: #357ebd;" onclick="javascript: saveEducationalTourEnquiry();">Submit</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
