﻿
@{
    ViewBag.Title = "FAQ";
}

<div id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-8">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span><p class="faq-heading">FAQ's</p></span></h4>

                <div class="faq-main-div">


                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">Does TripJao book our air/rail tickets for Indian tours?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">Yes,</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; If you wish to book tickets from TripJao ,We can book your tickets  with extra required amount.</p>

                        </div>
                    </div><!-- faq-container -->

                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">If I book my own railway /air tickets, do I have to submit a copy to Tripjao?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">Yes,</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; Ticket details must be shared with TripJao in order to manage further schedule of tour.</p>

                        </div>
                    </div><!-- faq-container -->

                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">How much baggage is allowed per ticket?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; At present, depending upon the airline, most of the airlines are allowing 15 Kgs of Cargo bags per ticket and 05 Kgs of Handbag per ticket.</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; However we recommend you to check the same at the time of booking the air ticket.</p>
                        </div>
                    </div><!-- faq-container -->

                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">Do I need to carry any ID proof while traveling?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">Yes,</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; All the participants have to carry photo identification proof in the form of adhar card, driving license, election ID card, PAN card, passport and for students their school / college ID card.</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; Also, at certain sightseeing places in India any photo Identity proof (except PAN card) is a must to visit.</p>
                        </div>
                    </div><!-- faq-container -->
                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">Is there any refund against cancellation?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">Cancellation of tour will attract certain cancellation charges.</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i> &nbsp;&nbsp; Refer to terms and conditions of TripJao or the travel consultant at TripJao will give you the details about such cancellation.</p>

                        </div>
                    </div><!-- faq-container -->
                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">Can I avail any discount?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">Yes,</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; we have early booking discounts, group discounts, other discounts can be seen on website.</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; Also, at certain sightseeing places in India any photo Identity proof (except PAN card) is a must to visit.</p>
                        </div>
                    </div><!-- faq-container -->
                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">Can I extend my tour?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">Yes,</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; You can extend your tour by paying extra required amount.</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; This should be approved before tour departure and not during ongoing tour.</p>
                        </div>
                    </div><!-- faq-container -->
                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">Are the adventures fees included in tour cost?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">No,</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; Not all the adventures fees are included in the cost, however wherever adventure cost is included in package is mentioned in itinerary.</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; Also, at certain sightseeing places in India any photo Identity proof (except PAN card) is a must to visit.</p>
                        </div>
                    </div><!-- faq-container -->
                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">What type of Meals/Beverages are normally provided on tour?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">Hygienic Breakfast and Dinner</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; Pre-set vegetarian food along with one non vegetarian dish with local/ fast food item at times.</p>

                        </div>
                    </div><!-- faq-container -->
                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">How are the seats allocated?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">Seats allotted in the coach are on ‘First come, First serve basis’</p>

                        </div>
                    </div><!-- faq-container -->
                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">Can I get a special meal ?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">Yes,</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; With prior intimation and approval from Tripjao executive depending on local conditions. Special meal can be arranged.</p>

                        </div>
                    </div><!-- faq-container -->
                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">Does the company have its own cook?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">Yes,</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; However we offer food at Hotel restaurant.</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; Cook can be provided on special request for groups.</p>
                        </div>
                    </div><!-- faq-container -->
                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">What are the Hotel categories ?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">All the hotels will be delux and luxurious to stay.</p>

                        </div>
                    </div><!-- faq-container -->
                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">Do I have to pay for Driver, hotel tips?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">No,</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; All the tips to guides, driver, hotels, etc is paid by us.</p>
                        </div>
                    </div><!-- faq-container -->
                    <div class="faq-container">
                        <div class="faq-question-div">
                            <p class="que">Is passport mandatory?</p>
                        </div>
                        <div class="faq-answer-div">
                            <p class="ans faq-point">Yes,</p>
                            <p class="ans"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp; Passport is mandatory for international tours and any photo id proof for India tour.</p>
                        </div>
                    </div><!-- faq-container -->

                    @*<div class="faq-container read-more">
                        <a href="#">Read More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>*@

                </div><!-- faq-main-div -->

            </div>



        </div>

    </div>
</div>

