﻿@model TripJao.Models.Pagination
@{
    ViewBag.Title = "Far By Car";
}

<script type="text/javascript">

    function savedata()
    {
        var message = "";

        message = validateFarByCarEnquiryForm();
        if (message == "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Add", "Enquiry")',
                data: {
                    Name: $('#customerName').val(),
                    Email: $('#customerEmail').val(),
                    ContactNumber: $('#customerContact').val(),
                    //NoOfTravellers: $('#noOfTravellers').val(),
                    TentativeDate: $('#tentativeDate').val(),
                    //Enquiry: $('#customerEnquiry').val(),
                    Address: $('#address').val(),
                    Destination: $('#preDestination').val(),
                    Duration: $('#Duration').val(),
                    AdultCount: $('#adult').val(),
                    ChildCount: $('#child').val(),
                    TourType : $('#tourType').val()
                },
                success: function (data)
                {
                    if (data.status == 1)
                    {
                        alert(data.msg);
                        ClearFarByCarEnquiryForm();
                        $("#myModal").modal('hide');
                    }
                    else
                    {
                        alert(data.msg);
                    }
                }
            });
            return false;
        }
        else {
            alert(message);
            return false;
        }
    }


</script>

<div class="section general-tours">
    <img src="~/Content/Images/farbycar_bg.jpg" class="tour-background-image">
    <div class="container">

        <div class="section-tours-title text-center">
            <h1 class="fittext wite-text tlt">

                <span class="texts">
                    <span>Far By Car</span>
                </span>
            </h1>
        </div>
    </div>
    <!-- End Section Content -->

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".modal").appendTo("body").modal('show');
        $(".modal").modal({
            backdrop: 'static',
            keyboard: false
        });

        function alignModal() {
            var modalDialog = $(this).find(".modal-dialog");
            /* Applying the top margin on modal dialog to align it vertically center */
            modalDialog.css("margin-top", "80px");
            //modalDialog.css("width", "500px");
            //modalDialog.css("height", "auto");
            //modalDialog.css("position", "relative");
            //modalDialog.css("left", "433px");
            //modalDialog.css("opacity", "1");
            //modalDialog.css("overflow", "visible");
            //width: 500px; height: auto; position: absolute; top: 410px; left: 433px; opacity: 1; overflow: visible;
        }
        // Align modal when it is displayed
        $(".modal").on("shown.bs.modal", alignModal);
        //$(".modal-dialog").parent().on("show.bs.modal", function (e) { $(e.relatedTarget.attributes["data-target"].value).appendTo(‌​"body"); });
        // Align modal when user resize the window
        $(window).on("resize", function () {
            $(".modal:visible").each(alignModal);
        });
    });
</script>
@if (ViewBag.IsPageLoadFirstTime)
{
    <div name="far-by-car-enquiry-modal" id="far-by-car-enquiry-modal">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="far-by-car-enquiry-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                @*<span aria-hidden="true">&times;</span>*@
                                <img src='~/Content/Images/close.png' />
                                @*<i class="fa fa-close"></i>*@
                            </button>
                            <h4 class="modal-title" id="exampleModalLabel"><i class="fa fa-cab"></i>&nbsp;&nbsp;&nbsp;Far By Car !! Customize Your Tour !!</h4>

                        </div>
                        <div class="modal-body">

                            <div class="far-by-car-popup-form">
                                <div class="far-by-car-popup-form_row pop_search_form">
                                    <table class="far-by-car-form form-table">
                                        <tr>
                                            <td colspan="3" align="left">
                                                <ul>
                                                    <li>
                                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;&nbsp; We know you are special! Get your own customized crafted tour at Tripjao.
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;&nbsp; Fill the below form to begain the happy train of your customized tour.
                                                    </li>
                                                </ul>
                                            </td>

                                        </tr>
                                        <tr>

                                            @*<td> Name of the Institute<span class="tripjao-required-field">*</span> : </td>*@
                                            <td colspan="3" class="form-group">
                                                <input type="hidden" value=@TripJao.Models.TourTypes.FarByCar id="tourType" />
                                                @Html.TextBoxFor(model => model.PackageFeedBackForm.Name, new { @class = "form-control", @placeholder = "Name", @id = "customerName" })
                                            </td>
                                        </tr>

                                        <tr>
                                            @* <td> Email<span class="tripjao-required-field">*</span> : </td>*@
                                            <td class="form-group" colspan="3">
                                                <div class="col-md-6 col-sm-6 col-xs-12 far-by-car-form-control-left">
                                                    <div class="far-by-car-popup-form_row pop_search_form">

                                                        @Html.TextBoxFor(model => model.PackageFeedBackForm.ContactNumber, new { @class = "form-control", @placeholder = "Contact Number", @id = "customerContact" })

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 far-by-car-form-control-right">
                                                    <div class="far-by-car-popup-form_row pop_search_form">

                                                        @Html.TextBoxFor(model => model.PackageFeedBackForm.Email, new { @class = "form-control", @placeholder = "Email", @id = "customerEmail" })

                                                    </div>
                                                </div>
                                            </td>
                                            @*<td class="form-group">
                                                    @Html.TextBoxFor(model => model.PackageFeedBackForm.ContactNumber, new { @class = "form-control", @placeholder = "Contact Number", @id = "contactNumber", @style = "background-color:#ccc !important;" })
                                                    @*<input type="text" class="form-control" name="ContactNumber" placeholder="Contact Number">
                                                </td>
                                                <td></td>*@
                                        </tr>
                                        <tr>
                                            @*<td> Preferable Intrests/Destinations<span class="tripjao-required-field">*</span> : </td>*@
                                            <td colspan="3" class="form-group">

                                                @Html.TextBoxFor(model => model.PackageFeedBackForm.Destination, new { @class = "form-control", @placeholder = "Preferable Destination", @id = "preDestination" })
                                                @*<textarea class="form-control" name="PrefDestinations" placeholder="Preferable Destinations"></textarea>*@

                                            </td>
                                        </tr>
                                        <tr>
                                            @*<td> Tentative Date for Tour<span class="tripjao-required-field">*</span> : </td>*@
                                            <td class="form-group " colspan="3" align="center">
                                                <div class="col-md-6 col-sm-6 col-xs-12 far-by-car-form-control-left">
                                                    <div class="far-by-car-popup-form_row pop_search_form">
                                                        @Html.TextBoxFor(model => model.PackageFeedBackForm.TentativeBudget, new { @class = "form-control", @placeholder = "Tentative Budget", @id = "tentativeBudget" })
                                                        @*<input type="text" class="form-control" name="ContactNumber" placeholder="Contact Number">*@
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 far-by-car-form-control-right">
                                                    <div class="far-by-car-popup-form_row pop_search_form">
                                                        <div class="DateControl">
                                                            <div class="tripjao-datepicker-wrap">
                                                                <div class="input-group date " data-provide="datepicker">
                                                                    @Html.TextBoxFor(model => model.PackageFeedBackForm.TentativeDate, new { @class = "form-control", @placeholder = "Tentative Date", @id = "tentativeDate" })
                                                                    @*<input type="text" name="TentativeDate" placeholder="Tentative Date" class="form-control">*@
                                                                    <div class="input-group-addon date-wrap">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            @*<td> No. of Students<span class="tripjao-required-field">*</span> : </td>*@
                                            <td class="form-group">

                                                @Html.TextBoxFor(model => model.PackageFeedBackForm.Duration, new { @class = "form-control", @placeholder = "Duration", @id = "duration" })
                                                @*<input type="number" name="NoOfStudent" class="form-control" placeholder="Number of Students">*@
                                            </td>
                                            <td class="form-group">
                                                @Html.TextBoxFor(model => model.PackageFeedBackForm.AdultCount, new { @class = "form-control", @placeholder = "Adult", @id = "adult" })
                                                @*<input type="number" name="NoOfTeachers" class="form-control" placeholder="Number of Teachers">*@
                                            </td>
                                            <td class="form-group">
                                                @Html.TextBoxFor(model => model.PackageFeedBackForm.ChildCount, new { @class = "form-control", @placeholder = "Child", @id = "child" })
                                                @*<input type="number" name="NoOfTeachers" class="form-control" placeholder="Number of Teachers">*@
                                            </td>
                                        </tr>
                                        @*<tr>
                                                <td> No. of Faculty Person<span class="tripjao-required-field">*</span> : </td>
                                                <td class="form-group">
                                                    @Html.TextBoxFor(model => model.NoOfTeachers, new { @class = "form-control", @placeholder = "Number of Teachers", @id = "noOfTeachers" })
                                                    @*<input type="number" name="NoOfTeachers" class="form-control" placeholder="Number of Teachers">
                                                </td>
                                            </tr>*@

                                        <tr>
                                            <td colspan="3" class="form-group" align="center" style="align-items:center;"><button type="submit" style="width:100%; color: #fff; background-color: #428bca; border-color: #357ebd;" onclick="javascript: savedata();">Submit</button></td>
                                        </tr>
                                    </table>
                                    @*<div class="form-group">
                                                    <label class="control-label" for="txtName">
                                                        Name<span class="tripjao-required-field">*</span> :
                                                    </label>
                                                    <input type="hidden" value=@TripJao.Models.TourTypes.FarByCar id="tourType" />
                                                    @Html.TextBoxFor(model => model.PackageFeedBackForm.Name, new { @class = "form-control", @placeholder = "Name", @id = "customerName" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="far-by-car-popup-form_row pop_search_form">
                                                <div class="form-group">
                                                    <label class="control-label" for="txtContact">
                                                        Contact Number<span class="tripjao-required-field">*</span> :
                                                    </label>
                                                    @Html.TextBoxFor(model => model.PackageFeedBackForm.ContactNumber, new { @class = "form-control", @placeholder = "Contact Number", @id = "customerContact" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="far-by-car-popup-form_row pop_search_form">
                                                <div class="form-group">
                                                    <label class="control-label" for="txtEmail">
                                                        Email ID<span class="tripjao-required-field">*</span> :
                                                    </label>
                                                    @Html.TextBoxFor(model => model.PackageFeedBackForm.Email, new { @class = "form-control", @placeholder = "Email", @id = "customerEmail" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="far-by-car-popup-form_row pop_search_form">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Address :
                                                    </label>
                                                    @Html.TextAreaFor(model => model.PackageFeedBackForm.Address, new { @class = "form-control", @placeholder = "Current Address", @id = "address" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="far-by-car-popup-form_row pop_search_form">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Preferable Intrests/Destinations<span class="tripjao-required-field">*</span> :
                                                    </label>
                                                    <!--<input type="text" class="form-control" id="txtDestination" name="Destination" placeholder="Destination">-->
                                                    @Html.TextBoxFor(model => model.PackageFeedBackForm.Destination, new { @class = "form-control", @placeholder = "Preferred Destination", @id = "preDestination" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="far-by-car-popup-form_row pop_search_form">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Number Of Travellers<span class="tripjao-required-field">*</span> :
                                                    </label>
                                                    @Html.TextBoxFor(model => model.PackageFeedBackForm.NoOfTravellers, new { @class = "form-control", @placeholder = "Number of Traveller", @id = "noOfTravellers" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="far-by-car-popup-form_row pop_search_form">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Tentative Date for Tour<span class="tripjao-required-field">*</span>  :
                                                    </label>
                                                    <div class="DateControl">
                                                        <div class="tripjao-datepicker-wrap">
                                                            <div class="input-group date " data-provide="datepicker">
                                                                @Html.TextBoxFor(model => model.PackageFeedBackForm.TentativeDate, new { @class = "form-control", @placeholder = "Tentative Date", @id = "tentativeDate" })
                                                                <div class="input-group-addon date-wrap">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-12 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label" for="txtMoreDetail">
                                                        More Details :
                                                    </label>
                                                    <textarea class="form-control" id="txtEnMoreDetail" name="MoreDetail" placeholder="Enter More Details" rows="" cols=""></textarea>
                                                </div>
                                            </div>*@
                                    @*<div class="col-xs-3">
                                            <label class="font_normal radio-inline"><input type="radio" name="rdb_CallType1" id="EmailMe1" value="Email Me" checked="checked" class="set_radio_btn">Email Me</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="font_normal radio-inline"> <input type="radio" name="rdb_CallType1" id="CallMe1" value="Call Me" class="set_radio_btn">Call Me</label>
                                            </div>
                                        </div>*@

                                    @*<input type="hidden" id="hdnCallType1" name="CallType">*@

                                    @*<div class="col-md-12 col-sm-6 col-xs-12 text-right">
                                            <input type="submit" name="Submit" class="btn btn-primary" value="Submit">
                                        </div>*@
                                </div>

                                <div class="pop_advsearch" id="sucess_itineraryMsg" style="display: none;">
                                    <div class="pop_cmn_head">
                                        <h1>
                                            <div id="Subject">
                                                Your itinerary  has been sent successfully!
                                            </div>
                                        </h1>
                                    </div>
                                    <div class="far-by-car-popup-form">
                                        <div class="pop_search_form" id="divitineraryResponse">
                                        </div>
                                        <!-- /advance search form -->
                                    </div>
                                </div>
                                @*<ul>
                                        <li>
                                            We know you are special! Get your own customized crafted tour ar Tripjao.
                                        </li>
                                        <li>
                                            Fill the below form to begain the happy train of your customized tour.
                                        </li>
                                    </ul>*@
                                @*<div class="modal-footer">
                                        <div class="col-md-12 col-sm-6 col-xs-12 text-right">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-primary" href="javascript:;" onclick="savedata();">Send</a>
                                        </div>

                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="section">
    <div id="content">
        <div class="container">
            <div class=" portfolio-page portfolio-4column">
                <div class="big-title text-center" data-animation="fadeInDown"
                     data-animation-delay="01">
                    <h1 style="text-decoration:underline solid red ;">
                        <strong>Far By Car</strong>
                    </h1>
                </div>
                @if (Model.Products.Count() > 0)
                {
                    <div id="itemContainer" class="box-main">
                        <!-- ONE ROW START -->

                        @foreach (var productItem in Model.Products)
                        {
                        <!-- Start Package Item -->
                            <a href="~/Products/Details/@productItem.Id">
                                <div class=" box portfolio-item item animation_effects_zoom">
                                    <div class="animation_effects_focus animation_effects_relative  animation_effects_overflow ">
                                        @if (productItem.Discount > 0)
                                        {
                                            <div class="tripjao-discount-box gdlr-core-outer-frame-element" style="color: #ffffff;background-color: #e85e34;">
                                                <div class="tripjao-discount-box-cornor" style="border-right-color: rgba(232, 94, 52, 0.5);">
                                                </div>@productItem.Discount% Off
                                            </div>
                                        }
                                        <img alt="" class="animation_effects_focus  img-box img-responsive" src='@productItem.ThumbnailPath'>
                                        <table class="animation_effects_focus  description-table">
                                            <tr class="description">
                                                <td>
                                                    <h4 class="product-name-thumbnail"> @productItem.ProductName</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href="~/Products/Details/@productItem.Id">Read More</a></td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="place-duration-main">
                                        <div class="place-duration">
                                            <p class="place">@productItem.Destination</p>
                                            <p class="duration">@productItem.NoOfDays Days / @productItem.NoOfNights Nights</p>
                                        </div>
                                        <div class="price-div">
                                            @if (productItem.DiscountedPrice > 0)
                                            {
                                                <p class="discounted-price"><i class="fa fa-inr"></i>&nbsp;@productItem.DiscountedPrice</p>
                                                <p class="actual-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>
                                            }
                                            else
                                            {
                                                <p class="discounted-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>
                                                @*<p class="actual-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>*@
                                            }
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <!-- End Package Item -->
                        }
                        <!-- End Package Items -->

                    </div>
                }
                else
                {
                    @Html.Partial("~/Views/Shared/NoDataFound.cshtml")
                }
            </div>

        </div>
        @if (Model.Pager.EndPage > 1)
        {
            <div class="package-thumb-pagination  page-number-style-circle page-number-center-align pageination-item-div">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <a class="prev page-numbers" href="~/Tours/FarByCar?page=@(Model.Pager.CurrentPage - 1)"></a>
                }
                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <a class="page-numbers @(page == Model.Pager.CurrentPage ? "current" : "")" href="~/Tours/FarByCar?page=@page">@page</a>
                }
                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <a class="next-page page-numbers" href="~/Tours/FarByCar?page=@(Model.Pager.CurrentPage + 1)"></a>
                }
            </div>
        }
    </div>
</div>