﻿@model TripJao.Models.Pagination
@{
    ViewBag.Title = "Gallery";
}

<!-- Start Content -->
<div id="content">
    <div class="container">
        <!-- Start Big Heading -->
        <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
            <h1 class=" black-text" style="text-decoration:underline solid red ;">
                 <strong>Photo Gallery</strong>
            </h1>
        </div>
        <div class="portfolio-page portfolio-4column">
            <ul id="portfolio-list" data-animated="fadeIn">
                @foreach (var product in Model.Products)
                {
                    if (product.GalleyPaths != null)
                    {
                        foreach (var itemPath in product.GalleyPaths)
                        {
                            <li class="animation_effects_zoom">
                                <a class="lightbox" href='@itemPath' data-lightbox-gallery="gallery1">
                                    <div class="thumb-overlay"><i class="fa fa-arrow-circle-right"></i></div>
                                    <img src='@itemPath' alt='@product.ProductName' stlye="width:100%; height:100%;" />
                                </a>

                                @*<div class="portfolio-item-content">
                                    <span class="header">@product.Destination</span>
                                    <p class="body">@*web develpment, design</p>
                                </div>
                                <a class="lightbox" href='@itemPath' data-lightbox-gallery="gallery1" />*@
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        @if (Model.Pager.EndPage > 1)
        {
            <div class="package-thumb-pagination  page-number-style-circle page-number-center-align pageination-item-div">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <a class="prev page-numbers" href="~/Tours/DomesticTours?page=@(Model.Pager.CurrentPage - 1)"></a>
                }
                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <a class="page-numbers @(page == Model.Pager.CurrentPage ? "current" : "")" href="~/Tours/DomesticTours?page=@page">@page</a>
                }
                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <a class="next-page page-numbers" href="~/Tours/DomesticTours?page=@(Model.Pager.CurrentPage + 1)"></a>
                }
            </div>
        }
    </div>
</div>
