﻿
@{
    ViewBag.Title = "Honeymoon Tours";
}

<div class="section general-tours">

    <img src="~/Content/Images/slider/Honeymoon.jpg" class="tour-background-image">
    <div class="container">
        <!-- Start Video Section Content -->
        <div class="section-tours-title text-center">
            <h1 class="fittext black-text tlt">
                <span class="texts">
                    <span>Honeymoon Tours</span>
                </span>
            </h1>
            <div class="home-tours-text">
                
            </div>
            @*<a href="#" class="btn-system btn-large">
                <i class="fa fa-tasks"></i>
                Check Out Features
            </a>*@
        </div>
    </div>
    <!-- End Section Content -->
</div>
<div class="section">
    <div id="content">
        <div class="container">
            <div class="big-title text-center" data-animation="fadeInDown"
                 data-animation-delay="01">
                <h1 style="text-decoration:underline solid red ;">
                    <strong>Honeymoon Tours</strong>
                </h1>
            </div>
            <div class="tour-destination-table">
                <a href='~/Honeymoon/DomesticHoneymoon'>
                    <div class="destination-1">
                        <img src="~/Content/Images/domestic.png">
                        <p>India</p>
                    </div>
                </a>
                <a href='~/Honeymoon/InternationalHoneymoon'>
                    <div class="destination-1">
                        <img src="~/Content/Images/international.png">
                        <p>International</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>