﻿
@{
    ViewBag.Title = "Terms & Conditions";
}
<div id="content">
    <div class="terms-conditions-main">

        <!-- Start Big Heading -->
        <div class="big-title text-center" data-animation="fadeInDown"
             data-animation-delay="01">
            <h1 style="color:#666; text-decoration:underline;">
                <strong>Terms & Conditions</strong>
            </h1>
        </div>
        <div class="tripjao-tour-details-section section">

            <div class="tripjao-tour-page-builder-body">
                <div class="tripjao-tour-wrapper-div " style="padding: 70px 0px 30px 0px;" data-skin="Blue Icon" id="detail">
                    <div class="tripjao-tour-wrapper-div-content">
                        <div class="tripjao-tour-wrapper-div-container clearfix tripjao-tour-core-container">
                            <div class="tripjao-tour-element-div">
                                <div class="tripjao-tour-core-title-item tripjao-tour-core-item-pdb clearfix  tripjao-tour-core-left-align tripjao-tour-core-title-item-caption-bottom tripjao-core-item-div" style="padding-bottom: 35px;">
                                    <div class="tripjao-tour-core-title-item-title-wrap">
                                        <h6 class="tripjao-tour-core-title-item-title" style="font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                            <span class="tripjao-tour-core-title-item-left-icon" style="font-size: 18px;">
                                                <i class="fa fa-file-text-o"></i>
                                            </span>
                                            <span class="tripjao-tour-core-title-item-title-divider">Tour Cost Includes</span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="tripjao-tour-element-div">
                                <div class="tripjao-tour-element-div">
                                    <div class=" tripjao-core-item-div tripjao-tour-core-item-pdb  tripjao-tour-core-toggle-box-style-background-title tripjao-tour-core-left-align" style="padding-bottom: 25px;">
                                        @if (ViewBag.Inclusions != null)
                                        {
                                        <table>
                                            <tr>

                                                @foreach (var includesItem in ViewBag.Inclusions)
                                                    {
                                                    <td style="padding-left:10px; padding-right:10px" align="center">
                                                        <span class="tripjao-tour-core-icon-list-content">@includesItem.InclusionName</span>
                                                    </td>
                                                    }

                                            </tr>
                                            <tr>
                                                @foreach (var includesItem in ViewBag.Inclusions)
                                                    {
                                                    <td style="padding-left:10px; padding-right:10px" align="center">
                                                        <span class="tripjao-tour-core-icon-list-content"><img src='@includesItem.ThumbnailPath' style="height:50px; width50px;" /></span>
                                                    </td>
                                                    }
                                            </tr>
                                        </table>
                                        }
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-divider-item tripjao-core-item-div tripjao-tour-core-item-pdb tripjao-tour-core-divider-item-normal" style="padding-bottom: 19px;">
                                        <div class="tripjao-tour-core-divider-line">
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-title-item tripjao-tour-core-item-pdb clearfix  tripjao-tour-core-left-align tripjao-tour-core-title-item-caption-bottom tripjao-core-item-div" style="padding-bottom: 35px;">
                                        <div class="tripjao-tour-core-title-item-title-wrap">
                                            <h6 class="tripjao-tour-core-title-item-title" style="font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                                <span class="tripjao-tour-core-title-item-left-icon" style="font-size: 18px;">
                                                    <i class="fa fa-file-text-o"></i>
                                                </span>
                                                <span class="tripjao-tour-core-title-item-title-divider">Tour Cost Excludes</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class=" tripjao-core-item-div tripjao-tour-core-item-pdb  tripjao-tour-core-toggle-box-style-background-title tripjao-tour-core-left-align" style="padding-bottom: 25px;">
                                        @if (ViewBag.Exclusions != null)
                                        {
                                        <table>
                                            <tr>

                                                @foreach (var exclusionsItem in ViewBag.Exclusions)
                                                    {
                                                    <td style="padding-left:10px; padding-right:10px" align="center">
                                                        <span class="tripjao-tour-core-icon-list-content">@exclusionsItem.ExclusionName</span>
                                                    </td>
                                                    }

                                            </tr>
                                            <tr>
                                                @foreach (var exclusionsItem in ViewBag.Exclusions)
                                                    {
                                                    <td style="padding-left:10px; padding-right:10px" align="center">
                                                        <span class="tripjao-tour-core-icon-list-content"><img src='@exclusionsItem.ThumbnailPath' style="height:50px; width50px;" /></span>
                                                    </td>
                                                    }
                                            </tr>
                                        </table>
                                        }
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-divider-item tripjao-core-item-div tripjao-tour-core-item-pdb tripjao-tour-core-divider-item-normal" style="padding-bottom: 19px;">
                                        <div class="tripjao-tour-core-divider-line">
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-title-item tripjao-tour-core-item-pdb clearfix  tripjao-tour-core-left-align tripjao-tour-core-title-item-caption-bottom tripjao-core-item-div" style="padding-bottom: 35px;">
                                        <div class="tripjao-tour-core-title-item-title-wrap">
                                            <h6 class="tripjao-tour-core-title-item-title" style="font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                                <span class="tripjao-tour-core-title-item-left-icon" style="font-size: 18px;">
                                                    <i class="fa fa-file-text-o"></i>
                                                </span>
                                                <span class="tripjao-tour-core-title-item-title-divider">Payments Terms and Conditions</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class=" tripjao-core-item-div tripjao-tour-core-item-pdb  tripjao-tour-core-toggle-box-style-background-title tripjao-tour-core-left-align" style="padding-bottom: 25px;">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;Advance 50% of total tour package at the time of booking and will be non refundable.
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp; amount (Full Payment) to be paid before 30 days from the tour date.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-divider-item tripjao-core-item-div tripjao-tour-core-item-pdb tripjao-tour-core-divider-item-normal" style="padding-bottom: 19px;">
                                        <div class="tripjao-tour-core-divider-line">
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-title-item tripjao-tour-core-item-pdb clearfix  tripjao-tour-core-left-align tripjao-tour-core-title-item-caption-bottom tripjao-core-item-div" style="padding-bottom: 35px;">
                                        <div class="tripjao-tour-core-title-item-title-wrap">
                                            <h6 class="tripjao-tour-core-title-item-title" style="font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                                <span class="tripjao-tour-core-title-item-left-icon" style="font-size: 18px;">
                                                    <i class="fa fa-file-text-o"></i>
                                                </span>
                                                <span class="tripjao-tour-core-title-item-title-divider">Cancellation Policy</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class=" tripjao-core-item-div tripjao-tour-core-item-pdb  tripjao-tour-core-toggle-box-style-background-title tripjao-tour-core-left-align" style="padding-bottom: 25px;">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;Cancellation within 15 Days prior to the departure date of the tour packages / Hotel Booking / Transportation: 70 % Cancellation charge on tour cost.
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;Cancellation before 5 Day prior to the departure date of the tour packages / Hotel Booking / Transportation or Non Utilization of the same: 100 % Cancellation on tour cost.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-divider-item tripjao-core-item-div tripjao-tour-core-item-pdb tripjao-tour-core-divider-item-normal" style="padding-bottom: 19px;">
                                        <div class="tripjao-tour-core-divider-line">
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-title-item tripjao-tour-core-item-pdb clearfix  tripjao-tour-core-left-align tripjao-tour-core-title-item-caption-bottom tripjao-core-item-div" style="padding-bottom: 35px;">
                                        <div class="tripjao-tour-core-title-item-title-wrap">
                                            <h6 class="tripjao-tour-core-title-item-title" style="font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                                <span class="tripjao-tour-core-title-item-left-icon" style="font-size: 18px;">
                                                    <i class="fa fa-file-text-o"></i>
                                                </span>
                                                <span class="tripjao-tour-core-title-item-title-divider">Rates</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class=" tripjao-core-item-div tripjao-tour-core-item-pdb  tripjao-tour-core-toggle-box-style-background-title tripjao-tour-core-left-align" style="padding-bottom: 25px;">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;All rates are quoted per person inclusive of the prevailing taxes & service charges unless otherwise it is strictly specified therein.
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;Price Quotations are subject to change without notice until a booking has been confirmed.
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;Rates & availability are subject to change without prior notice & no refunds for unutilized services.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-divider-item tripjao-core-item-div tripjao-tour-core-item-pdb tripjao-tour-core-divider-item-normal" style="padding-bottom: 19px;">
                                        <div class="tripjao-tour-core-divider-line">
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-title-item tripjao-tour-core-item-pdb clearfix  tripjao-tour-core-left-align tripjao-tour-core-title-item-caption-bottom tripjao-core-item-div" style="padding-bottom: 35px;">
                                        <div class="tripjao-tour-core-title-item-title-wrap">
                                            <h6 class="tripjao-tour-core-title-item-title" style="font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                                <span class="tripjao-tour-core-title-item-left-icon" style="font-size: 18px;">
                                                    <i class="fa fa-file-text-o"></i>
                                                </span>
                                                <span class="tripjao-tour-core-title-item-title-divider">Special Request</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class=" tripjao-core-item-div tripjao-tour-core-item-pdb  tripjao-tour-core-toggle-box-style-background-title tripjao-tour-core-left-align" style="padding-bottom: 25px;">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;If there are any requests regarding special meals, Such request is subject to confirmation & availability.
                                                </span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-divider-item tripjao-core-item-div tripjao-tour-core-item-pdb tripjao-tour-core-divider-item-normal" style="padding-bottom: 19px;">
                                        <div class="tripjao-tour-core-divider-line">
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-title-item tripjao-tour-core-item-pdb clearfix  tripjao-tour-core-left-align tripjao-tour-core-title-item-caption-bottom tripjao-core-item-div" style="padding-bottom: 35px;">
                                        <div class="tripjao-tour-core-title-item-title-wrap">
                                            <h6 class="tripjao-tour-core-title-item-title" style="font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                                <span class="tripjao-tour-core-title-item-left-icon" style="font-size: 18px;">
                                                    <i class="fa fa-file-text-o"></i>
                                                </span>
                                                <span class="tripjao-tour-core-title-item-title-divider">Punctuality</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class=" tripjao-core-item-div tripjao-tour-core-item-pdb  tripjao-tour-core-toggle-box-style-background-title tripjao-tour-core-left-align" style="padding-bottom: 25px;">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;This is a measure to ensure your safety & time discipline. Clients will have to strictly follow to the prescribed timetable for the day. Please follow to time discipline so that scheduled sightseeing is not missed due to your actions. In case any sightseeing or services are missed due to your default the same will be non-refundable. Tour participants are requested to strictly follow the time schedule given at all times including the departure time from the hotel, sightseeing places, etc.
                                                </span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-divider-item tripjao-core-item-div tripjao-tour-core-item-pdb tripjao-tour-core-divider-item-normal" style="padding-bottom: 19px;">
                                        <div class="tripjao-tour-core-divider-line">
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-title-item tripjao-tour-core-item-pdb clearfix  tripjao-tour-core-left-align tripjao-tour-core-title-item-caption-bottom tripjao-core-item-div" style="padding-bottom: 35px;">
                                        <div class="tripjao-tour-core-title-item-title-wrap">
                                            <h6 class="tripjao-tour-core-title-item-title" style="font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                                <span class="tripjao-tour-core-title-item-left-icon" style="font-size: 18px;">
                                                    <i class="fa fa-file-text-o"></i>
                                                </span>
                                                <span class="tripjao-tour-core-title-item-title-divider">Meals</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class=" tripjao-core-item-div tripjao-tour-core-item-pdb  tripjao-tour-core-toggle-box-style-background-title tripjao-tour-core-left-align" style="padding-bottom: 25px;">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;There are pre-set menus provided by the restaurant. We, however, reserve the right to change the meal arrangement, where circumstances compel us to do so. Unlike an airline, we cannot process for a special meal, diet meal etc. nor can we guarantee special diet for customers if applicable. In the event that the client wakes up late & misses breakfast & in the event that the client is out on his own & reaches late & misses meals, then no claim can be made by him for the meal which he has missed and not.
                                                </span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-divider-item tripjao-core-item-div tripjao-tour-core-item-pdb tripjao-tour-core-divider-item-normal" style="padding-bottom: 19px;">
                                        <div class="tripjao-tour-core-divider-line">
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-title-item tripjao-tour-core-item-pdb clearfix  tripjao-tour-core-left-align tripjao-tour-core-title-item-caption-bottom tripjao-core-item-div" style="padding-bottom: 35px;">
                                        <div class="tripjao-tour-core-title-item-title-wrap">
                                            <h6 class="tripjao-tour-core-title-item-title" style="font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                                <span class="tripjao-tour-core-title-item-left-icon" style="font-size: 18px;">
                                                    <i class="fa fa-file-text-o"></i>
                                                </span>
                                                <span class="tripjao-tour-core-title-item-title-divider">Valuable loss/theft</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class=" tripjao-core-item-div tripjao-tour-core-item-pdb  tripjao-tour-core-toggle-box-style-background-title tripjao-tour-core-left-align" style="padding-bottom: 25px;">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;The organizers shall not under any circumstances whatsoever be liable to extent any help or compensate for the loss/theft, personal injury, sickness, delay increase expenses, consequential loss or any miss adventure however caused. The organizers reserve the right to claim any additional amount for the expenses due to delay or changes in train, bus, flight, ships or the services, weather conditions, war quarantine, strike or any other cause whatsoever. Once u book on the tour you get into an implied agreement with our company & have read the rules & regulation laid down by Company hence the institutions & the tour in charge has agreed to abide by them.
                                                </span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-divider-item tripjao-core-item-div tripjao-tour-core-item-pdb tripjao-tour-core-divider-item-normal" style="padding-bottom: 19px;">
                                        <div class="tripjao-tour-core-divider-line">
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-title-item tripjao-tour-core-item-pdb clearfix  tripjao-tour-core-left-align tripjao-tour-core-title-item-caption-bottom tripjao-core-item-div" style="padding-bottom: 35px;">
                                        <div class="tripjao-tour-core-title-item-title-wrap">
                                            <h6 class="tripjao-tour-core-title-item-title" style="font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                                <span class="tripjao-tour-core-title-item-left-icon" style="font-size: 18px;">
                                                    <i class="fa fa-file-text-o"></i>
                                                </span>
                                                <span class="tripjao-tour-core-title-item-title-divider">Documentation</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class=" tripjao-core-item-div tripjao-tour-core-item-pdb  tripjao-tour-core-toggle-box-style-background-title tripjao-tour-core-left-align" style="padding-bottom: 25px;">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;Passport
                                                    <ol>
                                                        <li>
                                                            For a guest travelling abroad, a passport is an official document and also an identity. A Visa is a must to enter any particular country.
                                                        </li>
                                                        <li>
                                                            The Passport should be valid for a minimum of 180 days from the date of arrival conclusion in India. Please cross check all your particulars including your name/ address/validity/expiry date and Blank pages for VISAs as per requirement. All travelers booking tours for the European sector should ensure that the Passport validity is for a maximum of 10 years. The passports are well maintained and should have sufficient blank pages (that are not damaged/stapled/torn) for recording stamping of visas of various countries. Handwritten passports are not allowed.
                                                        </li>
                                                    </ol>
                                                </span>
                                            </li>

                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;Visa
                                                    <ol>
                                                        <li>
                                                            Visa permits the guest to enter another country. For tourists, generally a short term visa is granted by the respective consulate. We are visa facilitators and generally assist guests for preparing Visa documents, submitting them & collecting the passports from the consulate. The Consulate may call the guest for a personal interview even after all relevant documents have been submitted. The company is not responsible for any kind of error caused by the consulate. The decision to issue the Visa is at the sole discretion of the respective consulate; the company does not have a hold on the decision of the consulate and cannot object to it either. Just in case your visa is granted on the old passport and has a validity kindly cross check whether you need to transfer the visa on the current passport.
                                                        </li>
                                                        <li>
                                                            Sometimes your Visa which is granted may have a longer validity than your passport in such a case please remember to carry your old passport along with your new passport.
                                                        </li>
                                                    </ol>
                                                </span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-divider-item tripjao-core-item-div tripjao-tour-core-item-pdb tripjao-tour-core-divider-item-normal" style="padding-bottom: 19px;">
                                        <div class="tripjao-tour-core-divider-line">
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-title-item tripjao-tour-core-item-pdb clearfix  tripjao-tour-core-left-align tripjao-tour-core-title-item-caption-bottom tripjao-core-item-div" style="padding-bottom: 35px;">
                                        <div class="tripjao-tour-core-title-item-title-wrap">
                                            <h6 class="tripjao-tour-core-title-item-title" style="font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                                <span class="tripjao-tour-core-title-item-left-icon" style="font-size: 18px;">
                                                    <i class="fa fa-file-text-o"></i>
                                                </span>
                                                <span class="tripjao-tour-core-title-item-title-divider">Note</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class=" tripjao-core-item-div tripjao-tour-core-item-pdb  tripjao-tour-core-toggle-box-style-background-title tripjao-tour-core-left-align" style="padding-bottom: 25px;">
                                        <ul>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;Due to any inherent condition which is beyond tour operator’s control if tour is cancelled tour fees would not be refunded back. Any dispute would be settled in Pune juridical only.
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <i class="fa fa-circle"></i> &nbsp;TripJao Hospitality Services will not be responsible if the flight/train/bus is delayed or cancelled.
                                                </span>
                                                <ol>
                                                    <li>
                                                        Govt. I. D. is compulsory for clients. Otherwise penalty in Railway if charged is to be borne by respective teacher only.
                                                    </li>
                                                    <li>
                                                        Any change in name of client is not acceptable as Railway charge penalty for change in name.
                                                    </li>
                                                </ol>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="tripjao-tour-element-div">
                                    <div class="tripjao-tour-core-divider-item tripjao-core-item-div tripjao-tour-core-item-pdb tripjao-tour-core-divider-item-normal" style="padding-bottom: 19px;">
                                        <div class="tripjao-tour-core-divider-line">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>