﻿
@{
    ViewBag.Title = "Tours";
}


<div class="section general-tours">

    <img src="~/Content/Images/Tours.jpg" class="tour-background-image" usemap="#toursMap">

    <div class="container">

        <!-- Start Video Section Content -->
        <div class="section-tours-title text-center">
            <h1 class="fittext wite-text tlt">
                <span class="texts">
                    <span>Tours</span>
                </span>
            </h1>
            <div class="home-tours-text">


            </div>
            @*<a href="#" class="btn-system btn-large">
                    <i class="fa fa-tasks"></i>
                    Check Out Features
                </a>*@

        </div>
        <!-- End Section Content -->

    </div>
    <!-- .container -->
</div>

<div class="section">
    <div id="content">
        <div class="container">
            <div class="tour-destination-table">
                <a href='~/Tours/CorporateTours'>
                    <div class="destination corporate">
                        <img src="~/Content/Images/corporate-tours.png">
                        <p>Corporate</p>
                    </div>
                </a>
                <a href='~/Tours/CulturalTours'>
                    <div class="destination cultural">
                        <img src="~/Content/Images/cultural-tours.png">
                        <p>Cultural</p>
                    </div>
                </a>
                <a href='~/Tours/DomesticTours'>
                    <div class="destination domastic">
                        <img src="~/Content/Images/domestic.png">
                        <p>Domestic</p>
                    </div>
                </a>
                <a href='~/Tours/InternationalTours'>
                    <div class="destination international">
                        <img src="~/Content/Images/international.png">
                        <p>International</p>
                    </div>
                </a>
            </div>

            @*<div class="htour-heading-div">
                    <p>Form</p>
                </div>

                <table class="form-table">
                    <tr>
                        <td><input type="text" name="" placeholder="Name"></td>
                        <td><input type="text" name="" placeholder="Surname"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="" placeholder="Email Id"></td>
                        <td><input type="text" name="" placeholder="Mobile Number"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button>Submit</button></td>

                    </tr>
                </table>*@
        </div>
    </div>
</div>

