﻿@model TripJao.Models.Pagination
@{
    ViewBag.Title = "Educational Industrial Visits";
}

<div class="section general-tours">
    <img src="~/Content/Images/slider/Educational.jpg" class="tour-background-image">
    <div class="container">
        <!-- Start Video Section Content -->
        <div class="section-tours-title text-center">
            <h1 style="color:#2279be;" class="fittext black-text tlt">
                <span class="texts">
                    <span>Education To Explore</span>
                </span>
            </h1>
            <div class="home-tours-text">

            </div>
            @*<a href="#" class="btn-system btn-large">
                    <i class="fa fa-tasks"></i>
                    Check Out Features
                </a>*@

        </div>
    </div>
    <!-- End Section Content -->
</div>
<div class="section">
    <div id="content">
        <div class="container">
            <div class=" portfolio-page portfolio-4column">
                <div class="big-title text-center" data-animation="fadeInDown"
                     data-animation-delay="01">
                    <h1 style="text-decoration:underline solid red ;">
                        <strong>Educational Tours</strong>
                    </h1>
                </div>
                @if (Model.Products.Count() > 0)
                {
                    <div id="itemContainer" class="box-main">
                        <!-- ONE ROW START -->
                        <!-- Start Project Item -->
                        @foreach (var productItem in Model.Products)
                        {
                        <!-- Start Package Item -->
                            <a href="~/Educational/Details/@productItem.Id">
                                <div class=" box portfolio-item item animation_effects_zoom">
                                    <div class="animation_effects_focus animation_effects_relative  animation_effects_overflow ">
                                        @if (productItem.Discount > 0)
                                        {
                                            <div class="tripjao-discount-box gdlr-core-outer-frame-element" style="color: #ffffff;background-color: #e85e34;">
                                                <div class="tripjao-discount-box-cornor" style="border-right-color: rgba(232, 94, 52, 0.5);">
                                                </div>@productItem.Discount% Off
                                            </div>
                                        }
                                        <img alt="" class="animation_effects_focus  img-box img-responsive" src='@productItem.ThumbnailPath'>
                                        <table class="animation_effects_focus  description-table">
                                            <tr class="description">
                                                <td>
                                                    <h4 class="product-name-thumbnail"> @productItem.ProductName</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href="~/Products/Details/@productItem.Id">Read More</a></td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="place-duration-main">
                                        <div class="place-duration">
                                            <p class="place">@productItem.Destination</p>
                                            <p class="duration">@productItem.NoOfDays Days / @productItem.NoOfNights Nights</p>
                                        </div>
                                        <div class="price-div">
                                            @if (productItem.DiscountedPrice > 0)
                                            {
                                                <p class="discounted-price"><i class="fa fa-inr"></i>&nbsp;@productItem.DiscountedPrice</p>
                                                <p class="actual-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>
                                            }
                                            else
                                            {
                                                <p class="discounted-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>
                                                @*<p class="actual-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>*@
                                            }
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <!-- End Package Item -->
                        }

                    </div>
                }
                else
                {
                    @Html.Partial("~/Views/Shared/NoDataFound.cshtml")
                }
            </div>

        </div>
        @if (Model.Pager.EndPage > 1)
        {
            <div class="package-thumb-pagination  page-number-style-circle page-number-center-align pageination-item-div">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <a class="prev page-numbers" href="~/Educational/IndustrialVisits?page=@(Model.Pager.CurrentPage - 1)"></a>
                }
                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <a class="page-numbers @(page == Model.Pager.CurrentPage ? "current" : "")" href="~/Educational/IndustrialVisits?page=@page">@page</a>
                }
                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <a class="next-page page-numbers" href="~/Educational/IndustrialVisits?page=@(Model.Pager.CurrentPage + 1)"></a>
                }
            </div>
        }
    </div>
</div>
