﻿@model TripJao.Models.TJ_Job_Category

@{
    ViewBag.Title = "Edit";
}

<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    Edit
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Job Category</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Job_Cat_Name, "Job Category", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Job_Cat_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Job_Cat_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

