﻿@model TripJao.Models.Country
@{
    ViewBag.Title = "Country Master";
}

@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}

<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    New Country
                </div>
                <div class="card-body">

                    @using (Html.BeginForm("Country", "Admin", FormMethod.Post))
                    {
                        @*<div class="form-group row">
                                @Html.LabelFor(model => model.SelectedRegion, new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.SelectedRegion, (List<SelectListItem>)(ViewBag.Regions), "Select Region", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SelectedRegion)
                                </div>
                            </div>*@

                        <div class="form-group row">
                            @Html.LabelFor(model => model.SelectedRegion, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.SelectedRegion, (List<SelectListItem>)(ViewBag.Regions), "Region", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SelectedRegion)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.CountryName, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.CountryName, new { @class = "form-control", @placeholder = "Country Name" })
                                @Html.ValidationMessageFor(model => model.CountryName)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.CountryCode, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.CountryCode, new { @class = "form-control", @placeholder = "Country code" })
                                @Html.ValidationMessageFor(model => model.CountryCode)
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>

            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Country List
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="width:100%;" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    
                                    @*<th>Region</th>*@
                                    <th>Code</th>
                                    <th>Country</th>
                                    <th>Region</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    @*<th>Region</th>*@
                                    <th>Code</th>
                                    <th>Country</th>
                                    <th>Region</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in ViewBag.Country)
                                {
                                    <tr>
                                        
                                        <td>@item.CountryCode</td>
                                        <td>@item.CountryName</td>
                                        <td>@item.SelectedRegion</td>
                                        <td>
                                            <a href="~/Country/Edit/@item.ID"> <i class="fa fa-edit text-info"></i> </a>
                                        </td>
                                        <td>
                                            <a href="~/Admin/DeleteCoutryMaster/@item.ID" onclick="return confirm('Are you sure you want to remove?')"> <i class="fa fa-trash text-danger"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>