﻿@model TripJao.Models.Exclusion
@{
    ViewBag.Title = "Exclusion Master";
}

@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}

<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    New Exclusion
                </div>
                <div class="card-body">

                    @using (Html.BeginForm("Exclusions", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group row">
                            @Html.LabelFor(model => model.ExclusionName, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.ExclusionName, new { @class = "form-control", @placeholder = "Exclusion Name" })
                                @Html.ValidationMessageFor(model => model.ExclusionName)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.ExclusionIconPath, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                <input type="file" name="thumbnail" title="Upload Thumbnail" class="col - sm - 6" />
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Exclusion
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="width:100%;" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    
                                    <th>Exclusion Name</th>
                                    <th>Exclusion Icon</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Exclusion Name</th>
                                    <th>Exclusion Icon</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in ViewBag.Exclusions)
                                {
                                    <tr>
                                        
                                        <td>@item.ExclusionName</td>
                                        <td><img src='@item.ExclusionIconPath' style="width:50px; height:50px;" /></td>
                                        <td>
                                            <a href="#"> <i class="fa fa-edit text-info" onclick='javascript: alert("this functionality in progress...")'></i> </a>
                                        </td>
                                        <td>
                                            <a href="~/Admin/DeleteExclusionMaster/@item.ID"> <i class="fa fa-trash text-danger"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

