﻿@model TripJao.Models.Iternaries
@{
    ViewBag.Title = "Iternaries";
}
<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    New Iternary
                </div>
                <div class="card-body">

                    @using (Html.BeginForm("Iternary", "Admin", FormMethod.Post))
                    {
                    <div class="form-group row">
                        @Html.LabelFor(model => model.IternaryCode, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.IternaryCode, new { @class = "form-control", @placeholder = "Iternary Code" })
                            @Html.ValidationMessageFor(model => model.IternaryCode)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RegionId, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.SelectedRegion, (List<SelectListItem>)(ViewBag.Regions), "Select Region", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SelectedRegion)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.CategoryId, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.SelectedCategory, (List<SelectListItem>)(ViewBag.Categories), "Select Category", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Description, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter Description..." })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Status, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.SelectedStatus, (List<SelectListItem>)(ViewBag.Status), "Select Status", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SelectedStatus)
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    }
                </div>
                @*<div class="card-footer small text-muted">
                        Updated yesterday at 11:59 PM
                    </div>*@
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Itenaries
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="width:100%;" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Iternary Code</th>
                                    <th>Region</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Iternary Code</th>
                                    <th>Region</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th>Description</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in ViewBag.Itenaries)
                                {
                                    <tr>
                                        <td>@item.IternaryCode</td>
                                        <td>@item.SelectedRegion</td>
                                        <td>@item.SelectedCategory</td>
                                        <td>@item.Status</td>
                                        <td>@item.Description</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @*<div class="card-footer small text-muted">
                    Updated yesterday at 11:59 PM
                </div>*@
            </div>

        </div>
    </div>
</div>