﻿@model TripJao.Models.JobCategory

@{
    ViewBag.Title = "Job Category";
}
@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}


<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    Create Job Catagory
                </div>
                <div class="card-body">

                    @using (Html.BeginForm("JobCategories", "Admin", FormMethod.Post))
                    {
                        <div class="form-group row">
                            @Html.LabelFor(model => model.JobCategoryName, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.JobCategoryName, new { @class = "form-control", @placeholder = "Enter Job Category" })
                                @Html.ValidationMessageFor(model => model.JobCategoryName)
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Job Vacancies
                </div>
                <div class="card-body">

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.JobCategoryName)
                            </th>                            
                            <th> Edit</th>
                            <th>Delete</th>
                        </tr>

                        @foreach (var item in ViewBag.JobCategories)
                        {
                            <tr>

                                <td>@item.JobCategoryName</td>
                                <td>
                                    <a href="~/jobCategories/Edit/@item.Id"> <i class="fa fa-edit text-info"></i> </a>
                                </td>
                                <td>
                                    <a href="~/admin/DeleteJobVacancies/@item.Id" onclick="return confirm('Are you sure you want to remove?')"> <i class="fa fa-trash  text-danger"></i></a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
