﻿@model TripJao.Models.JobVacancies

@{
    ViewBag.Title = "Job Vacancies";
}
@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}


<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    Create Job Vacancies
                </div>
                <div class="card-body">

                    @using (Html.BeginForm("JobVacancies", "Admin", FormMethod.Post))
                    {
                        <div class="form-group row">
                            @Html.LabelFor(model => model.JobCode, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.JobCode, new { @class = "form-control", @placeholder = "Enter Job code" })
                                @Html.ValidationMessageFor(model => model.JobCode)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.JobTitle, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.JobTitle, new { @class = "form-control", @placeholder = "Enter Job Title" })
                                @Html.ValidationMessageFor(model => model.JobTitle)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.SelectedJobCategory, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.SelectedJobCategory, (List<SelectListItem>)(ViewBag.jobCategory), "Select Job Category", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SelectedJobCategory)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.JobDesignation, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.JobDesignation, new { @class = "form-control", @placeholder = "Enter Job Designation" })
                                @Html.ValidationMessageFor(model => model.JobDesignation)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Qualification, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Qualification, new { @class = "form-control", @placeholder = "Enter Required Qualification" })
                                @Html.ValidationMessageFor(model => model.Qualification)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.MinExperience, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.MinExperience, new { @class = "form-control", @placeholder = "Enter Minimum Experience" })
                                @Html.ValidationMessageFor(model => model.MinExperience)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.MaxExperience, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.MaxExperience, new { @class = "form-control", @placeholder = "Enter Maximum Experience" })
                                @Html.ValidationMessageFor(model => model.MaxExperience)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.JobCTC, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.JobCTC, new { @class = "form-control", @placeholder = "Enter Job CTC" })
                                @Html.ValidationMessageFor(model => model.JobCTC)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.JobDescription, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.TextAreaFor(model => model.JobDescription, new { @class = "form-control", @placeholder = "Enter Job Description" })
                                @Html.ValidationMessageFor(model => model.JobDescription)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Job Vacancies
                </div>
                    <div class="card-body">

                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobTitle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobDesignation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MinExperience)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MaxExperience)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobCTC)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobDescription)
                                </th>
                                <th> Edit</th>
                                <th>Delete</th>
                            </tr>

                            @foreach (var item in ViewBag.JobVacancies)
                            {
                                <tr>
                                    
                                    <td>@item.JobCode</td>
                                    <td>@item.JobTitle</td>
                                    <td>@item.JobDesignation</td>
                                    <td>@item.MinExperience</td>
                                    <td>@item.MaxExperience</td>
                                    <td>@item.JobCTC</td>
                                    <td>@item.JobDescription</td>
                                    <td>
                                        <a href="~/jobvacancies/Edit/@item.Id"> <i class="fa fa-edit text-info"></i> </a>
                                    </td>
                                    <td>
                                        <a href="~/admin/DeleteJobVacancies/@item.Id" onclick="return confirm('Are you sure you want to remove?')"> <i class="fa fa-trash  text-danger"></i></a>
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
