﻿<meta id="MetaRefresh" http-equiv="refresh" content="21600;url=~/admin/KeepSessionAlive" runat="server" />
<script type="text/javascript" language="javascript">
    window.status =@ViewBag.WindowStatusText;

</script>