﻿@model TripJao.Models.Products
@{
    ViewBag.Title = "Products";
}

<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    New Product
                </div>
                <div class="card-body">

                    @using (Html.BeginForm("Products", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group row">
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.BusinessType, new { @class = "col-form-label " })<span> :</span>
                            </div>

                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.BusinessType, (List<SelectListItem>)(ViewBag.BusinessTypes), "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BusinessType)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.SelectedSeason, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                            </div>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.SelectedSeason, (List<SelectListItem>)(ViewBag.Seasons), "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SelectedSeason)
                            </div>
                        </div>
                        @*<div class="form-group row">
                                @Html.LabelFor(model => model.ValidFrom, new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.ValidFrom, new { @class = "form-control", @placeholder = "YYYY/MM/DD" })
                                    @Html.ValidationMessageFor(model => model.ValidFrom)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ValidTo, new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.ValidTo, new { @class = "form-control", @placeholder = "YYYY/MM/DD" })
                                    @Html.ValidationMessageFor(model => model.ValidTo)
                                </div>
                            </div>*@
                        @*<div class="form-group row">
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.SelectedRegion, new { @class = "col-form-label" }) <span class="tripjao-required-field">*</span> :
                                </div>

                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.SelectedRegion, (List<SelectListItem>)(ViewBag.Regions), "Select", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SelectedRegion)
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.SelectedCountry, new { @class = "col-form-label" }) <span class="tripjao-required-field">*</span> :
                            </div>

                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.SelectedCountry, (List<SelectListItem>)(ViewBag.Countries), "Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SelectedCountry)
                            </div>
                        </div>
                        @*<div class="form-group row">
                                @Html.LabelFor(model => model.SelectedIternary, new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.SelectedIternary, (List<SelectListItem>)(ViewBag.Itenaries), "Select", new { @class = "form-control" })
                                </div>
                            </div>*@
                        @*<div class="form-group row">
                                @Html.LabelFor(model => model.IternaryDescription, new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.IternaryDescription, new { @class = "form-control", @placeholder = "Enter Description" })
                                    @Html.ValidationMessageFor(model => model.IternaryDescription)
                                </div>
                            </div>*@
                        @*<div class="form-group row">
                                @Html.LabelFor(model => model.IternaryCategory, new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.IternaryCategory, (List<SelectListItem>)(ViewBag.Categories), "Select", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IternaryCategory)
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.Category, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                            </div>
                            <div class="col-sm-10">
                                @for (int i = 0; i < Model.Categories.Count(); i++)
                                {
                                    <span>&nbsp;</span>
                                    @Html.CheckBoxFor(m => m.Categories[i].Checked, new { @class = "checkbox-inline" })
                                    @Html.HiddenFor(m => m.Categories[i].Text)
                                    @Html.HiddenFor(m => m.Categories[i].Id)
                                    @Html.DisplayFor(m => m.Categories[i].Text, new { @class = "checkbox-inline" })
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.ProductIternaryCode, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                            </div>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.ProductIternaryCode, new { @class = "form-control", @placeholder = "Enter Product Code" })
                                @Html.ValidationMessageFor(model => model.ProductIternaryCode)
                            </div>
                        </div>

                            <div class="form-group row">
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.ProductName, "Product Name", new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", @placeholder = "Enter Product Name" })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.DaysAndNights, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                </div>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(model => model.NoOfDays, new { @class = "form-control", @placeholder = "Enter Total days" })
                                    @Html.ValidationMessageFor(model => model.NoOfDays)
                                </div>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(model => model.NoOfNights, new { @class = "form-control", @placeholder = "Enter Total Nights" })
                                    @Html.ValidationMessageFor(model => model.NoOfNights)
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Source, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Source, new { @class = "form-control", @placeholder = "Enter city from" })
                                    @Html.ValidationMessageFor(model => model.Source)
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Destination, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Destination, new { @class = "form-control", @placeholder = "Enter city to" })
                                    @Html.ValidationMessageFor(model => model.Destination)
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.CostPrice, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.CostPrice, new { @class = "form-control", @id = "txtCostPrise", @placeholder = "Enter package price" })
                                    @Html.ValidationMessageFor(model => model.CostPrice)
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.Discount, new { @class = "col-form-label" })<span> :</span>
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Discount, new { @class = "form-control", @id = "txtDiscount", @name = "txtDiscount", @placeholder = "Enter discount" })
                                    @Html.ValidationMessageFor(model => model.Discount)
                                </div>
                            </div>
                            <script type="text/javascript">
                                $("#txtDiscount").focusout(function () {
                                    var costPrice = $("#txtCostPrise").val();
                                    var discount = $("#txtDiscount").val();
                                    var discountedPrice = 0;
                                    if (costPrice != 'undefined' || costPrice != null || costPrice > 0) {
                                        if (discount != 'undefined' && discount != null && discount > 0) {
                                            discountedPrice = costPrice - (costPrice * (discount / 100));
                                            $("#txtDiscountedPrice").val(discountedPrice);
                                        }
                                        else {
                                            $("#txtDiscountedPrice").val("");
                                        }
                                    }
                                });

                            </script>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.DiscountedPrice, new { @class = "col-form-label" })<span> :</span>
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.DiscountedPrice, new { @class = "form-control", @id = "txtDiscountedPrice", @ReadOnly = "true", @name = "txtDiscountedPrice", @placeholder = "Enter booking price", @value = (Model.Discount > 0) ? (Model.CostPrice - (Model.CostPrice * (Model.Discount / 100))).ToString() : "0" })
                                    @Html.ValidationMessageFor(model => model.DiscountedPrice)
                                </div>
                            </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.IternaryStatus, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                    </div>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(model => model.IternaryStatus, (List<SelectListItem>)(ViewBag.IternaryStatus), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IternaryStatus)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        @Html.Label("Location Path", new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                    </div>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(model => model.LocationPath, new { @class = "form-control", @placeholder = "Enter Map Path" })
                                        @Html.ValidationMessageFor(model => model.LocationPath)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.IternaryDescription, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                    </div>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(model => model.IternaryDescription, new { @class = "form-control", @placeholder = "Enter Description" })
                                        @Html.ValidationMessageFor(model => model.IternaryDescription)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.Inclusions, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                    </div>
                                    <div class="col-sm-10">
                                        @for (int i = 0; i < Model.Inclusions.Count(); i++)
                                        {
                                            <span>&nbsp;</span>
                                            @Html.CheckBoxFor(m => m.Inclusions[i].Checked, new { @class = "checkbox-inline" })
                                            @Html.HiddenFor(m => m.Inclusions[i].Text)
                                            @Html.HiddenFor(m => m.Inclusions[i].Id)
                                            @Html.DisplayFor(m => m.Inclusions[i].Text, new { @class = "checkbox-inline" })
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.Exclusions, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                    </div>
                                    <div class="col-sm-10">
                                        @for (int i = 0; i < Model.Exclusions.Count(); i++)
                                        {
                                            <span>&nbsp;</span>
                                            @Html.CheckBoxFor(m => m.Exclusions[i].Checked, new { @class = "checkbox-inline" })
                                            @Html.HiddenFor(m => m.Exclusions[i].Id)
                                            @Html.HiddenFor(m => m.Exclusions[i].Text)
                                            @Html.DisplayFor(m => m.Exclusions[i].Text, new { @class = "checkbox-inline" })
                                        }
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.TopPromotion, new { @class = "col-form-label" })<span> :</span>
                                    </div>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(model => model.TopPromotion, (List<SelectListItem>)(ViewBag.TopPromotions), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TopPromotion)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        @Html.Label("Thumbnail Image", new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="file" name="thumbnail" class="col - sm - 6" />

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                    }
                </div>
            </div>

            @*<div class="card mb-3">
                    <div class="card-body">
                        <ul class="nav nav-tabs">
                            <li class="active"> <a href="#tab1default" data-toggle="tab"> <i class="fa fa-sticky-note-o"></i> Routes</a></li>
                            <li><a href="#tab2default" data-toggle="tab"> <i class="fa fa-sticky-note-o"></i>  Price</a></li>
                            <li><a href="#tab3default" data-toggle="tab"> <i class="fa fa-sticky-note-o"></i>  Miscelineous</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1default">
                                <div class="card-body">
                                    <form class="form-inline">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>City</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" , placeholder="City" id="city" value="" />
                                                </td>
                                                <td>
                                                    <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" , placeholder="YYYY/MM/DD" id="from" value="" />
                                                </td>
                                                <td>
                                                    <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" , placeholder="YYYY/MM/DD" id="to" value="" />
                                                </td>
                                                <td>
                                                    <button type="button" id="add" class="btn btn-primary">+</button>
                                                    <button type="button" id="del" class="btn btn-danger">-</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2default">Price</div>
                            <div class="tab-pane fade" id="tab3default">Miscelineous</div>
                        </div>

                    </div>
                </div>*@

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Products
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="width:100%;" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    
                                    <th>Name</th>
                                    <th>Code</th>
                                    @*<th>Region</th>*@
                                    <th>Country</th>
                                    <th>Source</th>
                                    <th>Destination</th>
                                    @*<th> Category</th>*@
                                    <th>Price</th>
                                    @*<th>Selling Price</th>*@
                                    <th>Discount</th>
                                    <th>Days</th>
                                    @*<th>Thumbnail</th>*@
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    
                                    <th>Name</th>
                                    <th>Code</th>
                                    @*<th>Region</th>*@
                                    <th>Country</th>
                                    <th>Source</th>
                                    <th>Destination</th>
                                    @*<th> Category</th>*@
                                    <th>Price</th>
                                    @*<th>Selling Price</th>*@
                                    <th>Discount</th>
                                    <th>Days</th>
                                    @*<th>Thumbnail</th>*@
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in ViewBag.Products)
                                {
                                    <tr>
                                        
                                        <td>@item.ProductName</td>
                                        <td>@item.ProductIternaryCode</td>
                                        @*<td>@item.SelectedRegion</td>*@
                                        <td>@item.SelectedCountry</td>
                                        <td>@item.Source</td>
                                        <td>@item.Destination</td>
                                        @*<td>@item.IternaryCategory</td>*@
                                        <td>@item.CostPrice</td>
                                        @*<td>@item.SellingPrice</td>*@
                                        <td>@item.Discount</td>
                                        <td>@item.NoOfDays</td>
                                        @*<td><img src='@item.Thumbnail' alt="Thumbnail" style="width:100%;height:10%;" /></td>*@
                                        <td>
                                            <a href="~/Product/Edit?id=@item.Id&viewName=Products"> <i class="fa fa-edit text-info" @*onclick='javascript: alert("this functionality in progress...")'*@></i> </a>
                                        </td>
                                        <td>
                                            <a href="~/Admin/DeleteProduct?id=@item.Id&viewName=Products" onclick="return confirm('Are you sure you want to remove?')"> <i class="fa fa-trash text-danger"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: black !important;
        background-color: #ddd !important;
        border: 1px solid #ddd !important;
        border-bottom-color: transparent !important;
    }

    .nav-tabs > li > a {
        margin-right: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        line-height: 1.428571429;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
    }
</style>

<script>
    $('#add').click(function () {
        var city = $("#city").val();
        var from = $("#from").val();
        var to = $("#to").val();
        if (city == "" || from == "" || to == "") {
            alert("Enter data first");
            return;
        }
        var table = $(this).closest('table');
        var len = table.find('input[name="city"]').length;
        if (table.find('input[name="city"]').length < 10) {
            table.append('<tr><td><input type="text" value = ' + city + ' class="form-control mb-2 mr-sm-2 mb-sm-0", placeholder="City" name="city" readonly /></td> <td><input type="date" value = ' + to + '  class="form-control mb-2 mr-sm-2 mb-sm-0", placeholder="From" name="from" readonly/></td> <td> <input type="date" value = ' + to + '  class="form-control mb-2 mr-sm-2 mb-sm-0", placeholder="To" name="to" readonly/></td></tr > ');
            $("#city").val("");
            $("#from").val("");
            $("#to").val("");
        }
    });
    $('#del').click(function () {
        var table = $(this).closest('table');
        var len = table.find('input[name="city"]').length;
        if (table.find('input[name="city"]').length > 0) {
            table.find('input:text').last().closest('tr').remove();
        }
    });

</script>

@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}
