﻿@model List<TripJao.Models.ProductRoutes>
@{
    ViewBag.Title = "Product Day Wise Plan";
}
<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">
        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    New Plans
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ProductDayWisePlan", "Admin", FormMethod.Post))
                    {
                        <div class="form-group row">
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model[0].SelectedProduct, new { @class = "col-form-label" }) <span class="tripjao-required-field">*</span> :
                            </div>
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model[0].SelectedProduct, (List<SelectListItem>)(ViewBag.Products), "Select", new { @class = "form-control", onchange = "jsProductSelect(this.value);" })
                                    @Html.ValidationMessageFor(model => model[0].SelectedProduct)
                                </div>
                            </div>
                        <div id="daysModel">
                            @for (int i = 0; i < 5; i++)
                            {
                                <div class="card mb-3">
                                    <div class="card-header">@Html.Label("Day - " + (i + 1))</div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-sm-2">
                                                @Html.LabelFor(model => model[i].City, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                            </div>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model[i].City, new { @class = "form-control", @placeholder = "Enter City" })
                                                    @Html.ValidationMessageFor(model => model[i].City)
                                                </div>
                                            </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2">
                                                @Html.LabelFor(model => model[i].PickupPoint, new { @class = "col-form-label" })<span> :</span>
                                                </div>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model[i].PickupPoint, new { @class = "form-control", @placeholder = "Enter Pick Up Point" })
                                                    @Html.ValidationMessageFor(model => model[i].PickupPoint)
                                                </div>
                                            </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2">
                                                @Html.LabelFor(model => model[i].DropPoint, new { @class = "col-form-label" })<span> :</span>
                                            </div>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model[i].DropPoint, new { @class = "form-control", @placeholder = "Enter Drop Point" })
                                                    @Html.ValidationMessageFor(model => model[i].DropPoint)
                                                </div>
                                            </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2">
                                                @Html.LabelFor(model => model[i].Description, new { @class = "col-form-label" })<span class="tripjao-required-field">*</span> :
                                            </div>
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(model => model[i].Description, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model[i].Description)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="form-group row">
                            <input type="hidden" name="thumbnail" class="col - sm - 6" />
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>
                Product Day Wise Plans
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" style="width:100%;" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                
                                <th>Product Code</th>
                                <th>City</th>
                                <th>Pickup Point</th>
                                <th>Drop Point</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                
                                <th>Product Code</th>
                                <th>City</th>
                                <th>Pickup Point</th>
                                <th>Drop Point</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in ViewBag.DayWisePlans)
                            {
                                <tr>
                                    
                                    <td>@item.SelectedProduct</td>
                                    <td>@item.City</td>
                                    <td>@item.PickupPoint</td>
                                    <td>@item.DropPoint</td>
                                    <td>
                                        <a href="~/Product_Iternaries/Edit/@item.Id"> <i class="fa fa-edit text-info" @*onclick='javascript: alert("this functionality in progress...")'*@></i> </a>
                                    </td>
                                    <td>
                                        <a href="~/Product_Iternaries/DeleteConfirmed/@item.Id" onclick="return confirm('Are you sure you want to remove?')"> <i class="fa fa-trash text-danger"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}
