﻿@model TripJao.Models.Products
@{
    ViewBag.Title = "Photo Gallary";
}
<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">
        <div class="container-fluid">
            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    Upload Photos
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ProductPhotoGallary", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group row">
                            @Html.LabelFor(model => model.SelectedProduct, new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.SelectedProduct, (List<SelectListItem>)(ViewBag.Products), "Select", new { @class = "form-control", onchange = "jsProductSelect(this.value);" })
                                @Html.ValidationMessageFor(model => model.SelectedProduct)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Photo - 1", new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                <input type="file" name="photo1" class="col-sm-10" />
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Photo - 2", new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                <input type="file" name="photo2" class="col-sm-10" />
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Photo - 3", new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                <input type="file" name="photo3" class="col-sm-10" />
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Photo - 4", new { @class = "col - sm - 2 col - form - label" })
                            <div class="col-sm-10">
                                <input type="file" name="photo4" class="col-sm-10" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-offset-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>           

        </div>
    </div>
</div>

@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}
