﻿@model TripJao.Models.TJ_Cities

@{
    ViewBag.Title = "Delete";
}


<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    Delete
                </div>
                <div class="card-body">

                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        <h4>Cities</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Code)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Code)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TJ_Region.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TJ_Region.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TJ_Zones.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TJ_Zones.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TJ_Zones1.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TJ_Zones1.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TJ_Country.CountryCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TJ_Country.CountryCode)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

