﻿/*
	Author: animation_effects
	Author URI: http://www.animation_effectsthemes.com/
*/


/****************************************************************************
	Table of Content
***************************************************************************


SOME CLASSES THAT YOU CAN APPLY TO ALL ELEMENTS FOR DECIDE THE GRAPHIC
	1- background class
	2- border color options
	3- shadow color for elements
	4- radius options
	5- strike text


SOME SHORTCODES FOR CREATE YOUR PAGES
	6- logo options
	7 button rules
	8- btn icon
	9- btn icon bg
	10- divider
	11- dropcaps
	12- alerts
	13- iframe
	14- accordion
	15- toogle
	16- progress bar
	17- tabs
	18- list
	19- table
	20- filter
	21- left sidebar
	22- right sidebar
	23- triangle


SOME CLASSES FOR MARGIN, PADDING AND POSITION OPTIONS
	24- block
	25- display none
	26- padding
	27- space
	28- margin
	29- size
	30- absolute
	31- relative
	32- height


SOME CLASSES FOR ARCHIVE SECTION
	33- textevidence
	34- focus
	35- archive
	36- activity
	37- mansonry


EFFECTS HOVER
	38- rotate
	39- press
	40- zoom
	41- opacity
	42- transition
	43- bg


JQUERY UI
	44- calendar
	45- tooltip
	46- slide range

*/




/***********************SOME CLASSES THAT YOU CAN APPLY TO ALL ELEMENTS FOR DECIDE THE GRAPHIC*************************************/



/* 1 - START.animation_effectsBG*/
.animation_effects_bg_white {
    background-color: #ffffff;
}

.animation_effects_bg_grey {
    background-color: #f9f9f9;
}

.animation_effects_bg_grey2 {
    background-color: #f1f1f1;
}

.animation_effects_bg_none {
    background-color: none;
}
/*END.animation_effectsBG*/



/* 2- START.animation_effectsBORDER: applica l'ombra del colore selezionato*/
.animation_effects_border_white, .animation_effects_border_white td, .animation_effects_border_white th {
    border: 1px solid #ffffff;
}

.animation_effects_border_grey, .animation_effects_border_grey td, .animation_effects_border_grey th {
    border: 1px solid #F8C300;
}

.animation_effects_borderbottom_grey {
    border-bottom: 1px solid #f1f1f1;
}

.animation_effects_border_grey2, .animation_effects_border_grey2 td, .animation_effects_border_grey2 th {
    border: 1px solid #e5e5e5;
}

.animation_effects_border_greydark2, .animation_effects_border_greydark2 td, .animation_effects_border_greydark2 th {
    border: 1px solid #353b3d;
}
/*none*/
.animation_effects_border_none {
    border: 0px solid #f1f1f1 !important;
}
/*END.animation_effectsBORDER*/



/* 3- START.animation_effectsSHADOW: applica l'ombra in base al colore dato usando la classe.animation_effects_bg_colore*/
.animation_effects_shadow.animation_effects_bg_grey {
    box-shadow: 0px 4px 0px 0px #f1f1f1;
}

.animation_effects_shadow.animation_effects_bg_grey2 {
    box-shadow: 0px 4px 0px 0px #e5e5e5;
}
/*END.animation_effectsSHADOW*/



/* 4 -START.animation_effects_RADIUS*/
.animation_effects_radius {
    border-radius: 5px 5px 5px 5px;
}

.animation_effects_radius_top {
    border-radius: 5px 5px 0px 0px;
}

.animation_effects_radius_bottom {
    border-radius: 0px 0px 5px 5px;
}

.animation_effects_radius_left {
    border-radius: 5px 0px 0px 5px;
}

.animation_effects_radius_right {
    border-radius: 0px 5px 5px 0px;
}

.animation_effects_radius_circle {
    border-radius: 100%;
}

.animation_effects_radius_none {
    border-radius: 0px 0px 0px 0px;
}
/*END.animation_effects_RADIUS*/



/* 5- START.animation_effects_STRIKE*/
.animation_effects_strike {
    text-decoration: line-through;
}
/*END.animation_effects_STRIKE*/



/*****************************************SOME SHORTCODES FOR CREATE YOUR PAGES********************************************/



/* 6 - START LOGO*/
.animation_effects_logo {
    float: left;
    position: relative;
    width: 10px;
    height: 10px;
}

    .animation_effects_logo img {
        position: absolute;
        border: 0;
    }
/*END LOGO*/


/* 7 - START NIKBTN:*/
.animation_effects_btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

    .animation_effects_btn.left {
        float: left;
    }

    .animation_effects_btn.right {
        float: right;
    }

    .animation_effects_btn.fullwidth {
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 100%;
    }
    /*size*/
    .animation_effects_btn.extrasmall {
        padding: 2px 10px;
        font-size: 13px;
    }

    .animation_effects_btn.small {
        padding: 5px 10px;
        font-size: 15px;
    }

    .animation_effects_btn.medium {
        padding: 10px 20px;
        font-size: 17px;
        background-color: #2461A3;
    }

    .animation_effects_btn.big {
        padding: 15px 20px;
        font-size: 19px;
    }

    .animation_effects_btn.extrasize {
        padding: 20px;
        font-size: 45px;
        line-height: 45px;
    }
/*filter*/
.animation_effects_btn_filter {
    background-image: url(../img/filter.png);
    background-repeat: no-repeat;
    background-position: right -20px;
    background-size: 150px 150px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .animation_effects_btn_filter:hover {
        background-position: right 0px;
    }
/*pagination*/
.animation_effects_btn.active {
    color: #fff;
}
/*END NIKBTN*/



/* 8 - START NIKBTNICON:*/
.animation_effects_btn_icon {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

    .animation_effects_btn_icon > i {
        display: inline-block;
        width: 20px;
        height: 20px;
    }

        .animation_effects_btn_icon > i:before {
            margin: 0px;
            padding: 0px;
        }

    .animation_effects_btn_icon.left {
        float: left;
    }

    .animation_effects_btn_icon.right {
        float: right;
    }
    /*size*/
    .animation_effects_btn_icon.extrasmall {
        padding: 5px;
        font-size: 14px;
    }

    .animation_effects_btn_icon.small {
        padding: 10px;
        font-size: 15px;
    }

    .animation_effects_btn_icon.medium {
        padding: 15px;
        font-size: 17px;
    }

    .animation_effects_btn_icon.big {
        padding: 20px;
        font-size: 19px;
    }
    /*extra big*/
    .animation_effects_btn_icon.extrabig > i {
        display: inline-block;
        width: 40px;
        height: 40px;
    }

    .animation_effects_btn_icon.extrabig {
        padding: 20px;
        font-size: 32px;
    }
/*END NIKBTNICON*/



/* 9 - START NIKBTNICON:*/
.animation_effects_btn_iconbg {
    display: inline-block;
}

    .animation_effects_btn_iconbg > div {
        overflow: hidden;
        position: relative;
    }
    /*size*/
    .animation_effects_btn_iconbg.small, .animation_effects_btn_iconbg.small > div {
        width: 40px;
        height: 40px;
    }

    .animation_effects_btn_iconbg.medium, .animation_effects_btn_iconbg.medium > div {
        width: 50px;
        height: 50px;
    }

    .animation_effects_btn_iconbg.big, .animation_effects_btn_iconbg.big > div {
        width: 60px;
        height: 60px;
    }

    .animation_effects_btn_iconbg.extrabig, .animation_effects_btn_iconbg.extrabig > div {
        width: 80px;
        height: 80px;
    }
/*END NIKBTNICON*/



/*START.animation_effectsICONBG*/
.animation_effects_iconbg {
    position: absolute;
    bottom: -15px;
}
    /*position*/
    .animation_effects_iconbg.left {
        left: -20px;
    }

    .animation_effects_iconbg.right {
        right: -10px;
    }
    /*size*/
    .animation_effects_iconbg.small {
        font-size: 40px;
    }

    .animation_effects_iconbg.medium {
        font-size: 50px;
    }

    .animation_effects_iconbg.big {
        font-size: 60px;
    }

    .animation_effects_iconbg.extrabig {
        font-size: 80px;
    }
    /*color*/
    .animation_effects_iconbg.grey {
        color: #f1f1f1;
    }
/*END.animation_effectsICONBG*/



/* 10 - START NIKDIVIDER: color, align, size*/
.animation_effects_divider {
    float: left;
    width: 100%;
}

    .animation_effects_divider > span {
        display: block;
        margin: auto;
    }
    /*align*/
    .animation_effects_divider.left > span {
        float: left;
    }

    .animation_effects_divider.right > span {
        float: right;
    }
    /*size*/
    .animation_effects_divider.big > span {
        width: 80px;
        height: 4px;
    }

    .animation_effects_divider.small > span {
        width: 30px;
        height: 2px;
    }
/*END NIKDIVIDER*/



/* 11- START.animation_effectsDROPCAP*/
.animation_effects_dropcap {
    float: left;
    font-size: 35px;
    line-height: 20px;
    padding: 15px;
    margin-right: 20px;
}
/*END.animation_effectsDROPCAP*/

/* 12 - START NIKALERTS*/
.animation_effects_alerts {
    overflow: hidden;
    position: relative;
}

    .animation_effects_alerts > p > .iconclose {
        cursor: pointer;
    }
/*END NIKALERTS*/

/* 13 - START.animation_effectsIFRAME*/
.animation_effects_iframe {
    float: left;
    width: 100% !important;
    border: 0;
}
/*END.animation_effectsIFRAME*/


/* 14 - START NIKACCORDION*/
.animation_effects_accordion {
    float: left;
    width: 100%;
}

    .animation_effects_accordion .ui-accordion-header-active {
        cursor: initial !important;
    }

    .animation_effects_accordion .animation_effects_accordion_header {
        outline: 0;
        cursor: pointer;
        margin-bottom: 20px;
    }

.animation_effects_accordion_content {
    padding: 0px 20px 20px 20px;
}
/*size*/
.animation_effects_accordion_header {
    outline: 0;
}

    .animation_effects_accordion_header.small {
        padding: 5px 10px;
    }

    .animation_effects_accordion_header.medium {
        padding: 10px 20px;
    }

    .animation_effects_accordion_header.big {
        padding: 15px 20px;
    }
/*icon*/
.wpb_accordion .ui-accordion-header-active:before {
    content: '\e8c5' !important;
    font-family: 'fontello';
    margin-right: 10px;
    color: #fff;
    font-size: 15px;
}

.wpb_accordion .ui-accordion-header:before {
    content: '\e8c2';
    font-family: 'fontello';
    margin-right: 10px;
    color: #fff;
    font-size: 15px;
}
/*END NIKACCORDION*/


/* 15  - START NIKTOOGLE*/
.animation_effects_toogle {
    float: left;
    width: 100%;
}

.animation_effects_toogle_content {
    padding: 0px 20px !important;
    margin: 0px !important;
}

.animation_effects_toogle .animation_effects_toogle_header {
    outline: 0;
    cursor: pointer;
    float: none;
    width: initial;
}
/*size*/
.animation_effects_toogle_header {
    position: relative;
    overflow: hidden;
}

    .animation_effects_toogle_header.small {
        padding: 5px 10px;
    }

    .animation_effects_toogle_header.medium {
        padding: 10px 20px;
    }

    .animation_effects_toogle_header.big {
        padding: 15px 20px;
    }
/*END NIKTOOGLE*/


/* 16 - START NIKPROGRESSBAR*/
.animation_effects_progressbar {
    float: left;
    width: 100%;
}

.animation_effects_progressbar_title {
    margin: 0px;
    padding: 0px;
    min-height: 20px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

    .animation_effects_progressbar_title > span {
        padding: 0px;
        display: inline-block;
    }
/*animate*/
.animate_progressbar {
    width: 0% !important;
}
/*END NIKPROGRESSBAR*/


/* 17 - START.animation_effectsTABS*/
.animation_effects_tab {
    float: left;
    width: 100%;
}

.animation_effects_tabs {
    float: left;
    width: 100%;
}

.animation_effects_tab > .animation_effects_tabslist {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    width: 100%;
}

    .animation_effects_tab > .animation_effects_tabslist > li {
        margin: 0px;
        padding: 0px;
        float: left;
    }

        .animation_effects_tab > .animation_effects_tabslist > li > a {
            outline: 0;
        }

    .animation_effects_tab > .animation_effects_tabslist > .ui-tabs-active > a {
        background-color: #f9f9f9 !important;
        color: #a4a4a4 !important;
        box-shadow: 0px 4px 0px 0px #f1f1f1;
    }

/*custom*/
.animation_effects_tab_dark .animation_effects_border_grey, .animation_effects_tab_dark ul li a.title {
    border: 0px solid #000 !important;
}
/*END.animation_effectsTABS*/


/* 18 - START.animation_effectsLIST*/
.animation_effects_list {
    display: inline-block;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    .animation_effects_list > li {
        float: left;
        width: 100%;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-width: 1px;
    }

        .animation_effects_list > li:last-child {
            border-bottom-width: 0px;
        }
/*END.animation_effectsLIST*/


/* 19 - START.animation_effectsTABLE*/
.animation_effects_table {
    float: left;
    width: 100%;
    border-collapse: collapse;
}

    .animation_effects_table thead, .animation_effects_table tbody {
        border-width: 0px;
    }

    .animation_effects_table tr td, .animation_effects_table tr th {
        border-width: 1px;
    }
    /*size*/
    .animation_effects_table.small tr td, .animation_effects_table.small tr th {
        padding: 5px 10px;
    }

    .animation_effects_table.medium tr td, .animation_effects_table.medium tr th {
        padding: 10px 20px;
    }

    .animation_effects_table.big tr td, .animation_effects_table.big tr th {
        padding: 15px 20px;
    }

    .animation_effects_table.extrabig tr td, .animation_effects_table.extrabig tr th {
        padding: 20px 20px;
    }
    /*align*/
    .animation_effects_table.center {
        text-align: center;
    }

    .animation_effects_table.left {
        text-align: left;
    }

    .animation_effects_table.right {
        text-align: right;
    }
/*END.animation_effectsTABLE*/



/* 20 - START.animation_effectsFILTER*/
.animation_effects_filter {
    float: left;
    width: 100%;
}

    .animation_effects_filter.greydark {
        background: rgba(67,74,84,0.2);
    }

    .animation_effects_filter.greydark2 {
        background: rgba(67,74,84,0.5);
    }
/*END.animation_effectsFILTER*/


/* 21 - 22 - START.animation_effectsLEFTSIDEBAR*/
.animation_effects_left_sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    left: -300px;
    top: 0px;
    z-index: 99999;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.animation_effects_right_sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    right: -300px;
    top: 0px;
    z-index: 99999;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

    .animation_effects_right_sidebar .animation_effects_margin020 div:first-child, .animation_effects_left_sidebar .animation_effects_margin020 div:first-child {
        margin-top: 20px;
    }
/*overlay*/
.animation_effects_overlay_on {
    float: left;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 9999;
    cursor: crosshair;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
/*END.animation_effectsLEFTSIDEBAR*/



/* 23 - START.animation_effectsTRIANGLE*/
.animation_effects_triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    position: absolute;
}
    /*color*/
    .animation_effects_triangle.grey {
        border-color: #f1f1f1 transparent transparent transparent;
    }
/*END.animation_effectsTRIANGLE*/


/*START OBLIQUOE*/
.animation_effects_oblique45 {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
/*END OBLIQUOE*/




/*START animation_effects PRELOADER*/
.animation_effects_preloader {
    float: left;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    display: table;
    z-index: 10001;
    text-align: center;
}

    .animation_effects_preloader i {
        display: table-cell;
        vertical-align: middle;
        font-size: 30px;
        -webkit-animation:.animation_effects_pulse 1s infinite linear;
        animation:.animation_effects_pulse 1s infinite linear;
    }

.animation_effects_preloader_ajax {
    float: left;
    cursor: progress;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255,255,255,0.5);
    display: table;
    z-index: 10001;
    text-align: center;
}

@-webkit-keyframes.animation_effects_spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes.animation_effects_spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


@-webkit-keyframes.animation_effects_pulse {
    0% {
        -webkit-transform: scale(1.0, 1.0);
        -o-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }

    50% {
        -webkit-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }

    100% {
        -webkit-transform: scale(1.0, 1.0);
        -o-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
}

@keyframes.animation_effects_pulse {
    0% {
        -webkit-transform: scale(1.0, 1.0);
        -o-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }

    50% {
        -webkit-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }

    100% {
        -webkit-transform: scale(1.0, 1.0);
        -o-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
}

/*END animation_effects PRELOADER*/




/***************************SOME CLASSES FOR MARGIN/SPACE/POSITION/HEIGHT/DISPLAY BETWEEN ELEMENTS***************************************************/

/* 24 - SOME CLASSES*/
.animation_effects_block {
    display: block !important;
}

.animation_effects_outline {
    outline: 0;
}

.animation_effects_overflow {
    overflow: hidden;
}

.animation_effects_sizing {
    box-sizing: border-box;
}

.animation_effects_display_inlineblock {
    display: inline-block;
}

.animation_effects_display_table {
    display: table;
}

.animation_effects_cell {
    display: table-cell !important;
}

.animation_effects_vertical_middle {
    vertical-align: middle;
    text-align: center;
}

.animation_effects_vertical_bottom {
    vertical-align: bottom;
}

.animation_effects_center {
    text-align: center;
}

.animation_effects_left {
    text-align: left;
}

.animation_effects_float_right {
    float: right;
}

.animation_effects_disable_float {
    float: initial !important;
}

.animation_effects_cursor_initial {
    cursor: initial;
}

/* 25 - display*/
.animation_effects_displaynone_desktop {
    display: none;
}

.animation_effects_displaynone {
    display: none !important;
}

/* 26 - padding*/
.animation_effects_padding10 {
    padding: 10px !important;
}

.animation_effects_padding010 {
    padding: 0px 10px !important;
}

.animation_effects_padding100 {
    padding: 10px 0px !important;
}

.animation_effects_padding20 {
    padding: 20px !important;
}

.animation_effects_padding1020 {
    padding: 10px 20px !important;
}

.animation_effects_padding0_left {
    padding-left: 0px !important;
}

.animation_effects_padding10_left {
    padding-left: 10px !important;
}

.animation_effects_padding20_left {
    padding-left: 20px !important;
}

.animation_effects_padding0 {
    padding: 0px !important;
}

.animation_effects_padding50 {
    padding: 5px 0px !important;
}
/*for footer gallery*/
.animation_effects_padding07 {
    padding: 0px 7px !important;
}

.animation_effects_padding0_right {
    padding-right: 0px !important;
}

.animation_effects_padding10_right {
    padding-right: 10px !important;
}

.animation_effects_padding14_right {
    padding-right: 14px !important;
}

.animation_effects_padding14_left {
    padding-left: 14px !important;
}

.animation_effects_padding20_right {
    padding-right: 20px !important;
}


/* 27 - START NIKSPACE: attribuisco la classe.animation_effects_space ad un div vuoto per fare degli spazi tra gli elementi*/
.animation_effects_space1 {
    height: 1px;
    width: 100%;
    float: left;
}

.animation_effects_space3 {
    height: 3px;
    width: 100%;
    float: left;
}

.animation_effects_space5 {
    height: 5px;
    width: 100%;
    float: left;
}

.animation_effects_space10 {
    height: 10px;
    width: 100%;
    float: left;
}

.animation_effects_space15 {
    height: 15px;
    width: 100%;
    float: left;
}

.animation_effects_space20 {
    height: 20px;
    width: 100%;
    float: left;
}

.animation_effects_space30 {
    height: 30px;
    width: 100%;
    float: left;
}

.animation_effects_space40 {
    height: 40px;
    width: 100%;
    float: left;
}

.animation_effects_space50 {
    height: 50px;
    width: 100%;
    float: left;
}

.animation_effects_space60 {
    height: 60px;
    width: 100%;
    float: left;
}

.animation_effects_space70 {
    height: 70px;
    width: 100%;
    float: left;
}

.animation_effects_space80 {
    height: 80px;
    width: 100%;
    float: left;
}

.animation_effects_space90 {
    height: 90px;
    width: 100%;
    float: left;
}

.animation_effects_space100 {
    height: 100px;
    width: 100%;
    float: left;
}

.animation_effects_space110 {
    height: 110px;
    width: 100%;
    float: left;
}

.animation_effects_space120 {
    height: 120px;
    width: 100%;
    float: left;
}

.animation_effects_space130 {
    height: 130px;
    width: 100%;
    float: left;
}

.animation_effects_space140 {
    height: 140px;
    width: 100%;
    float: left;
}

.animation_effects_space150 {
    height: 150px;
    width: 100%;
    float: left;
}

.animation_effects_space160 {
    height: 160px;
    width: 100%;
    float: left;
}

.animation_effects_space170 {
    height: 170px;
    width: 100%;
    float: left;
}

.animation_effects_space180 {
    height: 180px;
    width: 100%;
    float: left;
}

.animation_effects_space190 {
    height: 190px;
    width: 100%;
    float: left;
}

.animation_effects_space200 {
    height: 200px;
    width: 100%;
    float: left;
}
/*END NIKSPACE*/


/* 28 - START.animation_effectsMARGIN*/
.animation_effects_margin0 {
    margin: 0px !important;
}

.animation_effects_margin5 {
    margin: 5px;
    padding: 0px;
    display: inline-block;
}

.animation_effects_margin05 {
    margin: 0px 5px;
    padding: 0px;
    display: inline-block;
}

.animation_effects_margin10 {
    margin: 10px;
    padding: 0px;
    display: inline-block;
}

.animation_effects_margin100 {
    margin: 10px 0px;
    padding: 0px;
    display: inline-block;
}

.animation_effects_margin150 {
    margin: 15px 0px;
    padding: 0px;
    display: inline-block;
}

.animation_effects_margin20 {
    margin: 20px;
    padding: 0px;
    display: inline-block;
}

.animation_effects_margin020 {
    margin: 0px 20px;
    padding: 0px;
    display: inline-block;
}

.animation_effects_margin200 {
    margin: 20px 0px;
}

.animation_effects_margin010 {
    margin: 0px 10px;
    padding: 0px;
    display: inline-block;
}

.animation_effects_margin1820 {
    margin: 18px 20px;
    padding: 0px;
    display: inline-block;
}

.animation_effects_margin30 {
    margin: 30px;
    padding: 0px;
    display: inline-block;
}

.animation_effects_margin40 {
    margin: 40px;
    padding: 0px;
    display: inline-block;
}

.animation_effects_margin2040 {
    margin: 20px 40px;
    padding: 0px;
    display: inline-block;
}
/*left*/
.animation_effects_marginleft0 {
    margin-left: 0px;
}

.animation_effects_marginleft10 {
    margin-left: 10px;
}

.animation_effects_marginleft20 {
    margin-left: 20px;
}

.animation_effects_marginleft50 {
    margin-left: 50px;
}

.animation_effects_marginleft60 {
    margin-left: 60px;
}

.animation_effects_marginleft70 {
    margin-left: 70px;
}

.animation_effects_marginleft80 {
    margin-left: 80px;
}

.animation_effects_marginleft85 {
    margin-left: 85px;
}

.animation_effects_marginleft90 {
    margin-left: 90px;
}

.animation_effects_marginleft100 {
    margin-left: 100px;
}

.animation_effects_marginleft110 {
    margin-left: 110px;
}

.animation_effects_marginleft120 {
    margin-left: 120px;
}
/*right*/
.animation_effects_marginright10 {
    margin-right: 10px;
}

.animation_effects_marginright20 {
    margin-right: 20px;
}

.animation_effects_marginright30 {
    margin-right: 30px;
}

.animation_effects_marginright40 {
    margin-right: 40px;
}

.animation_effects_marginright50 {
    margin-right: 50px;
}
/*bottom*/
.animation_effects_marginbottom10 {
    margin-bottom: 10px;
}

.animation_effects_marginbottom20 {
    margin-bottom: 20px;
}
/*top*/
.animation_effects_margintop20 {
    margin-top: 20px;
}

.animation_effects_margintop10 {
    margin-top: 10px;
}

.animation_effects_margintop30 {
    margin-top: 30px;
}

.animation_effects_margintop0 {
    margin-top: 0px !important;
}
/*END.animation_effectsMARGIN*/


/* 28 - START MARGIN NEGATIVE*/
/*top*/
.animation_effects_margintop10_negative {
    margin-top: -10px !important;
}

.animation_effects_margintop20_negative {
    margin-top: -20px !important;
}

.animation_effects_margintop30_negative {
    margin-top: -30px !important;
}

.animation_effects_margintop40_negative {
    margin-top: -40px !important;
}

.animation_effects_margintop45_negative {
    margin-top: -45px !important;
}

.animation_effects_margintop50_negative {
    margin-top: -50px !important;
}

.animation_effects_margintop60_negative {
    margin-top: -60px !important;
}

.animation_effects_margintop70_negative {
    margin-top: -70px !important;
}
/*bottom*/
.animation_effects_marginbottom10_negative {
    margin-bottom: -10px !important;
}

.animation_effects_marginbottom20_negative {
    margin-bottom: -20px !important;
}

.animation_effects_marginbottom30_negative {
    margin-bottom: -30px !important;
}

.animation_effects_marginbottom40_negative {
    margin-bottom: -40px !important;
}

.animation_effects_marginbottom50_negative {
    margin-bottom: -50px !important;
}

.animation_effects_marginbottom60_negative {
    margin-bottom: -60px !important;
}

.animation_effects_marginbottom70_negative {
    margin-bottom: -70px !important;
}

.animation_effects_marginbottom80_negative {
    margin-bottom: -80px !important;
}

.animation_effects_marginbottom90_negative {
    margin-bottom: -90px !important;
}
/*left*/
.animation_effects_marginleft100_negative {
    margin-left: -100px;
}
/*END MARGIN NEGATIVE*/



/* 29 -.animation_effectsSIZE: APPLICARE la calsse solo al testo per distanziarlo dal box*/
.animation_effects_size_small {
    margin: 5px 10px;
}

.animation_effects_size_medium {
    margin: 10px 20px;
}

.animation_effects_size_big {
    margin: 15px 20px;
}
/.animation_effectsSIZE*/


/* 30 - START.animation_effectsABSOLUTE*/
.animation_effects_absolute {
    position: absolute;
    left: 0;
}

.animation_effects_absolute_floatnone {
    position: absolute;
}

    .animation_effects_absolute_floatnone.right {
        position: absolute;
        right: 0;
    }

.animation_effects_absolute_left {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.animation_effects_absolute_right {
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    right: 0;
}
/*10 margin*/
.animation_effects_absolute_right10 {
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    right: 0;
}
/*level*/
.animation_effects_upper_level1 {
    z-index: 99 !important;
}

.animation_effects_upper_level2 {
    z-index: 999 !important;
}
/*END.animation_effectsABSOLUTE*/



/* 31 - START.animation_effectsRELATIVE*/
.animation_effects_relative {
    position: relative;
}
/*END.animation_effectsABSOLUTE*/



/* 32 - START.animation_effectsHEIGHT*/
.animation_effects_height_initial {
    height: initial !important;
}

.animation_effects_height100percentage {
    height: 100%;
}

.animation_effects_height100 {
    height: 100px;
}

.animation_effects_height150 {
    height: 150px;
}

.animation_effects_height200 {
    height: 200px;
}

.animation_effects_height250 {
    height: 250px;
}

.animation_effects_height300 {
    height: 300px;
}

.animation_effects_height350 {
    height: 350px;
}

.animation_effects_height400 {
    height: 400px;
}

.animation_effects_height450 {
    height: 450px;
}

.animation_effects_height500 {
    height: 500px;
}
/*END.animation_effectsHEIGHT*/



/**********************************SOME CLASSES FOR DIV ARCHIVE**********************************************************************/



/* 33 - START NIKTEXTEVIDENCE*/
.animation_effects_textevidence {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
    /*align*/
    .animation_effects_textevidence.center {
        text-align: center;
    }

    .animation_effects_textevidence.left {
        text-align: left;
    }

    .animation_effects_textevidence.right {
        text-align: right;
    }
    /*overflow*/
    .animation_effects_textevidence.overflow_scroll {
        overflow-x: auto !important;
    }
/*END NIKTEXTEVIDENCE*/


/* 34 - START.animation_effectsFOCUS*/
.animation_effects_focus {
    float: right;
    width: 95%;
}

    .animation_effects_focus.center {
        text-align: center;
    }

    .animation_effects_focus.right {
        text-align: right;
    }
/*END.animation_effectsFOCUS*/


/* 35 - START.animation_effectsARCHIVE1*/
.animation_effects_archive1 {
    width: 100%;
    position: relative;
    overflow: hidden;
}

    .animation_effects_archive1.center {
        text-align: center;
    }

    .animation_effects_archive1.right {
        text-align: right;
    }

    .animation_effects_archive1 img {
        width: 100%;
        height: auto;
        display: block;
    }

.animation_effects_archive1_content {
    font-size: 15px;
    color: #a4a4a4;
}

.animation_effects_event_archive p {
    color: #fff;
}

.animation_effects_post_archive p {
    color: #fff;
}
/*overflow*/
.animation_effects_archive1.overflow_scroll {
    overflow-x: auto !important;
}
/*END.animation_effectsARCHIVE1*/


/* 36 - START.animation_effectsACTIVITY*/
.animation_effects_activity {
    float: left;
}

    .animation_effects_activity.center {
        text-align: center;
    }
/*END.animation_effectsACTIVITY*/


/* 37  -  START.animation_effectsMASONRYCONTAINER*/
.animation_effects_masonry_btns {
    float: left;
    width: 100%;
}

.animation_effects_masonry_container {
    float: left;
    width: 100%;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
/*END.animation_effectsMASONRYCONTAINER*/



/***************************************************HOVER CLASSES EFFECT***********************************************************************/


/* 38 - rotate*/
.animation_effects_rotate {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .animation_effects_rotate:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }


/* 39 - press*/
.animation_effects_press {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .animation_effects_press:hover {
        box-shadow: 0px 0px 0px 0px transparent !important;
        margin-top: 4px;
        margin-bottom: -4px;
    }


/* 40 -.animation_effects_zoom*/
.animation_effects_zoom {
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

    .animation_effects_zoom:hover {
        -webkit-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }


/* 41 - opacity*/
.animation_effects_opacity {
    opacity: 1;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transition: opacity;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

    .animation_effects_opacity:hover {
        opacity: 0.8;
        -webkit-transition: opacity;
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transition: opacity;
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;
    }




/*fadeout*/
.animation_effects_fadeinout .animation_effects_fadeout {
    opacity: 1;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    -moz-transition: opacity;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 500ms;
}

.animation_effects_fadeinout:hover .animation_effects_fadeout {
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    -moz-transition: opacity;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 500ms;
}

/*fadein*/
.animation_effects_fadeinout .animation_effects_fadein {
    opacity: 0;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    -moz-transition: opacity;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 500ms;
}

.animation_effects_fadeinout:hover .animation_effects_fadein {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    -moz-transition: opacity;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 500ms;
}

/*zoom image works with.animation_effects_fadeinout */
.animation_effects_fadeinout .animation_effects_zoom_image {
    -webkit-transition: all 3000ms;
    -o-transition: all 500ms;
    transition: all 3000ms;
}

.animation_effects_fadeinout:hover .animation_effects_zoom_image {
    -webkit-transform: rotate(3deg) scale(1.2, 1.2);
    -o-transform: rotate(3deg) scale(1.2, 1.2);
    transform: rotate(3deg) scale(1.2, 1.2);
}




/* 42 - TRANSITION*/
.animation_effects_transition {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}


/* 43 - START.animation_effectsBGHOVER*/
.animation_effects_bg_grey_hover:hover {
    background-color: #f9f9f9 !important;
}

.animation_effects_bg_grey2_hover:hover {
    background-color: #f1f1f1 !important;
}


/***************************************************CSS FOR CUSTOM REV SLIDER***********************************************************************/

.animation_effects_slide1 > ul {
    position: absolute;
    z-index: 0;
}




/***************************************************JQUERY UI***********************************************************************/

/* 44 - START.animation_effectsCALENDAR*/
.ui-datepicker {
    float: left;
    width: 300px;
    position: relative;
    z-index: 888 !important;
    margin-top: 0px !important;
}

    .ui-datepicker tbody {
        border-left: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
    }

.grid .ui-datepicker {
    float: left;
    width: 100%;
}

/*range*/
.ui-datepicker-multi {
    float: left;
    width: 640px !important;
    position: relative;
    z-index: 888 !important;
}

.ui-datepicker-group {
    float: left;
    width: 300px !important;
    margin: 10px;
    position: relative;
}

/*header*/
.ui-datepicker-header {
    float: left;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
}

.ui-datepicker-title {
    float: left;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
}
/*arrows*/
.ui-datepicker-prev span, .ui-datepicker-next span {
    display: none;
}

.ui-datepicker-prev {
    position: absolute;
    left: 0;
    top: 15px;
    margin-left: 20px;
}

    .ui-datepicker-prev:before {
        content: '\e8c6' !important;
        font-family: 'fontello';
        color: #fff;
        cursor: pointer;
    }

.ui-datepicker-next {
    position: absolute;
    right: 0;
    top: 15px;
    margin-right: 20px;
}

    .ui-datepicker-next:before {
        content: '\e8c7' !important;
        font-family: 'fontello';
        color: #fff;
        cursor: pointer;
    }
/*days*/
.ui-datepicker-calendar {
    float: left;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px #f1f1f1;
    background-color: #f9f9f9;
}

    .ui-datepicker-calendar thead {
        color: #fff;
        font-size: 13px;
        line-height: 13px;
        font-weight: normal;
        text-transform: uppercase;
    }

    .ui-datepicker-calendar tbody {
    }

    .ui-datepicker-calendar th {
        font-weight: normal;
        padding: 15px 10px;
    }

    .ui-datepicker-calendar td {
        font-weight: normal;
        box-shadow: inset -1px 1px 0px 0px #f1f1f1
    }

        .ui-datepicker-calendar td a {
            font-size: 13px;
            padding: 10px 10px;
            line-height: 15px;
            color: #a4a4a4;
            display: block;
        }
/*today*/
.ui-datepicker-today a {
    color: #fff !important;
}

.ui-datepicker-other-month {
}
/*hover*/
.ui-datepicker-calendar .ui-state-hover {
    color: #fff !important;
}
/*unselectable*/
.ui-datepicker-unselectable span {
    font-size: 13px;
    padding: 10px 10px;
    line-height: 15px;
    color: #d3d3d3;
    display: block;
}
/*END.animation_effectsCALENDAR*/



/* 45 - START.animation_effectsTOOLTIP*/
.ui-tooltip {
    position: absolute;
    background: rgba(67,74,84,0.9);
    color: #fff;
    margin: 0px;
    padding: 0px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 0px;
    outline: 0;
    -webkit-appearance: none;
    border: 0;
}
/*END.animation_effectsTOOLTIP*/



/*AUTOCOMPLETE*/
.ui-menu {
    list-style: none;
    padding: 0px;
    margin: 0;
    display: block;
    float: left;
    z-index: 888;
    position: absolute !important;
}

    .ui-menu .ui-menu {
        margin-top: -3px;
    }

    .ui-menu .ui-menu-item {
        margin: 0;
        padding: 0;
        zoom: 1;
        float: left;
        clear: left;
        width: 100%;
    }

        .ui-menu .ui-menu-item a {
            text-decoration: none;
            display: block;
            padding: 10px 20px;
            line-height: 1.5;
            zoom: 1;
            cursor: pointer;
            -webkit-transition: all 500ms;
            -o-transition: all 500;
            transition: all 500ms;
        }

            .ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
                font-weight: normal;
                margin: -1px;
            }

.ui-helper-hidden-accessible {
    display: none;
}
/*color*/
.ui-menu {
    border: 1px solid #f1f1f1;
    border-bottom: 0px solid #f1f1f1 !important;
}

    .ui-menu .ui-menu-item a {
        border-bottom: 1px solid #f1f1f1;
        background-color: #fff;
    }

        .ui-menu .ui-menu-item a:hover {
            background-color: #f9f9f9;
        }
/*AUTOCOMPLETE*/



/* 46 - START.animation_effectsSLIDERRANGE*/
.ui-slider {
    position: relative;
    text-align: left;
    float: left;
    width: 100%;
    height: 5px;
}

    .ui-slider .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 20px;
        height: 20px;
        cursor: pointer;
        -ms-touch-action: none;
        touch-action: none;
        border-radius: 100%;
        outline: 0;
        bottom: -8px;
    }

    .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        background-position: 0 0;
        height: 5px;
    }

.animation_effects_slider_range a:last-child {
    margin-left: -20px !important;
}
