

.contact-us-div {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.contact-us-main-container {
    width: 1170px;
    margin-left: calc((100% - 1170px) / 2);
    margin-top: 160px;
}

.contact-us-div {
    width: 400px;
    float: left;
    margin-right: 50px;
}

p.contact-heading,
p.faq-heading {
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #000;
    padding-bottom: 30px;
}

table.contact-info {
    width: 100%;
    text-align: left;
}

    table.contact-info .contact-icon {
        padding-right: 15px;
    }

        table.contact-info .contact-icon .fa {
            font-size: 25px;
            color: #fc0;
        }

    table.contact-info .contact-detail {
        font-size: 20px;
        color: #000;
        height: 60px;
    }

    table.contact-info .contact-map {
        /* padding-left: 25px; */
    }






.faq-main-div {
    width: 720px;
    float: right;
}


.faq-container {
    width: 100%;
    height: auto;
    float: left;
    border: 2px solid #fed525;
    margin-bottom: 15px;
    display: table;
    background-color: #fed525;
}

.faq-question-div {
    width: 50%;
    height: auto;
    background-color: #fed525;
    /*float: left;*/
    display: table-cell;
}

    .faq-question-div p.que {
        font-size: 12px;
        color: #000;
        text-align: left;
        padding: 10px;
    }

.faq-answer-div {
    height: auto;
    width: calc(100% - 230px);
    background-color: #f9f9f9;
    display: table-cell;
    /*float: left;*/
    background-image: url(../Images/bg-right.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left top 10px;
    padding: 10px 10px 10px 20px;
}

    .faq-answer-div p.ans {
        font-size: 10px;
        padding-bottom: 5px;
        color: #000;
        text-align: left;
    }

        .faq-answer-div p.ans.faq-point {
            font-size: 11px;
            font-weight: bold;
        }

        .faq-answer-div p.ans .fa {
            font-size: 8px;
            color: #635f5f;
        }



.faq-container.read-more a {
    font-size: 20px;
    font-weight: bold;
    color: #397fa2;
    text-decoration: none;
    float: right;
    padding-right: 5px;
}

.faq-container.read-more {
    border: none;
    background-color: transparent;
}

    .faq-container.read-more .fa {
        font-size: 15px;
    }







.mobile-view-map {
    display: none;
}


@media all and (max-width: 1250px) {

    .contact-us-main-container {
        width: 1000px;
        margin-left: calc((100% - 1000px) / 2);
        margin-top: 160px;
    }

    .contact-us-div {
        width: 100%;
        float: right;
        margin-right: inherit;
        margin-bottom: 40px;
    }

    .faq-main-div {
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }

    .desktop-view-map {
        display: none;
    }

    .mobile-view-map {
        display: block;
        width: 100%;
        float: right;
    }

    table.contact-info {
        width: 100%;
        float: left;
    }

    .faq-container {
        width: calc(100% - 4px);
    }
}
/*max-width: 1250px*/



@media all and (max-width: 1050px) {

    .contact-us-main-container {
        width: 800px;
        margin-left: calc((100% - 800px) / 2);
        margin-top: 160px;
    }
}




@media all and (max-width: 850px) {

    .contact-us-main-container {
        width: 700px;
        margin-left: calc((100% - 700px) / 2);
        margin-top: 160px;
    }
}


@media all and (max-width: 768px) {

    .contact-us-main-container {
        width: 600px;
        margin-left: calc((100% - 600px) / 2);
        margin-top: 261px;
    }

    .contact-us-div {
        margin-bottom: 20px;
    }
}



@media all and (max-width: 650px) {

    .contact-us-main-container {
        width: 480px;
        margin-left: calc((100% - 480px) / 2);
    }

    .faq-question-div {
        width: 50%;
    }

    .faq-answer-div {
        width: calc(100% - 30px);
    }

    table.contact-info {
        width: 100%;
        float: left;
    }

    .mobile-view-map {
        width: 100%;
        float: left;
    }

        .mobile-view-map iframe {
            height: 200px;
        }
}




@media all and (max-width: 550px) {

    .contact-us-main-container {
        width: 380px;
        margin-left: calc((100% - 380px) / 2);
        margin-top: 230px;
    }

    p.contact-heading, p.faq-heading {
        font-size: 24px;
        padding-bottom: 15px;
        padding-left: 4px;
    }

    table.contact-info {
        margin-bottom: 20px;
    }

        table.contact-info .contact-detail {
            font-size: 14px;
            padding: 5px 0;
            height: inherit;
        }

    .faq-main-div {
        margin-bottom: 15px;
    }

    table.contact-info .contact-icon {
        padding-right: 5px;
    }

        table.contact-info .contact-icon .fa {
            font-size: 14px;
            color: #fc0;
        }
}





@media all and (max-width: 550px) {
    .contact-us-main-container {
        width: 300px;
        margin-left: calc((100% - 300px) / 2);
        margin-top: 230px;
    }

    .faq-container.read-more a {
        font-size: 16px;
    }
}
