@media (max-width: 1200px) {

    .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background: #fff;
        padding: 8px 5px 6px 5px;
    }

        .navbar-default .navbar-toggle i {
            color: #bbb;
            font-size: 2em;
        }

    .quote-buttons span {
        margin: 0 2px;
    }

    .flickr-widget ul li {
        margin-left: 0px;
        margin-right: 7px;
    }

    .subscribe-widget form input[type="text"] {
        margin-bottom: 10px;
    }

    .history-content p {
        max-height: 36px;
        line-height: 20px;
        overflow: hidden;
    }

    .projects-carousel {
        width: 950px !important;
    }

    .tour-enquiry-form {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .place-duration-main {
        width: 100%;
    }

    .place-duration {
        width: 45%;
        height: 70px;
        float: left;
        background-color: #fc0;
        text-align: left;
        line-height: 20px;
        background-image: url(../Images/arrow.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 15px 15px;
        margin-left: 10%;
    }

        .place-duration .place {
            font-size: 16px;
            color: #000;
            padding-left: 10px;
            padding-top: 6px;
            margin-bottom: 0px;
        }

        .place-duration .duration {
            font-size: 13px;
            color: #000;
            padding-left: 10px;
            padding-top: 1px;
            margin-bottom: 0px;
        }

    .price-div .actual-price {
        font-size: 13px;
        color: #000;
        text-decoration: line-through solid;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .price-div .discounted-price {
        font-size: 16px;
        color: #000;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .place-duration-main .package-price-div {
        width: 131px;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

    .place-duration-main .price-div {
        width: 45%;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

        .place-duration-main .price-div p {
            /*display: table-cell;*/
            vertical-align: middle;
            color: #fff;
        }
}

@media (max-width: 991px) {

    .search-field-main-div {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #ffcc00;
        text-align: center;
    }

    #main-slide .carousel-control i {
        background: rgba(0,0,0,.7);
        color: #fff;
        line-height: 36px;
        font-size: 32px;
        padding: 5px 5px;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .search-field-main-div input.destination {
        margin: 0px 20px 10px 20px !important;
        width: calc(100% - 40px);
        float: left;
    }

    .search-field-main-div input.from {
        float: left;
        margin: 0px 20px 10px 20px !important;
        width: calc(50% - 30px);
    }

    .search-field-main-div input.to {
        float: right;
        margin: 0px 20px 10px 20px !important;
        width: calc(50% - 30px);
    }

    .search-field-main-div select.categories {
        margin: 0px 20px 10px 20px !important;
        width: calc(100% - 40px);
        float: left;
    }

    div.middle-text-div {
        display: none;
    }

    div.mob-head-text-div {
        display: block;
    }

    .search-field-main-div div.mob-head-text-div {
        height: 40px;
        float: left;
        width: 100%;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin: 0px 0px 10px;
        font-size: 20px;
    }

    .far-by-car-image {
        width: 100%;
        height: fit-content;
    }

    .educational-tour-image {
        width: 100%;
        height: fit-content;
    }

    .tour-destination-table .destination {
        width: 100%;
        background-color: #fc0;
        float: left;
        margin-bottom: 20px;
    }

    .tour-destination-table .cultural {
        margin-right: 10px;
        margin-left: 0px;
    }

    .tour-destination-table .domastic {
        margin-right: 10px;
        margin-left: 0px;
        /*height: 172px;*/
    }

    .boxed-page, .boxed-page header {
        width: 100%;
    }

    .tour-enquiry-form {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .classic-testimonials {
        margin-bottom: 25px !important;
    }

    .tp-caption a.btn-system {
        font-size: 11px;
        padding: 4px 8px;
    }

    .contact-details {
        display: none !important;
    }

    .navbar-brand {
        /*padding: 25px 15px;*/
        display: block;
    }

    .navbar-default .navbar-nav {
        margin: 0 !important;
        top: 0;
    }

    ul.social-list {
        float: none !important;
        text-align: center;
    }

        ul.social-list li {
            float: none !important;
            display: inline-block;
        }

    .quote-buttons {
        text-align: center;
    }

    .copyright-section {
        text-align: center;
    }

    ul.footer-nav {
        display: block;
        float: none !important;
        text-align: center;
        margin-top: 10px;
    }

        ul.footer-nav li {
            display: inline-block;
            float: none;
            margin-left: 15px;
        }

    .page-banner {
        text-align: center;
    }

    ul.breadcrumbs {
        float: none;
    }

        ul.breadcrumbs li {
            float: none;
            display: inline-block;
            float: left\0/;
        }

    .portfolio-4 .portfolio-item {
        width: 49.99% !important;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }

    .projects-carousel {
        width: 100% !important;
    }

    .pricing-tables .pricing-table {
        //width: 50% !important;
        margin-bottom: 15px;
    }

    .pricing-tables .highlight-plan {
        margin: 0;
    }

    .pricing-tables .pricing-table.highlight-plan .plan-name {
        padding: 15px 0;
    }

    .pricing-tables .pricing-table.highlight-plan .plan-signup {
        padding: 25px 0;
    }

    .pricing-tables .pricing-table:hover {
        top: 0;
    }

    .milestone-block {
        margin-bottom: 25px;
        margin-right: 40px;
    }

    .fittext {
        font-size: 30px;
        line-height: 38px;
    }

    .home-edu-text {
        width: fit-content;
        text-align: left;
        padding: 0px 20px 20px 0px;
        color: rgb(255, 255, 255);
    }

        .home-edu-text p {
            font-size: 9pt;
        }

    .section-display-content {
        z-index: 35;
        position: absolute;
        opacity: 0.98;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 0px 10px;
        height: fit-content;
    }

    .home-farbycar-text {
        width: 100%;
        text-align: left;
        padding: 0px 0px 20px 0px;
        color: rgb(255, 255, 255);
    }

        .home-farbycar-text p {
            font-size: 9pt;
        }

    .team-member {
        text-align: center;
        margin-bottom: 30px;
    }

    .member-photo {
        display: inline-block;
        margin: 0 auto;
    }

    .easyPieChart {
        margin: 0 40px 20px 0;
    }

    .right-sidebar {
        margin-top: 60px;
        padding-top: 60px;
        border-top: 1px solid #eee;
    }

    .sidebar .widget {
        margin-bottom: 35px;
    }

    .place-duration-main {
        width: 100%;
    }

    .place-duration {
        width: 121px;
        height: 70px;
        float: left;
        background-color: #fc0;
        text-align: left;
        line-height: 20px;
        background-image: url(../Images/arrow.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 15px 15px;
        margin-left: 28px;
    }

        .place-duration .place {
            font-size: 16px;
            color: #000;
            padding-left: 10px;
            padding-top: 6px;
            margin-bottom: 0px;
        }

        .place-duration .duration {
            font-size: 13px;
            color: #000;
            padding-left: 10px;
            padding-top: 6px;
            margin-bottom: 0px;
        }

    .price-div .actual-price {
        font-size: 13px;
        color: #000;
        text-decoration: line-through solid;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .price-div .discounted-price {
        font-size: 16px;
        color: #000;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .place-duration-main .package-price-div {
        width: 131px;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

    .place-duration-main .price-div {
        width: 124px;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

        .place-duration-main .price-div p {
            /*display: table-cell;*/
            vertical-align: middle;
            color: #fff;
        }

    .edu-tour-date-control {
        width: 100%;
    }

    .far-by-car-form-control-left {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 20px;
    }

    .far-by-car-form-control-right {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 768px) {

    #main-slide .carousel-control i {
        background: rgba(0,0,0,.7);
        color: #fff;
        line-height: 36px;
        font-size: 32px;
        padding: 5px 5px;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .search-field-main-div {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #ffcc00;
        text-align: center;
    }

        .search-field-main-div input.destination {
            margin: 0px 20px 10px 20px !important;
            width: calc(100% - 40px);
            float: left;
        }

        .search-field-main-div input.from {
            float: left;
            margin: 0px 20px 10px 20px !important;
            width: calc(50% - 30px);
        }

        .search-field-main-div input.to {
            float: right;
            margin: 0px 20px 10px 20px !important;
            width: calc(50% - 30px);
        }

        .search-field-main-div select.categories {
            margin: 0px 20px 10px 20px !important;
            width: calc(100% - 40px);
            float: left;
        }

    div.middle-text-div {
        display: none;
    }

    div.mob-head-text-div {
        display: block;
    }

    .search-field-main-div div.mob-head-text-div {
        height: 40px;
        float: left;
        width: 100%;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin: 0px 0px 10px;
        font-size: 20px;
    }

    .far-by-car-image {
        width: 100%;
        height: fit-content;
    }

    .educational-tour-image {
        width: 100%;
        height: fit-content;
    }

    .tour-enquiry-form {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .tp-leftarrow,
    .tp-rightarrow {
        display: none !important;
    }

    .tp-caption a.btn-system {
        display: none;
    }

    .history-box img {
        float: none;
        width: 100%;
    }

    .history-content {
        float: none;
        width: 100% !important;
    }

    .history-box span.history-date {
        right: inherit;
        left: 15px;
    }

    .portfolio-filter li {
        margin-bottom: 8px;
    }

    .portfolio-4 .portfolio-item {
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
    }

    .milestone-block {
        margin-bottom: 20px;
        margin-right: 45px;
    }

    .place-duration-main {
        width: 100%;
    }

    .place-duration {
        width: 121px;
        height: 70px;
        float: left;
        background-color: #fc0;
        text-align: left;
        line-height: 20px;
        background-image: url(../Images/arrow.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 15px 15px;
        margin-left: 28px;
    }

        .place-duration .place {
            font-size: 16px;
            color: #000;
            padding-left: 10px;
            padding-top: 6px;
            margin-bottom: 0px;
        }

        .place-duration .duration {
            font-size: 13px;
            color: #000;
            padding-left: 10px;
            padding-top: 6px;
            margin-bottom: 0px;
        }

    .price-div .actual-price {
        font-size: 13px;
        color: #000;
        text-decoration: line-through solid;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .price-div .discounted-price {
        font-size: 16px;
        color: #000;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .place-duration-main .package-price-div {
        width: 131px;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

    .place-duration-main .price-div {
        width: 124px;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

        .place-duration-main .price-div p {
            /*display: table-cell;*/
            vertical-align: middle;
            color: #fff;
        }

    .tour-destination-table .destination {
        width: 100%;
        background-color: #fc0;
        float: left;
        margin-bottom: 20px;
    }

    .tour-destination-table .cultural {
        margin-right: 10px;
        margin-left: 0px;
    }

    .tour-destination-table .domastic {
        margin-right: 10px;
        margin-left: 0px;
        /*height: 172px;*/
    }

    .edu-tour-date-control {
        width: 100%;
    }

    .far-by-car-form-control-left {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 20px;
    }

    .far-by-car-form-control-right {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 479px) {

    .search-field-main-div {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #ffcc00;
        text-align: center;
    }

    #main-slide .carousel-control i {
        background: rgba(0,0,0,.7);
        color: #fff;
        line-height: 36px;
        font-size: 32px;
        padding: 5px 5px;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .search-field-main-div input.destination {
        margin: 0px 20px 10px 20px !important;
        width: calc(100% - 40px);
        float: left;
    }

    .search-field-main-div input.from {
        float: left;
        margin: 0px 20px 10px 20px !important;
        width: calc(50% - 30px);
    }

    .search-field-main-div input.to {
        float: right;
        margin: 0px 20px 10px 20px !important;
        width: calc(50% - 30px);
    }

    .search-field-main-div select.categories {
        margin: 0px 20px 10px 20px !important;
        width: calc(100% - 40px);
        float: left;
    }

    div.middle-text-div {
        display: none;
    }

    div.mob-head-text-div {
        display: block;
    }

    .search-field-main-div div.mob-head-text-div {
        height: 40px;
        float: left;
        width: 100%;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin: 0px 0px 10px;
        font-size: 20px;
    }

    .far-by-car-image {
        width: 100%;
        height: fit-content;
    }

    .educational-tour-image {
        width: 100%;
        height: fit-content;
    }

    .tour-enquiry-form {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .top-bar {
        text-align: center;
    }

    .navbar-default .navbar-nav {
        padding: 15px 0;
    }

    .show-search, .search-form {
        display: none;
    }

    ul.social-list li {
        margin: 0 3px;
    }

        ul.social-list li a i {
            font-size: 0.9em;
            display: block;
            width: auto;
            line-height: 30px;
            border: none !important;
        }

        ul.social-list li a:hover {
            background-color: transparent !important;
        }

        ul.social-list li a.facebook:hover {
            color: #507CBE;
        }

        ul.social-list li a.twitter:hover {
            color: #63CDF1;
        }

        ul.social-list li a.google:hover {
            color: #F16261;
        }

        ul.social-list li a.dribbble:hover {
            color: #E46387;
        }

        ul.social-list li a.linkdin:hover {
            color: #90CADD;
        }

        ul.social-list li a.tumblr:hover {
            color: #4D7EA3;
        }

        ul.social-list li a.flickr:hover {
            color: #E474AF;
        }

        ul.social-list li a.instgram:hover {
            color: #4D4F54;
        }

        ul.social-list li a.vimeo:hover {
            color: #87D3E0;
        }

        ul.social-list li a.skype:hover {
            color: #36C4F3
        }

    .navbar-default .navbar-toggle {
        margin-top: 15px;
        outline: none;
    }

    .navbar-default .navbar-nav > li > a {
        border: none;
        padding: 5px 10px;
        display: block;
        border: none !important;
        padding-right: 0;
    }

        .navbar-default .navbar-nav > li > a:after {
            display: none;
        }

        .navbar-default .navbar-nav > li > a:hover {
            opacity: 0.7;
        }

    .navbar-default .navbar-nav > li {
        margin-left: 0;
        display: block;
        margin-bottom: 5px;
        width: 100%
    }

        .navbar-default .navbar-nav > li.drop > a {
            padding-right: 10px;
        }

        .navbar-default .navbar-nav > li.drop > a {
            border-radius: 2px;
        }

    ul.dropdown, ul.sup-dropdown {
        opacity: 1 !important;
        position: relative !important;
        visibility: visible !important;
        width: 100% !important;
        top: inherit !important;
        left: 0 !important;
        margin-top: 0 !important;
        /* background: #666 !important; */
        padding-left: 20px !important;
        box-shadow: none !important;
    }

        ul.dropdown li, ul.sup-dropdown li {
            border-top: none;
        }

    .milestone-block {
        display: block;
        clear: left;
        margin-right: 0;
    }

    .btn-system {
        margin-bottom: 10px;
    }

    .easyPieChart {
        font-size: 24px;
        font-weight: 400;
        position: relative;
        text-align: center;
        display: inline-block;
        margin: 0 0 20px 0;
        overflow: hidden;
    }

    .place-duration-main {
        width: 100%;
    }

    .place-duration {
        width: 121px;
        height: 70px;
        float: left;
        background-color: #fc0;
        text-align: left;
        line-height: 20px;
        background-image: url(../Images/arrow.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 15px 15px;
        margin-left: 28px;
    }

        .place-duration .place {
            font-size: 16px;
            color: #000;
            padding-left: 10px;
            padding-top: 6px;
            margin-bottom: 0px;
        }

        .place-duration .duration {
            font-size: 13px;
            color: #000;
            padding-left: 10px;
            padding-top: 6px;
            margin-bottom: 0px;
        }

    .price-div .actual-price {
        font-size: 13px;
        color: #000;
        text-decoration: line-through solid;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .price-div .discounted-price {
        font-size: 16px;
        color: #000;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .place-duration-main .package-price-div {
        width: 131px;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

    .place-duration-main .price-div {
        width: 124px;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

        .place-duration-main .price-div p {
            /*display: table-cell;*/
            vertical-align: middle;
            color: #fff;
        }

    .tour-destination-table .destination {
        width: 100%;
        background-color: #fc0;
        float: left;
        margin-bottom: 20px;
    }

    .tour-destination-table .cultural {
        margin-right: 10px;
        margin-left: 0px;
    }

    .tour-destination-table .domastic {
        margin-right: 10px;
        margin-left: 0px;
        /*height: 172px;*/
    }

    .edu-tour-date-control {
        width: 100%;
    }



    .far-by-car-form-control-left {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 20px;
    }

    .far-by-car-form-control-right {
        padding-left: 0px;
        padding-right: 0px;
    }
}




@media (min-width : 992px) {

    #main-slide .slider-content h2 {
        font-size: 68px;
    }
}


@media (min-width : 768px) and (max-width: 991px) {
    .search-field-main-div {
        width: 100%;
        position: relative;
        top: 0;
        background-color: rgba(197, 157, 18, 0.56);
        text-align: center;
    }

    #main-slide .carousel-control i {
        background: rgba(0,0,0,.7);
        color: #fff;
        line-height: 36px;
        font-size: 32px;
        padding: 5px 5px;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .search-field-main-div input.destination {
        margin: 0px 20px 10px 20px !important;
        width: calc(100% - 40px);
        float: left;
    }

    .search-field-main-div input.from {
        float: left;
        margin: 0px 20px 10px 20px !important;
        width: calc(50% - 30px);
    }

    .search-field-main-div input.to {
        float: right;
        margin: 0px 20px 10px 20px !important;
        width: calc(50% - 30px);
    }

    .search-field-main-div select.categories {
        margin: 0px 20px 10px 20px !important;
        width: calc(100% - 40px);
        float: left;
    }

    div.middle-text-div {
        display: none;
    }

    div.mob-head-text-div {
        display: block;
    }

    .search-field-main-div div.mob-head-text-div {
        height: 40px;
        float: left;
        width: 100%;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin: 0px 0px 10px;
        font-size: 20px;
    }

    .far-by-car-image {
        width: 100%;
        height: fit-content;
    }

    .educational-tour-image {
        width: 100%;
        height: fit-content;
    }

    .tour-destination-table .destination {
        width: 100%;
        background-color: #fc0;
        float: left;
        margin-bottom: 20px;
    }

    .tour-destination-table .cultural {
        margin-right: 10px;
        margin-left: 0px;
    }

    .tour-destination-table .domastic {
        margin-right: 10px;
        margin-left: 0px;
        /*height: 172px;*/
    }

    .tour-enquiry-form {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #main-slide .slider-content h2 {
        font-size: 52px;
    }

    #main-slide .slider-content h3 {
        font-size: 24px;
        margin-top: 12px;
    }

    .slider.btn {
        padding: 5px 25px;
        margin-top: 5px;
        font-size: 16px;
    }

    .place-duration-main {
        width: 100%;
    }

    .place-duration {
        width: 45%;
        height: 70px;
        float: left;
        background-color: #fc0;
        text-align: left;
        line-height: 20px;
        background-image: url(../Images/arrow.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 15px 15px;
        margin-left: 10%;
    }

        .place-duration .place {
            font-size: 16px;
            color: #000;
            padding-left: 10px;
            padding-top: 6px;
            margin-bottom: 0px;
        }

        .place-duration .duration {
            font-size: 13px;
            color: #000;
            padding-left: 10px;
            padding-top: 0px;
            margin-bottom: 0px;
        }

    .price-div .actual-price {
        font-size: 13px;
        color: #000;
        text-decoration: line-through solid;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .price-div .discounted-price {
        font-size: 16px;
        color: #000;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .place-duration-main .package-price-div {
        width: 131px;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

    .place-duration-main .price-div {
        width: 45%;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

        .place-duration-main .price-div p {
            /*display: table-cell;*/
            vertical-align: middle;
            color: #fff;
        }

    .edu-tour-date-control {
        width: 100%;
    }

    .far-by-car-form-control-left {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 20px;
    }

    .far-by-car-form-control-right {
        padding-left: 0px;
        padding-right: 0px;
    }
}


@media (max-width : 767px) {
    .search-field-main-div {
        width: 100%;
        position: relative;
        top: 0;
        background-color: #ffcc00;
        text-align: center;
    }

    #main-slide .carousel-control i {
        background: rgba(0,0,0,.7);
        color: #fff;
        line-height: 36px;
        font-size: 32px;
        padding: 5px 5px;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .search-field-main-div input.destination {
        margin: 0px 20px 10px 20px !important;
        width: calc(100% - 40px);
        float: left;
    }

    .search-field-main-div input.from {
        float: left;
        margin: 0px 20px 10px 20px !important;
        width: calc(50% - 30px);
    }

    .search-field-main-div input.to {
        float: right;
        margin: 0px 20px 10px 20px !important;
        width: calc(50% - 30px);
    }

    .search-field-main-div select.categories {
        margin: 0px 20px 10px 20px !important;
        width: calc(100% - 40px);
        float: left;
    }

    div.middle-text-div {
        display: none;
    }

    div.mob-head-text-div {
        display: block;
    }

    .search-field-main-div div.mob-head-text-div {
        height: 40px;
        float: left;
        width: 100%;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin: 0px 0px 10px;
        font-size: 20px;
    }

    .far-by-car-image {
        width: 100%;
        height: fit-content;
    }

    .educational-tour-image {
        width: 100%;
        height: fit-content;
    }

    .tour-destination-table .destination {
        width: 100%;
        background-color: #fc0;
        float: left;
        margin-bottom: 20px;
    }

    .tour-destination-table .cultural {
        margin-right: 10px;
        margin-left: 0px;
    }

    .tour-destination-table .domastic {
        margin-right: 10px;
        margin-left: 0px;
        /*height: 172px;*/
    }

    .tour-enquiry-form {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #main-slide .slider-content h2 {
        font-size: 28px;
        line-height: normal;
        margin-bottom: 0;
    }

    #main-slide .slider-content h3 {
        font-size: 14px;
        margin-top: 5px;
    }

    .slider.btn {
        padding: 0 15px;
        margin-top: 0;
        font-size: 12px;
    }

    #main-slide .carousel-indicators {
        display: none;
    }

    .place-duration-main {
        width: 100%;
    }

    .place-duration {
        width: 45%;
        height: 70px;
        float: left;
        background-color: #fc0;
        text-align: left;
        line-height: 20px;
        background-image: url(../Images/arrow.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 15px 15px;
        margin-left: 10%;
    }

        .place-duration .place {
            font-size: 16px;
            color: #000;
            padding-left: 10px;
            padding-top: 6px;
            margin-bottom: 0px;
        }

        .place-duration .duration {
            font-size: 13px;
            color: #000;
            padding-left: 10px;
            padding-top: 0px;
            margin-bottom: 0px;
        }

    .price-div .actual-price {
        font-size: 13px;
        color: #000;
        text-decoration: line-through solid;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .price-div .discounted-price {
        font-size: 16px;
        color: #000;
        padding-left: 4px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .place-duration-main .package-price-div {
        width: 131px;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

    .place-duration-main .price-div {
        width: 45%;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

        .place-duration-main .price-div p {
            /*display: table-cell;*/
            vertical-align: middle;
            color: #fff;
        }

    .edu-tour-date-control {
        width: 100%;
    }

    .far-by-car-form-control-left {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 20px;
    }

    .far-by-car-form-control-right {
        padding-left: 0px;
        padding-right: 0px;
    }
}


@media (max-width : 479px) {
    .search-field-main-div {
        width: 100%;
        position: relative;
        top: 0;
        background-color: #ffcc00;
        text-align: center;
    }


    #main-slide .carousel-control i {
        background: rgba(0,0,0,.7);
        color: #fff;
        line-height: 36px;
        font-size: 32px;
        padding: 5px 5px;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .search-field-main-div input.destination {
        margin: 0px 20px 10px 20px !important;
        width: calc(100% - 40px);
        float: left;
    }

    .search-field-main-div input.from {
        float: left;
        margin: 0px 20px 10px 20px !important;
        width: calc(50% - 30px);
    }

    .search-field-main-div input.to {
        float: right;
        margin: 0px 20px 10px 20px !important;
        width: calc(50% - 30px);
    }

    .search-field-main-div select.categories {
        margin: 0px 20px 10px 20px !important;
        width: calc(100% - 40px);
        float: left;
    }

    div.middle-text-div {
        display: none;
    }

    div.mob-head-text-div {
        display: block;
    }

    .search-field-main-div div.mob-head-text-div {
        height: 40px;
        float: left;
        width: 100%;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin: 0px 0px 10px;
        font-size: 20px;
    }

    .far-by-car-image {
        width: 100%;
        /* height: fit-content; */
        height: 430px;
    }

    .educational-tour-image {
        width: 100%;
        height: 430px;
    }

    .tour-enquiry-form {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .tour-destination-table .destination {
        width: 100%;
        background-color: #fc0;
        float: left;
        margin-bottom: 20px;
    }

    .tour-destination-table .cultural {
        margin-right: 10px;
        margin-left: 0px;
    }

    .tour-destination-table .domastic {
        margin-right: 10px;
        margin-left: 0px;
        /*height: 172px;*/
    }

    #main-slide .item .slider-content {
        display: none;
    }

    .place-duration-main {
        width: 100%;
    }

    .place-duration {
        width: 45%;
        height: 70px;
        float: left;
        background-color: #fc0;
        text-align: left;
        line-height: 20px;
        background-image: url(../Images/arrow.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 15px 15px;
        margin-left: 10%;
    }

        .place-duration .place {
            font-size: 16px;
            color: #000;
            padding-left: 10px;
            padding-top: 6px;
            margin-bottom: 0px;
        }

        .place-duration .duration {
            font-size: 13px;
            color: #000;
            padding-left: 10px;
            padding-top: 6px;
            margin-bottom: 0px;
        }

    .price-div .actual-price {
        font-size: 13px;
        color: #000;
        text-decoration: line-through solid;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .price-div .discounted-price {
        font-size: 16px;
        color: #000;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .place-duration-main .package-price-div {
        width: 131px;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

    .place-duration-main .price-div {
        width: 45%;
        height: 70px;
        display: table;
        background-color: #0178ba;
        text-align: center;
        font-size: 18px;
        text-align: center;
    }

        .place-duration-main .price-div p {
            /*display: table-cell;*/
            vertical-align: middle;
            color: #fff;
        }

    .edu-tour-date-control {
        width: 100%;
    }

    .far-by-car-form-control-left {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 20px;
    }

    .far-by-car-form-control-right {
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* ============================================================================== */
/* ========================= TOUR DETAILS STYLESHEET START ========================= */
@media all and (max-width: 1200px) {
    .tour-details-main-container {
        width: 980px;
        margin-left: calc((100% - 980px) / 2);
        margin-top: 130px;
    }

    .tripjao-header-price .tripjao-tour-discount-price {
        font-size: 32px;
        font-weight: 800;
    }

    .all-location-headings p {
        font-size: 30px;
    }

    .pricing-main-div {
        width: 280px;
        margin-right: 20px;
        float: left;
        background-color: #2878b7;
        padding: 25px 20px;
    }

    .tour-details-div {
        width: 640px;
        float: left;
    }

    .pricing-main-div p.price {
        font-size: 40px;
    }

    p.per-person, .duration-div p {
        font-size: 20px;
    }

    .tour-info-div p {
        font-size: 18px;
    }

    table.tour-inclusion-icons td img {
        width: 80px;
        height: auto;
    }

    table.tour-inclusion-icons td p {
        font-size: 15px;
        color: #000;
        padding-top: 10px;
    }

    .first-box {
        width: 270px;
        margin-right: 10px;
        float: left;
    }

    .sec-box {
        width: 231px;
        margin-right: 10px;
        float: left;
    }

    .third-box {
        width: 77px;
        float: left;
    }

    .testimonials-content p.content {
        font-size: 18px;
    }
}
/*(max-width: 1200px)*/

@media all and (max-width: 1024px) {
    .tour-details-main-container {
        width: 860px;
        margin-left: calc((100% - 860px) / 2);
        margin-top: 130px;
    }

    .tripjao-header-price .tripjao-tour-discount-price {
        font-size: 32px;
        font-weight: 800;
    }

    .pricing-main-div {
        width: 220px;
        margin-right: 20px;
        float: left;
        background-color: #2878b7;
        padding: 25px 20px;
    }

        .pricing-main-div p.price {
            font-size: 30px;
        }

    p.per-person, .duration-div p {
        font-size: 18px;
    }

    .duration-div, .tour-info-div,
    .pricing-main-div .duration-div {
        width: calc(100% - 50px);
        padding: 15px 25px;
    }

    .tour-details-div {
        width: 580px;
        float: left;
    }

    .all-location-headings p {
        font-size: 26px;
    }

    p.overview {
        font-size: 18px;
    }

    .days-overview-div p.day-overview {
        font-size: 17px;
    }

    table.tour-inclusion-icons td img {
        width: 60px;
        height: auto;
    }

    table.tour-inclusion-icons td p {
        font-size: 12px;
        color: #000;
        padding-top: 10px;
    }

    .testimonials-heading-div p.testimonials-heading {
        width: 100%;
        font-size: 30px;
    }

    .testimonials-img {
        width: 140px;
        height: 140px;
        float: left;
        margin-right: 20px;
    }

        .testimonials-img img {
            width: 147px;
            height: auto;
        }

    .testimonials-content p.content {
        font-size: 16px;
        padding-right: 10px;
    }

    .testimonials-box {
        height: 147px;
    }

    .first-box {
        width: 220px;
        margin-right: 10px;
        float: left;
    }

    .sec-box {
        width: 189px;
        margin-right: 10px;
        float: left;
    }

    .third-box {
        width: 63px;
        float: left;
    }
}
/*(max-width: 1024px)*/


@media all and (max-width: 900px) {

    .navbar-push-brand img {
        display: none;
        height: 112px;
        /* margin: 16px; */
    }

    .navbar-brand img {
        display: block;
        height: 112px;
        /* margin-left: 20px; */
    }

    .tour-details-main-container {
        width: 740px;
        margin-left: calc((100% - 740px) / 2);
        margin-top: 130px;
    }

    .pricing-main-div {
        width: 160px;
        margin-right: 20px;
        float: left;
        background-color: #2878b7;
        padding: 20px 16px;
    }

    .tripjao-header-price .tripjao-tour-discount-price {
        font-size: 30px;
        font-weight: 700;
    }

    .tour-details-div {
        width: 527px;
        float: left;
    }

    .pricing-main-div p.price {
        font-size: 25px;
    }

    p.per-person, .duration-div p {
        font-size: 15px;
    }

    .tour-info-div p {
        font-size: 13px;
    }

    .duration-div, .tour-info-div, .pricing-main-div .duration-div {
        width: calc(100% - 30px);
        padding: 15px 15px;
    }

    .all-location-headings p {
        font-size: 22px;
    }

    p.overview,
    .days-overview-div p.day {
        font-size: 17px;
    }

    .days-overview-div p.day-overview {
        font-size: 16px;
    }

    .testimonials-heading-div p.testimonials-heading {
        width: 100%;
        font-size: 25px;
        padding-bottom: 10px;
    }

    .testimonials-heading-div p.border {
        width: 200px;
        height: 2px;
        background-color: #222;
        margin-left: calc((100% - 200px) / 2);
        margin-bottom: 20px;
    }

    table.rating {
        width: calc(100% - 180px);
        position: relative;
        top: 12px;
    }
}
/*(max-width: 900px)*/


@media all and (max-width: 768px) {

    .navbar-push-brand img {
        display: none;
        height: 55px;
        margin-top: 6px;
        padding-left: 25px;
    }

    .navbar-brand img {
        display: block;
        height: 112px;
        /* margin-left: 20px; */
    }

    .tour-details-main-container {
        width: 580px;
        margin-left: calc((100% - 580px) / 2);
        margin-top: 261px;
    }

    .tripjao-header-price .tripjao-tour-discount-price {
        font-size: 30px;
        font-weight: 700;
    }

    .pricing-main-div {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        float: left;
        background-color: #2878b7;
        padding: 15px 20px;
    }

    .duration-div {
        text-align: center;
    }

    .tour-details-div {
        width: 100%;
        float: left;
        margin: 0 0 20px 0;
    }

    .first-box {
        width: 254px;
        margin-right: 10px;
        float: left;
    }

    .sec-box {
        width: 218px;
        margin-right: 10px;
        float: left;
    }

    .third-box {
        width: 73px;
        float: left;
    }

    .all-location-headings p {
        font-size: 18px;
    }
}
/*(max-width: 768px)*/

@media all and (max-width: 600px) {

    .navbar-push-brand img {
        display: none;
        height: 112px;
        margin: 16px;
    }

    .navbar-brand img {
        display: block;
        height: 112px;
        margin-left: 20px;
    }

    .tour-details-main-container {
        width: 440px;
        margin-left: calc((100% - 440px) / 2);
        margin-top: 261px;
    }

    .tripjao-header-price .tripjao-tour-discount-price {
        font-size: 30px;
        font-weight: 700;
    }

    .testimonials-img img {
        width: 120px;
        height: auto;
    }

    .testimonials-img {
        width: 120px;
        height: 120px;
        float: left;
        margin-right: 20px;
    }

    .testimonials-box {
        height: 120px;
    }

    .testimonials-content p.content {
        font-size: 12px;
        padding-right: 10px;
    }

    table.rating td.name {
        text-align: right;
        padding-right: 0px;
        font-size: 14px;
    }

    .testimonials-heading-div p.testimonials-heading {
        width: 100%;
        font-size: 18px;
        padding-bottom: 5px;
    }

    .testimonials-heading-div p.border {
        width: 150px;
        height: 2px;
        background-color: #222;
        margin-left: calc((100% - 150px) / 2);
        margin-bottom: 15px;
    }

    .first-box {
        width: 100%;
        margin: 10px 0;
    }

    .sec-box {
        width: 310px;
        margin-right: 10px;
        float: left;
    }

    .third-box {
        width: 103px;
        float: right;
    }
}
/*(max-width: 600px)*/

@media all and (max-width: 480px) {

    .navbar-push-brand img {
        /* display: block; */
        height: 55px;
        margin-top: 5px;
        px;
        */ padding-left:;
        padding-left: 24px;
    }

    .navbar-brand img {
        display: block;
        height: 112px;
        margin-left: 20px;
    }

    .tour-details-main-container {
        width: 300px;
        margin-left: calc((100% - 300px) / 2);
        margin-top: 221px;
    }

    .tripjao-header-price .tripjao-tour-discount-price {
        font-size: 30px;
        font-weight: 700;
    }

    .all-location-headings p {
        font-size: 15px;
    }

    .pricing-main-div p.price {
        font-size: 20px;
    }

    p.per-person, .duration-div p {
        font-size: 14px;
    }

    p.per-person {
        padding-bottom: 10px;
    }

    .duration-div, .tour-info-div, .pricing-main-div .duration-div {
        width: 100%;
        padding: 8px 15px;
    }

    .pricing-main-div .tour, .pricing-main-div .country {
        padding-bottom: 5px;
    }

    .tripjao-header-price .tripjao-tour-discount-price {
        font-size: 30px;
        font-weight: 700;
    }

    .pricing-main-div,
    .head-img-div,
    p.overview,
    .all-location-headings,
    .days-overview-div {
        margin-bottom: 10px;
    }

    p.overview {
        height: 40px;
        line-height: 40px;
    }

    p.overview, .days-overview-div p.day {
        font-size: 15px;
    }

    .days-overview-div p.day-overview {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mob-tour-inclusion {
        display: table !important;
    }

    /*.desk-tour-inclusion {
        display: none;
    }*/

    table.tour-inclusion-icons td {
        width: 25%;
    }

        table.tour-inclusion-icons td img {
            width: 50px;
            height: auto;
        }

        table.tour-inclusion-icons td p {
            font-size: 12px;
            color: #000;
            padding-top: 10px;
        }

    .testimonials-box {
        height: 100px;
    }

    .testimonials-img {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 20px;
    }

        .testimonials-img img {
            width: 100px;
            height: auto;
        }

    .testimonials-content p.content {
        font-size: 8px;
        padding-right: 10px;
    }

    table.rating td.star .fa {
        font-size: 12px;
        color: #fc0;
    }

    table.rating {
        width: calc(100% - 140px);
        position: relative;
        top: 12px;
    }

        table.rating td.star {
            width: 15px;
            height: 15px;
        }

        table.rating td.name {
            font-size: 11px;
        }

    .first-box {
        margin: 0;
    }

    .sec-box {
        width: 100%;
        margin-right: 0;
        float: left;
    }

    .third-box {
        display: none;
    }

    p.click-here a {
        font-size: 16px;
    }

    p.click-here {
        height: 40px;
        line-height: 40px;
    }
}
/*(max-width: 480px)*/

/* ========================= TOUR DETAILS STYLESHEET CLOSE ========================= */
/* ============================================================================== */
