

.tour-details-main-container {
    width: 1170px;
    margin-left: calc((100% - 1170px) / 2);
    margin-top: 130px;
}

.pricing-main-div {
    width: 100%;
    margin-right: 20px;
    float: left;
    background-color: #2878b7;
    /*height: 100vh;*/
    padding: 25px 30px;
}

    .pricing-main-div p {
        color: #fff;
    }

    .pricing-main-div .price-value {
        width: 100%;
        text-align: center;
    }

p.per-person,
.duration-div p {
    font-size: 25px;
}

p.per-person {
    padding-bottom: 15px;
}

.pricing-main-div .duration-div {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 15px 50px;
}

.pricing-main-div .tour-info-div {
    padding-top: 15px;
}


.pricing-main-div p.price {
    font-size: 50px;
    font-family: "asul-bold";
}

.duration-div,
.tour-info-div {
    width: 100%;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    text-align: left;
}

    .tour-info-div p {
        font-size: 20px;
    }


.pricing-main-div .tour,
.pricing-main-div .country {
    padding-bottom: 10px;
}



.tour-details-div {
    width: 100%;
    float: left;
}

.head-img-div {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

    .head-img-div img {
        width: 100%;
        height: auto;
    }

p.overview {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 50px;
    background-color: #fc0;
    color: #000;
    font-weight: 600;
    margin-bottom: 20px;
}

p.click-here {
    width: calc(100% - 20px);
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    background-color: #fc0;
    margin-bottom: 20px;
    float: left;
}

    p.click-here a {
        font-size: 20px;
        color: #000;
        font-weight: 600;
        text-decoration: none;
    }

.days-overview-div {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

    .days-overview-div p.day {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        font-size: 18px;
        line-height: 50px;
        background-color: #ccc;
        color: #000;
        font-weight: 600;
    }

    .days-overview-div p.day-overview {
        width: calc(100% - 20px);
        padding-left: 20px;
        padding-top: 10px;
        font-size: 18px;
        line-height: 1.5;
        color: #000;
    }



.tour-inclusion-div {
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

    .tour-inclusion-div p.tour-inclusion-heading {
        width: calc(100% - 20px);
        height: 50px;
        padding-left: 20px;
        font-size: 18px;
        line-height: 50px;
        background-color: #ccc;
        color: #000;
        font-weight: 600;
    }

table.tour-inclusion-icons {
    width: 100%;
}

    table.tour-inclusion-icons td {
        width: 20%;
        padding-top: 20px;
        text-align: center;
    }

        table.tour-inclusion-icons td p {
            font-size: 18px;
            color: #000;
            padding-top: 10px;
        }

        table.tour-inclusion-icons td img {
            width: 100px;
            max-height: 100px;
        }

.testimonials-heading-div {
    width: 100%;
}

    .testimonials-heading-div p.testimonials-heading {
        width: 100%;
        font-size: 40px;
        color: #000;
        text-align: center;
    }

    .testimonials-heading-div p.border {
        width: 250px;
        height: 2px;
        background-color: #222;
        margin-left: calc((100% - 250px) / 2);
        margin-bottom: 20px;
    }

.testimonials-box {
    width: 100%;
    float: left;
    background-color: #E6E6E5;
    margin-bottom: 20px;
}

.testimonials-img {
    width: 160px;
    height: auto;
    float: left;
    margin-right: 20px;
}

    .testimonials-img img {
        width: 160px;
        height: auto;
    }

.testimonials-content {
    padding-top: 10px;
}

    .testimonials-content p.content {
        font-size: 20px;
    }

table.rating {
    width: calc(100% - 180px);
    position: relative;
    top: 20px;
}

    table.rating td.star {
        width: 20px;
        height: 20px;
    }

    table.rating td.name {
        text-align: right;
        padding-right: 20px;
        font-size: 20px;
    }

    table.rating td.star .fa {
        font-size: 18px;
        color: #fc0;
    }

.all-location-headings {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    height: auto;
}

    .all-location-headings p {
        font-size: 40px;
    }

.first-box {
    width: 350px;
    margin-right: 10px;
    float: left;
}

    .first-box img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

.sec-box {
    width: 300px;
    margin-right: 10px;
    float: left;
}

    .sec-box img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

.third-box {
    width: 100px;
    float: left;
}

    .third-box img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

.tripjao-tour-item-mglr {
    /* margin-top: -177px; */
}

.tripjao-header .tripjao-header-price, .tripjao-tour-booking-bar-outer, .tripjao-tour-booking-bar-anchor, .tripjao-tour-booking-bar-wrap {
    width: 370px;
}

.tripjao-header-price .tripjao-header-price-ribbon, .tripjao-header-price .tripjao-header-enquiry-ribbon {
    background: #e85e34;
    background: #e85e34;
}

.tripjao-header-price .tripjao-header-price-ribbon {
    color: #ffffff;
}

.tripjao-header-price .tripjao-header-price-ribbon {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding: 12px;
}

.tripjao-header-price .tripjao-header-price-wrap {
    position: relative;
    text-align: center;
    padding: 10px 10px 10px;
}

.tripjao-tour-booking-submit input[type="submit"], body .tripjao-tour-booking-submit input[type="submit"]:hover, body .tripjao-tour-booking-submit .tripjao-tour-button, body .tripjao-enquiry-form .tripjao-tour-button, .tripjao-header-price .tripjao-header-price-overlay {
    color: #fff;
    /* background: #4675e7; */
    /* background: -webkit-linear-gradient(left, #4675e7, #4692e7); */
    background: -o-linear-gradient(right, #4675e7, #4692e7);
    background: -moz-linear-gradient(right, #4675e7, #4692e7);
    /* background: linear-gradient(to right, #4675e7, #4692e7); */
}

.tripjao-header-price .tripjao-header-price-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
}

.tripjao-header-price .tripjao-tour-price-wrap {
    color: #fff;
}

.tripjao-header-price .tripjao-tour-price-wrap {
    position: relative;
}

    .tripjao-header-price .tripjao-tour-price-wrap.tripjao-tour-discount .tripjao-tour-price, .tripjao-header-price .tripjao-tour-price-info {
        color: #b9daff;
    }

.tripjao-header-price .tripjao-tour-price {
    text-align: center;
    font-weight: 500;
}

    .tripjao-header-price .tripjao-tour-price .tripjao-tour-head {
        font-size: 14px;
        margin-right: 10px;
    }

.tripjao-header-price .tripjao-tour-price-wrap.tripjao-tour-discount .tripjao-tour-price .tripjao-tour-tail {
    font-size: 15px;
    font-weight: 500;
    text-decoration: line-through;
}

.tripjao-header-price .tripjao-tour-price .tripjao-tour-tail {
    font-size: 32px;
    margin-right: 15px;
    font-weight: 800;
}

.tripjao-header-price .tripjao-tour-discount-price {
    font-size: 32px;
    font-weight: 700;
}

.tripjao-header-price .tripjao-tour-price-wrap.tripjao-tour-discount .tripjao-tour-price, .tripjao-header-price .tripjao-tour-price-info {
    color: #b9daff;
}

.tripjao-header-price .tripjao-tour-price-info {
    vertical-align: top;
    margin-left: 3px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tripjao-tour-booking-bar-container-inner {
    position: relative;
}

    .tripjao-tour-booking-bar-container-inner .tripjao-tour-booking-bar-anchor, .tripjao-tour-booking-bar-container-inner .tripjao-tour-booking-bar-wrap {
        position: absolute;
        right: 0px;
        z-index: 98;
    }

.tripjao-tour-booking-bar-outer {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.tripjao-header .tripjao-header-price, .tripjao-tour-booking-bar-outer, .tripjao-tour-booking-bar-anchor, .tripjao-tour-booking-bar-wrap {
    width: 370px;
}

    .tripjao-tour-booking-bar-wrap.tripjao-start-script .tripjao-header-price {
        display: block;
    }

    .tripjao-tour-booking-bar-wrap .tripjao-header-price {
        margin-left: 0px;
        margin-right: 0px;
        display: none;
    }

.tripjao-tour-enquiry-field {
    margin: 10px;
}
.tripjao-enquiry-form .tripjao-tour-button {
    background-color: #2279be;
    color: #fff;
    margin-left: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    /* margin-top: 20px; */
    height: 30px;
    border: none;
    outline: none;
    text-align: center;
}