﻿.traveltour-page-wrapper {
    clear: both;
}

.tripjao-header {
    background-size: cover;
    background-position: center;
    position: relative;
}

.tripjao-header-background-overlay {
    opacity: 0.1;
}

.tripjao-header-background-overlay {
    background: #000;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.tripjao-header-top-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url(images/tripjao-single-tour-top-gradient.png) top repeat-x;
}

.tripjao-header-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url(images/tripjao-single-tour-gradient.png) bottom repeat-x;
}

.tripjao-tour-container {
    padding-left: 20px;
    padding-right: 20px;
}

.tripjao-tour-container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    /*background: url(../images/home-bg.jpg) center bottom fixed no-repeat;*/
}

.tripjao-header-container-inner {
    position: relative;
    /*background: url('../Images/goa.jpg')no-repeat;*/
}

.tripjao-header-title-wrap .tripjao-tour-rating {
    margin-top: 16px;
    font-size: 16px;
}

.tripjao-header-title-wrap .tripjao-header-title, .tripjao-header-title-wrap .tripjao-tour-rating-text {
    color: #fff;
}

.tripjao-header-title-wrap .tripjao-header-title {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 0px;
}

.tripjao-tour-rating i,
.tripjao-tour-review-form .tripjao-tour-review-form-rating,
.tripjao-tour-review-content .tripjao-tour-review-detail-rating i,
.tripjao-tour-review-item .tripjao-tour-review-item-rating i,
.tripjao-tour-search-field-rating .tripjao-tour-rating-select {
    color: #ffa127;
}

.tripjao-tour-review-content .tripjao-tour-review-detail {
    overflow: hidden;
    padding-bottom: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.tripjao-tour-review-content .tripjao-tour-review-user-name {
    font-size: 14px;
    margin-bottom: 4px;
    color: #666;
}

.tripjao-single-tour .tripjao-tour-info-outer .tripjao-tour-info-wrap, .tripjao-single-tour .tripjao-tour-main-content, .tripjao-single-tour .tripjao-tour-review {
    padding-right: 410px;
    margin-bottom: 18px;
}

.tripjao-tour-review {
    padding-right: 410px;
    margin-bottom: 18px;
}

.tripjao-header .tripjao-header-price, .tripjao-tour-booking-bar-outer, .tripjao-tour-booking-bar-anchor, .tripjao-tour-booking-bar-wrap {
    width: 370px;
}

.tripjao-header-price .tripjao-header-price-ribbon, .tripjao-header-price .tripjao-header-enquiry-ribbon {
    background: #2c487a;
    background: rgba(44, 72, 122, 0.9);
}

.tripjao-header-price .tripjao-header-price-ribbon {
    color: #ffffff;
}

.tripjao-header-price .tripjao-header-price-ribbon {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding: 12px;
}

.tripjao-header-price .tripjao-header-price-wrap {
    position: relative;
    text-align: center;
    padding: 38px 20px 34px;
}

.tripjao-tour-booking-submit input[type="submit"], body .tripjao-tour-booking-submit input[type="submit"]:hover, body .tripjao-tour-booking-submit .tripjao-tour-button, body .tripjao-enquiry-form .tripjao-tour-button, .tripjao-header-price .tripjao-header-price-overlay {
    color: #fff;
    background: #4675e7;
    background: -webkit-linear-gradient(left, #4675e7, #4692e7);
    background: -o-linear-gradient(right, #4675e7, #4692e7);
    background: -moz-linear-gradient(right, #4675e7, #4692e7);
    background: linear-gradient(to right, #4675e7, #4692e7);
}

.tripjao-header-price .tripjao-header-price-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
}

.tripjao-header-price .tripjao-tour-price-wrap {
    color: #fff;
}

.tripjao-header-price .tripjao-tour-price-wrap {
    position: relative;
}

    .tripjao-header-price .tripjao-tour-price-wrap.tripjao-tour-discount .tripjao-tour-price, .tripjao-header-price .tripjao-tour-price-info {
        color: #b9daff;
    }

.tripjao-header-price .tripjao-tour-price {
    text-align: center;
    font-weight: 500;
}

    .tripjao-header-price .tripjao-tour-price .tripjao-tour-head {
        font-size: 14px;
        margin-right: 10px;
    }

.tripjao-header-price .tripjao-tour-price-wrap.tripjao-tour-discount .tripjao-tour-price .tripjao-tour-tail {
    font-size: 15px;
    font-weight: 500;
    text-decoration: line-through;
}

.tripjao-header-price .tripjao-tour-price .tripjao-tour-tail {
    font-size: 32px;
    margin-right: 15px;
    font-weight: 800;
}

.tripjao-header-price .tripjao-tour-discount-price {
    font-size: 32px;
    font-weight: 800;
}

.tripjao-header-price .tripjao-tour-price-wrap.tripjao-tour-discount .tripjao-tour-price, .tripjao-header-price .tripjao-tour-price-info {
    color: #b9daff;
}

.tripjao-header-price .tripjao-tour-price-info {
    vertical-align: top;
    margin-left: 3px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tripjao-tour-booking-bar-container-inner {
    position: relative;
}

    .tripjao-tour-booking-bar-container-inner .tripjao-tour-booking-bar-anchor, .tripjao-tour-booking-bar-container-inner .tripjao-tour-booking-bar-wrap {
        position: absolute;
        right: 0px;
        z-index: 98;
    }

.tripjao-tour-booking-bar-outer {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.tripjao-header .tripjao-header-price, .tripjao-tour-booking-bar-outer, .tripjao-tour-booking-bar-anchor, .tripjao-tour-booking-bar-wrap {
    width: 370px;
}

    .tripjao-tour-booking-bar-wrap.tripjao-start-script .tripjao-header-price {
        display: block;
    }

    .tripjao-tour-booking-bar-wrap .tripjao-header-price {
        margin-left: 0px;
        margin-right: 0px;
        display: none;
    }

.tripjao-tour-booking-bar-inner, .tripjao-tour-form-field .tripjao-tour-combobox-list-wrap ul {
    background-color: #ffffff;
}

.clearfix {
    zoom: 1;
}

.tripjao-tour-booking-tab-title {
    color: #242424;
}

.tripjao-tour-booking-tab-title {
    color: #929292;
}

.tripjao-tour-booking-tab-title {
    background-color: #f5f5f5;
}

.tripjao-tour-booking-tab-title-item .tripjao-tour-active {
    background: #fff;
}

.tripjao-tour-booking-tab-title-item {
    cursor: pointer;
    padding: 20px 28px;
    float: left;
    font-size: 14px;
    font-weight: 500;
}

.tripjao-tour-booking-tab-content {
    display: none;
}

.tripjao-tour-booking-bar-wrap .tripjao-tour-booking-enquiry-wrap {
    padding: 40px 34px 40px;
    position: relative;
}

.tripjao-tour-booking-bar-wrap .tripjao-tour-enquiry-field {
    margin-bottom: 22px;
}

    .tripjao-tour-booking-bar-wrap .tripjao-tour-enquiry-field .tripjao-tour-head {
        margin-bottom: 8px;
    }

.tripjao-tour-booking-bar-wrap .tripjao-tour-enquiry-field {
    margin-bottom: 22px;
}

.tripjao-tour-booking-tab-content.tripjao-tour-active {
    display: block;
}

.tripjao-tour-booking-bar-wrap .tripjao-single-tour-booking-fields {
    padding: 40px 34px 5px;
    position: relative;
}

.tripjao-tour-booking-date {
    margin-bottom: 35px;
}

.tripjao-tour-booking-date-input {
    overflow: hidden;
}

.tripjao-tour-datepicker-wrap {
    position: relative;
}

.tripjao-tour-booking-date > i, .tripjao-tour-booking-room > i, .tripjao-tour-booking-people > i, .tripjao-tour-booking-submit > i, .tripjao-tour-booking-package > i, .tripjao-tour-booking-bar-wrap .tripjao-tour-view-count i, .tripjao-tour-save-wish-list-icon-wrap .tripjao-tour-icon-active {
    color: #4692e7;
}

.tripjao-tour-booking-date > i {
    font-size: 20px;
    line-height: 45px;
    float: left;
    width: 30px;
    margin-right: 15px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tripjao-tour-booking-people.tripjao-tour-variable {
    margin-bottom: 15px;
}

.tripjao-tour-booking-next-sign {
    position: absolute;
    left: 40px;
    margin-top: -29px;
}

    .tripjao-tour-booking-next-sign:before, .tripjao-tour-booking-next-sign span, .tripjao-tour-booking-next-sign:after {
        background-color: #4692e7;
    }

    .tripjao-tour-booking-next-sign:before {
        content: " ";
        opacity: 0.33;
        filter: alpha(opacity=33);
    }

    .tripjao-tour-booking-next-sign:before, .tripjao-tour-booking-next-sign span, .tripjao-tour-booking-next-sign:after {
        width: 4px;
        height: 4px;
        display: block;
        overflow: hidden;
        margin-bottom: 6px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

.tripjao-tour-booking-people-input {
    overflow: hidden;
}

    .tripjao-tour-booking-people-input.tripjao-tour-variable .tripjao-tour-combobox-wrap {
        width: 48%;
        float: left;
        margin-bottom: 15px;
    }

.tripjao-tour-form-field .tripjao-tour-combobox-wrap {
    position: relative;
}

.tripjao-tour-booking-submit {
    margin-bottom: 35px;
}

    .tripjao-tour-booking-submit > i {
        font-size: 20px;
        line-height: 45px;
        float: left;
        width: 30px;
        margin-right: 15px;
    }

.fa-check-circle:before {
    content: "\f058";
}

.tripjao-tour-booking-submit-input {
    overflow: hidden;
}

.tripjao-tour-booking-submit-error, .tripjao-tour-booking-error-max-people {
    background: #ba4a4a;
}

.tripjao-tour-booking-submit-error, .tripjao-tour-booking-error-max-people {
    color: #fff;
}

.tripjao-tour-booking-submit-error, .tripjao-tour-booking-error-max-people {
    font-size: 12px;
    line-height: 1.6;
    margin-top: 15px;
    padding: 11px 16px;
    display: none;
}

.tripjao-tour-lightbox-content-wrap {
    display: none;
}

.tripjao-tour-login-form2 {
    float: left;
    width: 50%;
    padding-right: 30px;
}

.tripjao-single-tour .tripjao-tour-info-outer {
    background-color: #f5f5f5;
}

.tripjao-tour-info-outer {
    padding: 55px 0px 20px;
}

.tripjao-single-tour.tripjao-tour-info-outer.tripjao-tour-info-wrap, .tripjao-single-tour.tripjao-tour-main-content, .tripjao-single-tour.tripjao-tour-review {
    padding-right: 410px;
    margin-bottom: 18px;
}

.tripjao-single-tour .tripjao-header-title-wrap, .tripjao-single-tour .tripjao-tour-info-outer .tripjao-tour-info-wrap {
    padding-right: 410px;
}

.tripjao-single-tour .tripjao-tour-info-wrap .tripjao-tour-info {
    color: #414141;
}

.tripjao-tour-info {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 15px;
    width: 50%;
    float: left;
}

.tripjao-tour-info-wrap .tripjao-tour-info {
    margin-bottom: 9px;
    font-weight: 500;
    font-size: 14px;
}

.tripjao-single-tour .tripjao-tour-info-wrap .tripjao-tour-info {
    color: #414141;
}

.tourmaster-item-pdlr {
    padding-left: 20px;
    padding-right: 20px;
}

.tripjao-tour-page-builder-body {
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tripjao-tour-pbf-wrapper {
    clear: both;
    padding: 60px 0px 30px;
    position: relative;
}

.tripjao-tour-pbf-wrapper-content {
    position: relative;
}

.tripjao-tour-pbf-wrapper-container {
    margin-left: auto;
    margin-right: auto;
}

.tripjao-tour-core-pbf-element {
    clear: both;
    color: #666;
    /* background-color: #f8ba01; */
}

.tripjao-content-navigation-item-wrap {
    overflow: hidden;
}

.tripjao-tour-content-navigation-item-outer {
    background-color: #ebebeb;
}

.tripjao-tour-content-navigation-item-outer {
    position: relative;
    z-index: 1;
}

    .tripjao-tour-content-navigation-item-outer .tripjao-tour-content-navigation-item {
        position: relative;
    }

.tripjao-tour-content-navigation-item .tripjao-tour-content-navigation-tab.tripjao-tour-active, .tripjao-tour-content-navigation-item .tripjao-tour-content-navigation-tab:hover {
    color: #1b1b1b;
}

.tripjao-tour-content-navigation-item .tripjao-tour-content-navigation-tab {
    color: #9a9a9a;
}

.tripjao-tour-content-navigation-item-outer .tripjao-tour-content-navigation-tab {
    font-size: 14px;
    font-weight: 600;
    padding: 28px 25px 28px;
    display: inline-block;
    margin-right: 10px;
}

.tripjao-tour-content-navigation-item-outer .tripjao-tour-content-navigation-slider {
    background: #4692e7;
}

.tripjao-tour-content-navigation-item-outer .tripjao-tour-content-navigation-slider {
    position: absolute;
    bottom: 0px;
    height: 3px;
}

.tripjao-single-tour .tripjao-tour-core-container {
    padding-right: 430px;
}

.tripjao-tour-core-container {
    padding-right: 450px;
}

.tripjao-tour-core-text-box-item-content #p {
    color: #666;
}

.tripjao-tour-body-front .tripjao-tour-core-container, .tripjao-tour-body-front .tripjao-tour-container {
    padding-left: 15px;
    padding-right: 15px;
}

.tripjao-tour-core-left-align {
    text-align: left;
}

.tripjao-tour-core-title-item .tripjao-tour-core-title-item-title-wrap {
    position: relative;
    background-color: #f8ba01;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tripjao-tour-core-title-item .tripjao-tour-core-title-item-title {
    font-size: 41px;
    font-weight: 800;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
    transition: color 200ms;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    -webkit-transition: color 200ms;
}

    .tripjao-tour-core-title-item .tripjao-tour-core-title-item-title, .tripjao-tour-core-title-item .tripjao-tour-core-title-item-title a {
        color: #383838;
    }

.tripjao-tour-core-title-item .tripjao-tour-core-title-item-left-icon {
    float: none;
    line-height: 1;
    margin: 0px 15px 0px 15px;
    display: inline-block;
}

.tripjao-tour-core-title-item-left-icon {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 30px;
}

.tripjao-tour-core-item-pdb {
    padding-bottom: 30px;
}

.tripjao-tour-item-div, .tripjao-core-item-div {
    padding-left: 50px;
    padding-right: 50px;
}

.tripjao-tour-core-divider-item-normal .tripjao-tour-core-divider-line {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.tripjao-core-pbf-column, .tripjao-tour-core-column-content-margin {
    position: relative;
}

.tripjao-core-column-first {
    clear: left;
}

.tripjao-tour-core-column-30 {
    float: left;
    width: 50%;
}

.tripjao-core-pbf-column-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: 1px;
}

.tripjao-tour-core-icon-list-item ul li:first-child {
    padding-top: 0px;
}

.tripjao-tour-core-icon-list-item ul li {
    margin-bottom: 10px;
}

.tripjao-tour-core-icon-list-item .tripjao-tour-core-icon-list-icon-wrap {
    margin-right: 20px;
}

.tripjao-tour-core-icon-list-item .tripjao-tour-core-icon-list-icon-wrap {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    line-height: 1;
    position: relative;
}

.tripjao-tour-core-icon-list-item .gdlr-core-icon-list-icon, .tripjao-tour-core-icon-list-item .tripjao-tour-core-icon-list-icon-hover {
    display: inline-block;
    font-size: 14px;
    width: 14px;
    text-align: center;
    transition: opacity 200ms, transform 200ms;
    -moz-transition: opacity 200ms, -moz-transform 200ms;
    -o-transition: opacity 200ms, -o-transform 200ms;
    -webkit-transition: opacity 200ms, -webkit-transform 200ms;
}

.tripjao-tour-core-icon-list-item i {
    color: #222222;
}

body .tripjao-tour-core-icon-list-item .tripjao-tour-core-icon-list-content {
    font-weight: 500;
}

.tripjao-tour-core-icon-list-item .tripjao-tour-core-icon-list-content {
    font-size: 14px;
    vertical-align: middle;
}

.tripjao-tour-core-flexslider {
    position: relative;
}

    .tripjao-tour-core-flexslider.flexslider ul.slides {
        zoom: 1;
        margin-left: 0px;
        margin-bottom: 0px;
        list-style: none;
    }

.tripjao-tour-page-builder-body ul {
    margin-top: 0px;
}

.tripjao-tour-core-flexslider.flexslider[data-type="slider"] ul.slides > li {
    text-align: center;
}

.tripjao-tour-core-flexslider.flexslider ul.slides > li {
    margin-bottom: 0px;
    display: none;
    -webkit-backface-visibility: hidden;
}

.tripjao-tour-core-gallery-item .tripjao-tour-core-gallery-list {
    text-align: center;
}

.tripjao-tour-core-media-image {
    line-height: 0;
    position: relative;
}

.tripjao-tour-page-builder-body a {
    text-decoration: none;
    transition: background 300ms, color 300ms, border-color 300ms;
    -moz-transition: background 300ms, color 300ms, border-color 300ms;
    -o-transition: background 300ms, color 300ms, border-color 300ms;
    -webkit-transition: background 300ms, color 300ms, border-color 300ms;
}

image-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
    transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    -webkit-transition: opacity 500ms ease-out;
}

.tripjao-tour-core-image-overlay {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.6);
}

.tripjao-tour-page-builder-body [data-skin] .tripjao-tour-core-image-overlay-icon, .tripjao-tour-page-builder-body .tripjao-core-pbf-column[data-skin] .tripjao-tour-core-image-overlay-icon {
    color: #ffffff;
}

.tripjao-tour-core-flexslider.flexslider[data-type="slider"] ul.slides > li {
    text-align: center;
}

.tripjao-tour-core-flexslider.flexslider ul.slides > li {
    margin-bottom: 0px;
    display: none;
    -webkit-backface-visibility: hidden;
}

.tripjao-tour-info-wrap {
    padding-right: 410px;
    margin-bottom: 18px;
}

.tripjao-tour-core-accordion-style-background-title .tripjao-tour-core-active .tripjao-tour-core-accordion-item-title, .tripjao-tour-core-accordion-style-background-title-icon .tripjao-tour-core-active .tripjao-tour-core-accordion-item-title, .tripjao-tour-core-toggle-box-style-background-title .tripjao-tour-core-active .tripjao-tour-core-toggle-box-item-title, .tripjao-tour-core-toggle-box-style-background-title-icon .tripjao-tour-core-active .tripjao-tour-core-toggle-box-item-title {
    background-color: #f3f3f3;
}

.tripjao-tour-core-accordion-style-background-title .tripjao-tour-core-active .tripjao-tour-core-accordion-item-title, .tripjao-tour-core-accordion-style-background-title-icon .tripjao-tour-core-active .tripjao-tour-core-accordion-item-title, .tripjao-tour-core-toggle-box-style-background-title .tripjao-tour-core-active .tripjao-tour-core-toggle-box-item-title, .tripjao-tour-core-toggle-box-style-background-title-icon .tripjao-tour-core-active .tripjao-tour-core-toggle-box-item-title {
    color: #4692e7;
}

.tripjao-tour-core-body .tripjao-tour-core-accordion-item-tab .tripjao-tour-core-accordion-item-title, .tripjao-tour-core-body .tripjao-tour-core-toggle-box-item-tab .tripjao-tour-core-toggle-box-item-title {
    text-transform: none;
    letter-spacing: 0px;
}

.tripjao-tour-core-toggle-box-style-background-title .tripjao-tour-core-toggle-box-item-title {
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    padding: 23px 25px 22px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: background 300ms;
    -moz-transition: background 300ms;
    -o-transition: background 300ms;
    -webkit-transition: background 300ms;
}

.tripjao-tour-core-accordion-style-background-title .tripjao-tour-core-accordion-item-title, .tripjao-tour-core-accordion-style-background-title-icon .tripjao-tour-core-accordion-item-title, .tripjao-tour-core-toggle-box-style-background-title .tripjao-tour-core-toggle-box-item-title, .tripjao-tour-core-toggle-box-style-background-title-icon .tripjao-tour-core-toggle-box-item-title {
    background-color: #f3f3f3;
}

.tripjao-tour-core-accordion-style-background-title .tripjao-tour-core-accordion-item-title, .tripjao-tour-core-accordion-style-background-title-icon .tripjao-tour-core-accordion-item-title, .tripjao-tour-core-toggle-box-style-background-title .tripjao-tour-core-toggle-box-item-title, .tripjao-tour-core-toggle-box-style-background-title-icon .tripjao-tour-core-toggle-box-item-title {
    color: #262626;
}

.tripjao-tour-core-toggle-box-style-background-title .tripjao-tour-core-toggle-box-item-title {
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    padding: 23px 25px 22px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: background 300ms;
    -moz-transition: background 300ms;
    -o-transition: background 300ms;
    -webkit-transition: background 300ms;
}

.tripjao-tour-core-toggle-box-item-tab .tripjao-tour-core-toggle-box-item-title .tripjao-tour-core-head {
    margin-right: 13px;
}

.tripjao-tour-core-accordion-style-background-title .tripjao-tour-core-accordion-item-title .tripjao-tour-core-head, .tripjao-tour-core-accordion-style-background-title-icon .tripjao-tour-core-accordion-item-title .tripjao-tour-core-head, .tripjao-tour-core-toggle-box-style-background-title .tripjao-tour-core-toggle-box-item-title .tripjao-tour-core-head, .tripjao-tour-core-toggle-box-style-background-title-icon .tripjao-tour-core-toggle-box-item-title .tripjao-tour-core-head {
    color: #191919;
}

.tripjao-tour-detail-p {
    color: #666;
}

/*--- tablet ---*/
@media only screen and (max-width: 1200px) {
    .tripjao-tour-payment-step-wrap .tripjao-tour-payment-step-item-icon {
        margin-right: 10px;
        padding: 5px;
        height: 34px;
        width: 34px;
    }

    .tripjao-tour-payment-step-wrap .tripjao-tour-payment-step-item {
        padding: 16px 40px 16px 0px;
    }

        .tripjao-tour-payment-step-wrap .tripjao-tour-payment-step-item:after {
            display: none;
        }
}

@media only screen and (max-width: 1140px) {
    .tripjao-tour-user-navigation {
        width: 240px;
    }

        .tripjao-tour-user-navigation .tripjao-tour-user-navigation-head,
        .tripjao-tour-user-navigation .tripjao-tour-user-navigation-item {
            padding-left: 20px;
            padding-right: 20px;
        }

    .tripjao-tour-user-content-block {
        margin: 20px;
    }

    .tripjao-tour-my-profile-info {
        float: none;
        width: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

        .tripjao-tour-my-profile-info.tripjao-tour-even {
            padding-right: 0px;
        }

        .tripjao-tour-my-profile-info.tripjao-tour-odd {
            padding-left: 0px;
        }

    .tripjao-tour-form-field-alt-date {
        width: 30%;
    }

    .tripjao-tour-form-field-alt-month {
        width: 30%;
    }

    .tripjao-tour-form-field-alt-year {
        width: 30%;
    }
}

@media only screen and (max-width: 999px) {
    .tripjao-tour-hide-on-mobile {
        display: none;
    }

    .tripjao-content-navigation-item-wrap {
        display: none;
    }

    .tripjao-single-tour .tripjao-header-title-wrap {
        padding: 150px 20px 30px;
    }

    .tripjao-single-tour .tripjao-header .tripjao-header-price {
        display: none;
    }

    .tripjao-single-tour .tripjao-tour-info-wrap {
        padding-left: 0px;
        padding-right: 0px;
    }

    .tripjao-single-tour .tripjao-tour-core-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tripjao-single-tour .tripjao-tour-main-content,
    .tripjao-single-tour .tripjao-tour-info-outer .tripjao-tour-info-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tripjao-single-tour .tripjao-tour-review {
        padding-left: 0px;
        padding-right: 0px;
    }

    .tripjao-single-tour .tripjao-tour-review-content {
        padding-left: 0px;
    }

    .tripjao-tour-review-content .tripjao-tour-review-user {
        width: 170px;
        padding-right: 10px;
    }

    .tripjao-tour-booking-bar-wrap .tripjao-header-price {
        display: block;
    }

    .tripjao-tour-booking-bar-container-inner .tripjao-tour-booking-bar-anchor {
        display: none;
    }

    .tripjao-tour-booking-bar-container-inner .tripjao-tour-booking-bar-wrap {
        max-width: 100%;
        margin: 50px auto !important;
        position: static;
    }

    .tripjao-tour-item-mglr {
        margin-top: -177px;
    }

    .tripjao-header .tripjao-header-price, .tripjao-tour-booking-bar-outer,
    .tripjao-tour-booking-bar-anchor, .tripjao-tour-booking-bar-wrap {
        max-width: 100%;
    }

    .tripjao-header-price .tripjao-header-price-overlay {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .tripjao-tour-payment-head .tripjao-tour-payment-step-inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tripjao-tour-template-payment .tripjao-tour-booking-bar-wrap {
        margin: 0px auto 70px;
        float: none;
    }

    .tripjao-tour-template-payment .tripjao-tour-page-content {
        max-width: 760px;
        margin: 0px auto;
    }
}

/*--- mobile landscape style ---*/
@media only screen and (max-width: 767px) {
    .tripjao-tour-container,
    .tripjao-single-tour .tripjao-tour-single-related-tour-container {
        max-width: 500px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tripjao-tour-column-10 {
        width: 100%;
    }

    .tripjao-tour-column-12 {
        width: 100%;
    }

    .tripjao-tour-column-15 {
        width: 100%;
    }

    .tripjao-tour-column-20 {
        width: 100%;
    }

    .tripjao-tour-column-24 {
        width: 100%;
    }

    .tripjao-tour-column-30 {
        width: 100%;
    }

    .tripjao-tour-column-36 {
        width: 100%;
    }

    .tripjao-tour-column-40 {
        width: 100%;
    }

    .tripjao-tour-column-45 {
        width: 100%;
    }

    .tripjao-tour-column-48 {
        width: 100%;
    }

    .tripjao-tour-column-50 {
        width: 100%;
    }

    .tripjao-tour-column-60 {
        width: 100%;
    }

    .tripjao-tour-user-navigation {
        display: none;
    }

    .tripjao-tour-user-mobile-navigation {
        display: block;
    }

    .tripjao-tour-my-profile-avatar {
        float: none;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .tripjao-tour-user-content-inner {
        padding: 20px;
    }

        .tripjao-tour-user-content-inner.tripjao-tour-user-content-inner-edit-profile,
        .tripjao-tour-user-content-inner.tripjao-tour-user-content-inner-change-password {
            max-width: 400px;
            margin: 0px auto;
        }

    .tripjao-tour-edit-profile-avatar img {
        display: block;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .tripjao-tour-edit-profile-wrap .tripjao-tour-head {
        float: none;
        margin-right: 0px;
    }

    input.tripjao-tour-edit-profile-submit.tripjao-tour-button {
        margin-left: 0px;
    }

    .tripjao-tour-search-item.tripjao-tour-style-half .tripjao-tour-tour-search-field {
        width: 100%;
    }

    .tripjao-tour-search-item.tripjao-tour-style-column .tripjao-tour-form-field .tripjao-tour-tour-search-field {
        width: 100%;
        padding-right: 0px;
    }

    .tripjao-tour-search-item.tripjao-tour-style-column .tripjao-tour-form-field .tripjao-tour-search-submit {
        width: 100%;
    }

    .tripjao-tour-full .tripjao-tour-content-right {
        display: none;
    }

    .tripjao-tour-full .tripjao-tour-content-left {
        width: auto;
        float: none;
    }

    .tripjao-tour-medium .tripjao-tour-thumbnail,
    .tripjao-tour-medium .tripjao-tour-content-wrap {
        display: block;
        vertical-align: baseline;
    }

    .tripjao-tour-medium .tripjao-tour-thumbnail {
        width: auto;
    }

    .tripjao-tour-medium .tripjao-tour-content-wrap {
        width: auto;
        padding: 30px 0px 0px;
    }

    .tripjao-tour-medium .tripjao-tour-content-right {
        display: none;
    }

    .tripjao-tour-medium .tripjao-tour-content-left {
        width: auto;
        float: none;
        padding-right: 0px;
    }

    .tripjao-tour-medium.tripjao-tour-frame .tripjao-tour-content-wrap {
        padding: 30px;
    }

    .tripjao-single-tour .tripjao-tour-info-wrap .tripjao-tour-info {
        width: auto;
        float: none;
    }

    .tripjao-tour-review-content .tripjao-tour-review-user {
        padding-right: 0px;
        float: none;
        margin: 0px auto 25px;
    }

    .tripjao-payment-contact-wrap .tripjao-tour-head,
    .tripjao-payment-billing-wrap .tripjao-tour-head,
    .tripjao-payment-additional-note-wrap .tripjao-tour-head,
    .tripjao-payment-traveller-info-wrap .tripjao-tour-head {
        float: none;
        display: block;
        width: auto;
    }

    .tripjao-payment-billing-copy,
    .tripjao-tour-payment-content .tripjao-tour-booking-continue {
        margin-left: 0px;
    }

    .tripjao-payment-detail-wrap {
        float: none;
        width: auto;
        margin-bottom: 40px;
    }

    .tripjao-tour-lightbox-wrapper .tripjao-tour-lightbox-content-row {
        display: block;
        width: 100%;
        height: auto;
    }

    .tripjao-tour-lightbox-wrapper .tripjao-tour-lightbox-content-cell {
        display: block;
    }

    .tripjao-tour-login-form .tripjao-tour-login-user,
    .tripjao-tour-login-form .tripjao-tour-login-pass,
    .tripjao-tour-register-form .tripjao-tour-profile-field {
        width: auto;
        float: none;
    }

    .tripjao-tour-login-form2 {
        float: none;
        width: auto;
        padding-right: 0px;
    }

    .tripjao-tour-login2-right {
        float: none;
        width: auto;
        padding-left: 0px;
        border-left: 0px;
        margin-top: 0px;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }

    table.tripjao-tour-my-booking-table th:nth-child(1) {
        width: 28%;
    }

    .tripjao-tour-template-wrapper {
        min-height: 1072px;
    }

        .tripjao-tour-template-wrapper table.tripjao-tour-table td {
            font-size: 11.5px;
        }

    body.tripjao-tour-template-search .tripjao-tour-search-item-wrap {
        float: none;
        margin-bottom: 0px;
        max-width: 100%;
        width: auto;
    }

    .tripjao-tour-order-filter-wrap .tripjao-tour-combobox-wrap {
        display: block;
        margin-left: 0px;
        margin-top: 10px;
    }

    .tripjao-tour-order-filter-wrap .tripjao-tour-order-filter-style {
        float: none;
        margin-top: 10px;
        display: block;
    }

        .tripjao-tour-order-filter-wrap .tripjao-tour-order-filter-style a {
            margin-left: 0px;
            margin-right: 10px;
        }
}

@media only screen and (max-width: 425px) {
    .ui-datepicker {
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0px !important;
        right: 0px !important;
    }

    .tripjao-payment-traveller-info-wrap .tripjao-tour-traveller-info-field.tripjao-tour-with-info-title .tripjao-tour-traveller-info-title,
    .tripjao-payment-traveller-info-wrap .tripjao-tour-traveller-info-field.tripjao-tour-with-info-title .tripjao-tour-traveller-info-input,
    .tripjao-payment-traveller-info-wrap .tripjao-tour-tail .tripjao-tour-traveller-info-passport {
        width: 100%;
        margin-bottom: 18px;
        margin-right: 0px;
    }

    .tripjao-tour-urgency-message {
        padding: 20px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: 0px auto;
    }
}
/* responsive */
@media only screen and (max-width: 999px) {

    .tripjao-tour-core-hide-in-desktop {
        display: block;
    }

    .tripjao-tour-core-hide-in-tablet,
    .tripjao-tour-core-hide-in-tablet-mobile {
        display: none;
    }

    /* flexslider */
    .tripjao-tour-core-flexslider-nav,
    .tripjao-tour-core-flexslider .flex-direction-nav {
        display: none;
    }
}

/*--- mobile landscape style ---*/
@media only screen and (max-width: 767px) {

    .tripjao-tour-core-hide-in-desktop-tablet {
        display: block;
    }

    .tripjao-tour-core-hide-in-mobile,
    .tripjao-tour-core-hide-in-tablet-mobile {
        display: none;
    }

    .tripjao-tour-core-hide-in-tablet {
        display: block;
    }

    body .tripjao-tour-core-container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    body .tripjao-tour-core-container-custom {
        max-width: 500px !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tripjao-tour-pbf-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .tripjao-tour-pbf-wrapper-full {
        max-width: 500px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tripjao-tour-core-column-content-margin {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .tripjao-tour-wrapper-full-no-space {
        max-width: 500px;
    }

        .tripjao-tour-wrapper-full-no-space .tripjao-tour-core-column-content-margin {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }

    .tripjao-tour-core-background-frame {
        display: none;
    }

    .tripjao-tour-core-background {
        background-attachment: inherit !important;
    }
    /* fix safari problem */

    .tripjao-tour-core-column-extend-left > .tripjao-tour-core-background-wrap {
        margin-left: -30px;
        margin-right: -30px;
    }

    .tripjao-tour-core-column-extend-right > .tripjao-tour-core-background-wrap {
        margin-left: -30px;
        margin-right: -30px;
    }

    .tripjao-tour-core-column-10, .tripjao-tour-core-column-12, .tripjao-tour-core-column-15, .tripjao-tour-core-column-20,
    .tripjao-tour-core-column-24, .tripjao-tour-core-column-30, .tripjao-tour-core-column-36, .tripjao-tour-core-column-40,
    .tripjao-tour-core-column-45, .tripjao-tour-core-column-48, .tripjao-tour-core-column-50, .tripjao-tour-core-column-60 {
        width: 100%;
    }

    .tripjao-core-pbf-column-content {
        min-height: 0px;
    }

    .tripjao-tour-core-sidebar-content,
    .tripjao-tour-core-sidebar-right,
    .tripjao-tour-core-sidebar-left {
        height: auto !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    /* elements */
    .tripjao-tour-core-call-to-action-item.tripjao-tour-core-style-left-align-right-button .tripjao-tour-core-call-to-action-item-inner {
        padding-right: 0px;
    }

    .tripjao-tour-core-call-to-action-item.tripjao-tour-core-style-left-align-right-button .tripjao-tour-core-call-to-action-item-button {
        position: static;
        margin-top: 45px;
    }

    .tripjao-tour-core-call-to-action-item.tripjao-tour-core-style-right-align-left-button .tripjao-tour-core-call-to-action-item-inner {
        padding-left: 0px;
    }

    .tripjao-tour-core-call-to-action-item.tripjao-tour-core-style-right-align-left-button .tripjao-tour-core-call-to-action-item-button {
        position: static;
        margin-top: 45px;
    }

    .tripjao-tour-core-block-item-title-wrap.tripjao-tour-core-left-align .tripjao-tour-core-block-item-title {
        display: block;
    }

    .tripjao-tour-core-block-item-title-wrap.tripjao-tour-core-left-align .gdlr-core-separator {
        display: none;
    }

    .tripjao-tour-core-block-item-title-wrap .tripjao-tour-core-block-item-read-more {
        margin-top: 14px;
        display: inline-block;
    }

    .tripjao-tour-wrapper-full-no-space .tripjao-tour-core-block-item-title-wrap {
        margin-left: 0px;
        margin-right: 0px;
    }

    .tripjao-tour-wrapper-full-no-space .tripjao-tour-core-pagination {
        padding-left: 0px;
        padding-right: 0px;
    }

    .tripjao-tour-core-social-share-left-text .tripjao-tour-core-social-share-count {
        display: block;
        margin-bottom: 10px;
    }

    .tripjao-tour-core-social-share-left-text .tripjao-tour-core-divider {
        display: none;
    }

    .tripjao-tour-core-social-share-left-text {
        text-align: center;
    }

    .tripjao-tour-core-social-share-right-text .tripjao-tour-core-social-share-count {
        display: block;
        margin-top: 10px;
    }

    .tripjao-tour-core-social-share-right-text .tripjao-tour-core-divider {
        display: none;
    }

    .tripjao-tour-core-social-share-right-text {
        text-align: center;
    }

    .tripjao-tour-core-blog-date-wrapper {
        display: none;
    }

    .tripjao-tour-core-blog-left-thumbnail .tripjao-tour-core-blog-thumbnail-wrap {
        width: auto;
        float: none;
        margin-right: 0px;
    }

    .tripjao-tour-core-blog-right-thumbnail .tripjao-tour-core-blog-thumbnail-wrap {
        width: auto;
        float: none;
        margin-left: 0px;
    }

    .tripjao-tour-core-portfolio-medium {
        display: flex;
        flex-flow: column;
    }

        .tripjao-tour-core-portfolio-medium .tripjao-tour-core-portfolio-thumbnail-wrap {
            order: 1;
            -ms-order: 1;
        }

        .tripjao-tour-core-portfolio-medium .tripjao-tour-core-portfolio-content-wrap {
            order: 2;
            -ms-order: 1;
        }

        .tripjao-tour-core-portfolio-medium.gdlr-core-size-large .tripjao-tour-core-portfolio-thumbnail-wrap,
        .tripjao-tour-core-portfolio-medium.gdlr-core-size-small .tripjao-tour-core-portfolio-thumbnail-wrap {
            display: block;
            width: auto;
            margin-bottom: 35px;
        }

        .tripjao-tour-core-portfolio-medium.gdlr-core-style-left .tripjao-tour-core-portfolio-content-wrap {
            padding-left: 0px;
            display: block;
        }

    .tripjao-tour-core-tab-item .tripjao-tour-core-tab-item-content {
        padding: 35px 0px 0px;
    }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title-wrap {
        float: none;
        border-right: 0px;
        max-width: none;
    }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title {
        float: left;
        height: 52px;
        padding-left: 25px;
        padding-right: 25px;
        border-top-width: 1px;
    }

        .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title.tripjao-tour-core-active {
            padding-right: 25px;
        }

        .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title:last-child {
            border-right-width: 1px;
        }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-content-wrap {
        border: none;
    }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title-wrap {
        float: none;
        border-left: 0px;
        max-width: none;
    }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title {
        float: right;
        height: 52px;
        padding-left: 25px;
        padding-right: 25px;
        border-top-width: 1px;
    }

        .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title.tripjao-tour-core-active {
            padding-right: 25px;
        }

        .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title:last-child {
            border-left-width: 1px;
        }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-content-wrap {
        border: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title-wrap {
        float: none;
        margin-right: 0px;
        border: none;
        max-width: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title-line {
        display: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title {
        padding: 12px 20px 0px 0px;
        float: left;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-content-wrap {
        border: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title-wrap {
        float: none;
        margin-left: 0px;
        border: none;
        max-width: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title-line {
        display: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title {
        padding: 12px 0px 0px 20px;
        float: right;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-content-wrap {
        border: none;
    }

    .tripjao-tour-core-gallery-item-style-scroll .tripjao-tour-core-media-image {
        max-height: 200px;
    }

    .tripjao-tour-core-gallery-with-thumbnail-wrap.tripjao-tour-core-inside-slider .tripjao-tour-core-image-overlay-content {
        bottom: 35px;
    }

    .tripjao-tour-core-gallery-with-thumbnail-wrap.tripjao-tour-core-inside-slider .gdlr-core-sly-slider {
        display: none;
    }

    .tripjao-tour-core-price-table-item .tripjao-tour-core-price-table {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .tripjao-tour-core-price-table-item .tripjao-tour-core-price-table-column:last-child .tripjao-tour-core-price-table {
        margin-bottom: 0px;
    }

    .tripjao-tour-core-title-item.tripjao-tour-core-left-align .tripjao-tour-core-title-item-link {
        position: static;
        margin-top: 12px;
    }

    .tripjao-tour-core-title-item-caption-right .tripjao-tour-core-title-item-title-wrap {
        float: none;
        margin-bottom: 13px;
        margin-right: 0px;
        width: auto !important;
    }

    .tripjao-tour-core-newsletter-item.tripjao-tour-core-style-round .tripjao-tour-core-newsletter-email {
        width: 100%;
        float: none;
    }

    .tripjao-tour-core-newsletter-item.tripjao-tour-core-style-round .tripjao-tour-core-newsletter-submit {
        width: 100%;
        float: none;
        margin-top: 17px;
    }


    .tripjao-tour-core-timeline-item .tripjao-tour-core-timeline-item-bullet {
        display: none;
    }

    .tripjao-tour-core-timeline-item .tripjao-tour-core-timeline-item-date {
        width: auto !important;
        padding-right: 0px;
        float: none;
        text-align: left;
    }
}

/*--- mobile portrait style ---*/
@media only screen and (max-width: 419px) {

    /* elements */
    .tripjao-tour-core-alert-box-item .tripjao-tour-core-alert-box-item-inner {
        padding: 25px 25px;
    }

    .tripjao-tour-core-blockquote-item.tripjao-tour-core-small-size.tripjao-tour-core-left-align .tripjao-tour-core-blockquote-item-quote {
        font-size: 60px;
        margin-right: 20px;
    }

    .tripjao-tour-core-blockquote-item.tripjao-tour-core-small-size.tripjao-tour-core-right-align .tripjao-tour-core-blockquote-item-quote {
        font-size: 60px;
        margin-left: 20px;
    }

    .tripjao-tour-core-blockquote-item.tripjao-tour-core-medium-size.tripjao-tour-core-left-align .tripjao-tour-core-blockquote-item-quote {
        margin-right: 20px;
        font-size: 80px;
    }

    .tripjao-tour-core-blockquote-item.tripjao-tour-core-medium-size.tripjao-tour-core-right-align .tripjao-tour-core-blockquote-item-quote {
        font-size: 80px;
        margin-left: 20px;
    }

    .tripjao-tour-core-blockquote-item.tripjao-tour-core-large-size.tripjao-tour-core-left-align .tripjao-tour-core-blockquote-item-quote {
        font-size: 90px;
        margin-right: 20px;
    }

    .tripjao-tour-core-blockquote-item.tripjao-tour-core-large-size.tripjao-tour-core-right-align .tripjao-tour-core-blockquote-item-quote {
        font-size: 90px;
        margin-left: 20px;
    }
}


@media only screen and (max-width: 768px) {

    .tripjao-tour-core-hide-in-desktop-tablet {
        display: block;
    }

    .tripjao-tour-core-hide-in-mobile,
    .tripjao-tour-core-hide-in-tablet-mobile {
        display: none;
    }

    .tripjao-tour-core-hide-in-tablet {
        display: block;
    }

    body .tripjao-tour-core-container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    body .tripjao-tour-core-container-custom {
        max-width: 500px !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tripjao-tour-wrapper-div {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .tripjao-tour-wrapper-div-full {
        max-width: 500px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tripjao-tour-core-column-content-margin {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .tripjao-tour-wrapper-full-no-space {
        max-width: 500px;
    }

        .tripjao-tour-wrapper-full-no-space .tripjao-tour-core-column-content-margin {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }

    .tripjao-tour-core-background-frame {
        display: none;
    }

    .tripjao-tour-core-background {
        background-attachment: inherit !important;
    }
    /* fix safari problem */

    .tripjao-tour-core-column-extend-left > .tripjao-tour-core-background-wrap {
        margin-left: -30px;
        margin-right: -30px;
    }

    .tripjao-tour-core-column-extend-right > .tripjao-tour-core-background-wrap {
        margin-left: -30px;
        margin-right: -30px;
    }

    .tripjao-tour-core-column-10, .tripjao-tour-core-column-12, .tripjao-tour-core-column-15, .tripjao-tour-core-column-20,
    .tripjao-tour-core-column-24, .tripjao-tour-core-column-30, .tripjao-tour-core-column-36, .tripjao-tour-core-column-40,
    .tripjao-tour-core-column-45, .tripjao-tour-core-column-48, .tripjao-tour-core-column-50, .tripjao-tour-core-column-60 {
        width: 100%;
    }

    .tripjao-core-pbf-column-content {
        min-height: 0px;
    }

    .tripjao-tour-core-sidebar-content,
    .tripjao-tour-core-sidebar-right,
    .tripjao-tour-core-sidebar-left {
        height: auto !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    /* elements */
    .tripjao-tour-core-call-to-action-item.tripjao-tour-core-style-left-align-right-button .tripjao-tour-core-call-to-action-item-inner {
        padding-right: 0px;
    }

    .tripjao-tour-core-call-to-action-item.tripjao-tour-core-style-left-align-right-button .tripjao-tour-core-call-to-action-item-button {
        position: static;
        margin-top: 45px;
    }

    .tripjao-tour-core-call-to-action-item.tripjao-tour-core-style-right-align-left-button .tripjao-tour-core-call-to-action-item-inner {
        padding-left: 0px;
    }

    .tripjao-tour-core-call-to-action-item.tripjao-tour-core-style-right-align-left-button .tripjao-tour-core-call-to-action-item-button {
        position: static;
        margin-top: 45px;
    }

    .tripjao-tour-core-block-item-title-wrap.tripjao-tour-core-left-align .tripjao-tour-core-block-item-title {
        display: block;
    }

    .tripjao-tour-core-block-item-title-wrap.tripjao-tour-core-left-align .gdlr-core-separator {
        display: none;
    }

    .tripjao-tour-core-block-item-title-wrap .tripjao-tour-core-block-item-read-more {
        margin-top: 14px;
        display: inline-block;
    }

    .tripjao-tour-wrapper-full-no-space .tripjao-tour-core-block-item-title-wrap {
        margin-left: 0px;
        margin-right: 0px;
    }

    .tripjao-tour-wrapper-full-no-space .tripjao-tour-core-pagination {
        padding-left: 0px;
        padding-right: 0px;
    }

    .tripjao-tour-core-social-share-left-text .tripjao-tour-core-social-share-count {
        display: block;
        margin-bottom: 10px;
    }

    .tripjao-tour-core-social-share-left-text .tripjao-tour-core-divider {
        display: none;
    }

    .tripjao-tour-core-social-share-left-text {
        text-align: center;
    }

    .tripjao-tour-core-social-share-right-text .tripjao-tour-core-social-share-count {
        display: block;
        margin-top: 10px;
    }

    .tripjao-tour-core-social-share-right-text .tripjao-tour-core-divider {
        display: none;
    }

    .tripjao-tour-core-social-share-right-text {
        text-align: center;
    }

    .tripjao-tour-core-blog-date-wrapper {
        display: none;
    }

    .tripjao-tour-core-blog-left-thumbnail .tripjao-tour-core-blog-thumbnail-wrap {
        width: auto;
        float: none;
        margin-right: 0px;
    }

    .tripjao-tour-core-blog-right-thumbnail .tripjao-tour-core-blog-thumbnail-wrap {
        width: auto;
        float: none;
        margin-left: 0px;
    }

    .tripjao-tour-core-portfolio-medium {
        display: flex;
        flex-flow: column;
    }

        .tripjao-tour-core-portfolio-medium .tripjao-tour-core-portfolio-thumbnail-wrap {
            order: 1;
            -ms-order: 1;
        }

        .tripjao-tour-core-portfolio-medium .tripjao-tour-core-portfolio-content-wrap {
            order: 2;
            -ms-order: 1;
        }

        .tripjao-tour-core-portfolio-medium.gdlr-core-size-large .tripjao-tour-core-portfolio-thumbnail-wrap,
        .tripjao-tour-core-portfolio-medium.gdlr-core-size-small .tripjao-tour-core-portfolio-thumbnail-wrap {
            display: block;
            width: auto;
            margin-bottom: 35px;
        }

        .tripjao-tour-core-portfolio-medium.gdlr-core-style-left .tripjao-tour-core-portfolio-content-wrap {
            padding-left: 0px;
            display: block;
        }

    .tripjao-tour-core-tab-item .tripjao-tour-core-tab-item-content {
        padding: 35px 0px 0px;
    }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title-wrap {
        float: none;
        border-right: 0px;
        max-width: none;
    }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title {
        float: left;
        height: 52px;
        padding-left: 25px;
        padding-right: 25px;
        border-top-width: 1px;
    }

        .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title.tripjao-tour-core-active {
            padding-right: 25px;
        }

        .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title:last-child {
            border-right-width: 1px;
        }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-content-wrap {
        border: none;
    }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title-wrap {
        float: none;
        border-left: 0px;
        max-width: none;
    }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title {
        float: right;
        height: 52px;
        padding-left: 25px;
        padding-right: 25px;
        border-top-width: 1px;
    }

        .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title.tripjao-tour-core-active {
            padding-right: 25px;
        }

        .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title:last-child {
            border-left-width: 1px;
        }

    .tripjao-tour-core-tab-style-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-content-wrap {
        border: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title-wrap {
        float: none;
        margin-right: 0px;
        border: none;
        max-width: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title-line {
        display: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-title {
        padding: 12px 20px 0px 0px;
        float: left;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-left-align .tripjao-tour-core-tab-item-content-wrap {
        border: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title-wrap {
        float: none;
        margin-left: 0px;
        border: none;
        max-width: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title-line {
        display: none;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-title {
        padding: 12px 0px 0px 20px;
        float: right;
    }

    .tripjao-tour-core-tab-style2-vertical.tripjao-tour-core-right-align .tripjao-tour-core-tab-item-content-wrap {
        border: none;
    }

    .tripjao-tour-core-gallery-item-style-scroll .tripjao-tour-core-media-image {
        max-height: 200px;
    }

    .tripjao-tour-core-gallery-with-thumbnail-wrap.tripjao-tour-core-inside-slider .tripjao-tour-core-image-overlay-content {
        bottom: 35px;
    }

    .tripjao-tour-core-gallery-with-thumbnail-wrap.tripjao-tour-core-inside-slider .gdlr-core-sly-slider {
        display: none;
    }

    .tripjao-tour-core-price-table-item .tripjao-tour-core-price-table {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .tripjao-tour-core-price-table-item .tripjao-tour-core-price-table-column:last-child .tripjao-tour-core-price-table {
        margin-bottom: 0px;
    }

    .tripjao-tour-core-title-item.tripjao-tour-core-left-align .tripjao-tour-core-title-item-link {
        position: static;
        margin-top: 12px;
    }

    .tripjao-tour-core-title-item-caption-right .tripjao-tour-core-title-item-title-wrap {
        float: none;
        margin-bottom: 13px;
        margin-right: 0px;
        width: auto !important;
    }

    .tripjao-tour-core-newsletter-item.tripjao-tour-core-style-round .tripjao-tour-core-newsletter-email {
        width: 100%;
        float: none;
    }

    .tripjao-tour-core-newsletter-item.tripjao-tour-core-style-round .tripjao-tour-core-newsletter-submit {
        width: 100%;
        float: none;
        margin-top: 17px;
    }


    .tripjao-tour-core-timeline-item .tripjao-tour-core-timeline-item-bullet {
        display: none;
    }

    .tripjao-tour-core-timeline-item .tripjao-tour-core-timeline-item-date {
        width: auto !important;
        padding-right: 0px;
        float: none;
        text-align: left;
    }
}

.tripjao-tour-enquiry-field .tripjao-tour-enquiry-field-full-name{
    margin:10px;

}