﻿@model TripJao.Models.Users

@{
    ViewBag.Title = "New User";
}

<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">
            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    New User
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Add", "User", FormMethod.Post))
                    {@Html.AntiForgeryToken()
                    <div class="form-group row">
                        @Html.LabelFor(model => model.FirstName, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "inputTextBox", @placeholder = "Enter First Name" })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.LastName, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "inputTextBox", @placeholder = "Enter Last Name" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Type, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Type, new { @class = "inputTextBox", @placeholder = "Enter Type" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.UserName, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "inputTextBox", @placeholder = "Enter User Name" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Password, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.Password, new { @class = "inputTextBox", @placeholder = "Enter Password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "inputTextBox", @placeholder = "Enter Confirm Password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Status, new { @class = "col - sm - 2 col - form - label" })
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Status)
                            @Html.CheckBoxFor(model => model.Status)
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>