﻿@model IEnumerable<TripJao.Models.TJ_Users>

@{
    ViewBag.Title = "User Details";
}
<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>


            <p>
                @Html.ActionLink("Add New", "Add")
            </p>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Packages
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="width:100%;" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.createdAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdatedAt)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.createdAt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                                    </td>
                                    @*<td>
                                            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                                        </td>*@
                                </tr>
                            }

                        </table>
                    </div>
                </div>
                @*<div class="card-footer small text-muted">
                        Updated yesterday at 11:59 PM
                    </div>*@
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->
    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
</div>