﻿
@{
    ViewBag.Title = "Bolgs";
}

<div id="content">
    <div class="container">
        <div class="row blog-page">
            <div class="col-md-9 blog-box">

                <!-- Start Post -->
                <div class="blog-post image-post">
                    <!-- Post Thumb -->
                    <div class="post-head">
                        @*<a class="lightbox" title="This is an image title" href="~/Content/Images/Gallery_silde/jk.jpg">
                            @*<div class="thumb-overlay"><i class="fa fa-arrow-circle-right"></i></div>*@
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/F3VQ3fE6rRk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        @*</a>*@
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        @*<div class="post-type"><i class="fa fa-picture-o"></i></div>*@
                        <h2><a href="#">Industrial Visit Travel Diaries - Video Blog</a></h2>
                        <ul class="post-meta">
                            <li>By <a href="#">Monica Sadubattula</a></li>
                            <li>February 12, 2017</li>
                            @*<li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>*@
                            <li><a href="#">0 Comments</a></li>
                        </ul>
                        <p>
                            Industrial visit 2017, travel diaries with Tripjao, this has endeavored me to discover more places and meet new people around, memorable indeed!
                        </p>
                        <a class="main-button" href="~/Blog/BlogDetail">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Post -->
                <!-- Start Post -->
                @*<div class="blog-post image-post">
                        <!-- Post Thumb -->
                        <div class="post-head">
                            <a class="lightbox" title="This is an image title" href="~/Content/Images/Gallery_silde/jk.jpg">
                                <div class="thumb-overlay"><i class="fa fa-arrow-circle-right"></i></div>
                                <img alt="" src="~/Content/Images/Gallery_silde/jk.jpg">
                            </a>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            <h2><a href="#">Blog Posts</a></h2>
                            <ul class="post-meta">
                                <li>By <a href="#">Sujit Keng</a></li>
                                <li>December 30, 2013</li>
                                <li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                                <li><a href="#">4 Comments</a></li>
                            </ul>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <a class="main-button" href="#">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>*@
                <!-- End Post -->
                <!-- Start Pagination -->
                @*<div id="pagination">
                        <span class="all-pages">Page 1 of 3</span>
                        <span class="current page-num">1</span>
                        <a class="page-num" href="#">2</a>
                        <a class="page-num" href="#">3</a>
                        <a class="next-page" href="#">Next</a>
                    </div>*@
                <!-- End Pagination -->

            </div>

        </div>
    </div>
</div>