﻿@model TripJao.Models.Products
@using TripJao.Utilities
@{
    ViewBag.Title = "Details";
    ViewBag.mobInclusions = "";
}

<script type="text/javascript">

    function savedata()
    {
        var message = "";
        var customerName = $('#customerName').val();
        var customerEmail = $('#customerEmail').val();
        var customerContact = $('#customerContact').val();
        var noOfTravellers = $('#noOfTravellers').val();
        var tentativeDate = $('#tentativeDate').val();
        var customerInquiry = $('#customerInquiry').val();

        if (customerName == "") {
            message = message + "Enter Name " + ",";
        }
        if (customerEmail == "") {
            message = message + "Enter Email " + ",";
        }
        if (customerContact == "") {
            message = message + "Enter Contact Number " + ",";
        }
        if (noOfTravellers == "") {
            message = message + "Enter Number of traveller " + ",";
        }
        if (tentativeDate  == "") {
            message = message + "Enter tentative Date" + ",";
        }
        if (customerInquiry == "") {
            message = message + "Enter Enquiry" + ",";
        }
        if (message == "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Add", "Enquiry")',
                data: {
                    Name: $('#customerName').val(),
                    Email: $('#customerEmail').val(),
                    ContactNumber: $('#customerContact').val(),
                    NoOfTravellers: $('#noOfTravellers').val(),
                    TentativeDate: $('#tentativeDate').val(),
                    Enquiry: $('#customerInquiry').val(),
                    ProductId: $('#productId').val(),
                    SelectedProduct: $('#selectedProduct').val(),
                    TourType: $('#tourType').val()
                },
                success: function (data)
                {
                    if (data.status == 1)
                    {
                        alert(data.msg);
                        ClearEnquiryForm();
                    }
                    else
                    {
                        alert(data.msg);
                    }
                }
            });
            return false;
        }
        else {
            alert(message);
            return false;
        }
    }

    function ClearEnquiryForm()
    {
        $('#customerName').val("");
        $('#customerEmail').val("");
        $('#customerContact').val("");
        $('#noOfTravellers').val("");
        $('#tentativeDate').val("");
        $('#customerInquiry').val("");
    }

</script>


<div id="section">
    <div class="container">
        <div class="row blog-page">

            <div class="all-location-headings">
                @*@if (!string.IsNullOrEmpty(Model.Source) && !string.IsNullOrEmpty(Model.Destination) && !string.IsNullOrEmpty(Model.SelectedRegion))
                {
                    <p>@Model.Source – @Model.Destination, @Model.SelectedRegion </p>
                }
                else if (!string.IsNullOrEmpty(Model.Source) && !string.IsNullOrEmpty(Model.Destination) && string.IsNullOrEmpty(Model.SelectedRegion))
                {
                    <p>@Model.Source – @Model.Destination </p>
                }
                else if (!string.IsNullOrEmpty(Model.Source) && string.IsNullOrEmpty(Model.Destination) && !string.IsNullOrEmpty(Model.SelectedRegion))
                {
                    <p>@Model.Source, @Model.SelectedRegion </p>
                }
                else if (string.IsNullOrEmpty(Model.Source) && !string.IsNullOrEmpty(Model.Destination) && !string.IsNullOrEmpty(Model.SelectedRegion))
                {
                    <p>@Model.Destination, @Model.SelectedRegion </p>
                }
                else if (string.IsNullOrEmpty(Model.Source) && !string.IsNullOrEmpty(Model.Destination) && string.IsNullOrEmpty(Model.SelectedRegion))
                {
                    <p>@Model.Destination </p>
                }*@
                @if (!string.IsNullOrEmpty(Model.ProductName))
                {
                    <p>@Model.ProductName</p>
                }
            </div>
            <!--Sidebar-->
            <div class="col-md-4 sidebar left-sidebar">
                <div class="pricing-main-div">
                    <div class="tripjao-header-price tripjao-tour-item-mglr">
                        @if (Model.Discount > 0)
                        {
                            <div class="tripjao-header-price-ribbon">@Model.Discount% Off</div>
                        }
                        <div class="tripjao-header-price-wrap">
                            <div class="tripjao-header-price-overlay">
                            </div>
                            <div class="tripjao-tour-price-wrap tripjao-tour-discount">
                                @if (Model.DiscountedPrice > 0)
                                {
                                    <span class="tripjao-tour-price">
                                        <span class="tripjao-tour-tail"><i class="fa fa-inr"></i>&nbsp;@Model.CostPrice/-</span>
                                    </span>
                                    <span class="tripjao-tour-discount-price"><i class="fa fa-inr"></i>&nbsp;@Model.DiscountedPrice/-</span>
                                }
                                else
                                {
                                    <span class="tripjao-tour-discount-price"><i class="fa fa-inr"></i>&nbsp;@Model.CostPrice/-</span>
                                }


                            </div>
                        </div>
                    </div>
                    <div class="price-value">
                        <!--<p class="price">$ 15,000/-</p>-->
                        <p class="per-person">(Starting Price Per Person)</p>
                    </div>
                    <div class="duration-div">
                        <p class="duration"> @Model.NoOfDays Days / @Model.NoOfNights Nights</p>
                    </div>
                    <div class="tour-info-div">
                        <p class="tour">Tour : @Model.IternaryCategory</p>
                        <p class="country">Country : @Model.CountryName</p>
                        <p class="city">Destinations : @Model.Destination</p>
                    </div>
                </div>
                <div class="tabs-section">

                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-desktop"></i>Enquiry Form</a></li>
                        @*<li><a href="#tab-2" data-toggle="tab"><i class="fa fa-leaf"></i>Review Form</a></li>
                            @*<li><a href="#tab-3" data-toggle="tab"><i class="fa fa-rocket"></i>Tab Title 3</a></li>*@
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content">
                        <!-- Tab Content 1 -->
                        <div class="tab-pane fade in active" id="tab-1">
                            <div class="tripjao-tour-booking-tab-content" data-tourmaster-tab="enquiry" style="display: block;">
                                <div class="tripjao-tour-booking-enquiry-wrap">
                                    <div class="tripjao-enquiry-form tripjao-tour-form-field tourmaster-with-border clearfix" id="tripjao-enquiry-form" data-ajax-url="" data-action="tourmaster_send_enquiry_form" data-validate-error="Please fill all required fields.">
                                        <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-full-name clearfix">
                                            <div class="tripjao-tour-head">
                                                Full Name<span class="tripjao-required-field">*</span>
                                            </div>
                                            <div class="tripjao-tour-tail clearfix">
                                                <input type="hidden" id="productId" value=@Model.Id />
                                                <input type="hidden" value=@TripJao.Models.TourTypes.Package id="tourType" />
                                                @Html.HiddenFor(model => model.PackageInquiryForm.SelectedProduct, new { @id = "selectedProduct", @value = Model })
                                                @Html.TextBoxFor(model => model.PackageInquiryForm.Name, new { @id = "customerName", @class = "form-control", @placeholder = "Name" })
                                            </div>
                                        </div>
                                        <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-email-address clearfix">
                                            <div class="tripjao-tour-head">
                                                Email Address<span class="tripjao-required-field">*</span>
                                            </div><div class="tripjao-tour-tail clearfix">
                                                @Html.TextBoxFor(model => model.PackageInquiryForm.Email, new { @id = "customerEmail", @class = "form-control", @placeholder = "Email" })
                                            </div>
                                        </div>
                                        <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-email-address clearfix">
                                            <div class="tripjao-tour-head">
                                                Contact No.<span class="tripjao-required-field">*</span>
                                            </div><div class="tripjao-tour-tail clearfix">
                                                @Html.TextBoxFor(model => model.PackageInquiryForm.ContactNumber, new { @id = "customerContact", @class = "form-control", @placeholder = "Contact Number" })
                                            </div>
                                        </div>
                                        <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-email-address clearfix">
                                            <div class="tripjao-tour-head">
                                                No. of Travellers <span class="tripjao-required-field">*</span>
                                            </div><div class="tripjao-tour-tail clearfix">
                                                @Html.TextBoxFor(model => model.PackageInquiryForm.NoOfTravellers, new { @id = "noOfTravellers", @class = "form-control", @placeholder = "Number of Travellers" })
                                            </div>
                                        </div>
                                        <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-email-address clearfix">
                                            <div class="tripjao-tour-head">
                                                Tentative Date for Tour <span class="tripjao-required-field">*</span>
                                            </div>
                                            <div class="tripjao-tour-tail clearfix">
                                                <div class="DateControl">
                                                    <div class="tripjao-datepicker-wrap">
                                                        <div class="input-group date " data-provide="datepicker">
                                                            @Html.TextBoxFor(model => model.PackageInquiryForm.TentativeDate, new { @id = "tentativeDate", @class = "form-control", @placeholder = "Tentative Date" })
                                                            <div class="input-group-addon date-wrap">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-your-enquiry clearfix">
                                            <div class="tripjao-tour-head">
                                                Your Enquiry<span class="tripjao-required-field">*</span>
                                            </div>
                                            <div class="tripjao-tour-tail clearfix">
                                                @Html.TextAreaFor(model => model.PackageInquiryForm.Enquiry, new { @id = "customerInquiry", @class = "form-control", @placeholder = "Your Enquiry" })
                                            </div>
                                        </div>
                                        <div class="tripjao-enquiry-form-message"></div>
                                        <input type="hidden" name="tour-id" value="@Model.Id">
                                        <input type="button" class="btn-system btn-large" value="Submit Enquiry" onclick="javascript: savedata();">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Content 2 -->
                        @*<div class="tab-pane fade" id="tab-2">
                                <div class="tripjao-tour-booking-tab-content" data-tourmaster-tab="enquiry" style="display: block;">
                                    <div class="tripjao-tour-booking-enquiry-wrap">
                                        <div class="tripjao-enquiry-form tripjao-tour-form-field tourmaster-with-border clearfix" id="tripjao-enquiry-form" data-ajax-url="" data-action="tourmaster_send_enquiry_form" data-validate-error="Please fill all required fields.">
                                            <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-full-name clearfix">
                                                <div class="tripjao-tour-head">
                                                    Full Name<span class="tripjao-required-field">*</span>
                                                </div>
                                                <div class="tripjao-tour-tail clearfix">
                                                    <input type="hidden" id="productId" value=@Model.Id />
                                                    <input type="hidden" value=@TripJao.Models.TourTypes.Package id="tourType" />
                                                    @Html.HiddenFor(model => model.PackageInquiryForm.SelectedProduct, new { @id = "selectedProduct", @value = Model })
                                                    @Html.TextBoxFor(model => model.PackageInquiryForm.Name, new { @id = "customerName" })
                                                </div>
                                            </div>
                                            <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-email-address clearfix">
                                                <div class="tripjao-tour-head">
                                                    Email Address<span class="tripjao-required-field">*</span>
                                                </div><div class="tripjao-tour-tail clearfix">
                                                    @Html.TextBoxFor(model => model.PackageInquiryForm.Email, new { @id = "customerEmail" })
                                                </div>
                                            </div>
                                            <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-email-address clearfix">
                                                <div class="tripjao-tour-head">
                                                    Contact No.<span class="tripjao-required-field">*</span>
                                                </div><div class="tripjao-tour-tail clearfix">
                                                    @Html.TextBoxFor(model => model.PackageInquiryForm.ContactNumber, new { @id = "customerContact" })
                                                </div>
                                            </div>
                                            <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-email-address clearfix">
                                                <div class="tripjao-tour-head">
                                                    No. of Travellers <span class="tripjao-required-field">*</span>
                                                </div><div class="tripjao-tour-tail clearfix">
                                                    @Html.TextBoxFor(model => model.PackageInquiryForm.NoOfTravellers, new { @id = "noOfTravellers" })
                                                </div>
                                            </div>
                                            <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-email-address clearfix">
                                                <div class="tripjao-tour-head">
                                                    Tentative Date for Tour <span class="tripjao-required-field">*</span>
                                                </div>
                                                <div class="tripjao-tour-tail clearfix">
                                                    <div class="DateControl">
                                                        <div class="tripjao-datepicker-wrap">
                                                            <div class="input-group date " data-provide="datepicker">
                                                                @Html.TextBoxFor(model => model.PackageInquiryForm.TentativeDate, new { @id = "tentativeDate", @class = "form-control" })
                                                                <div class="input-group-addon date-wrap">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tripjao-tour-enquiry-field tripjao-tour-enquiry-field-your-enquiry clearfix">
                                                <div class="tripjao-tour-head">
                                                    Your Enquiry<span class="tripjao-required-field">*</span>
                                                </div>
                                                <div class="tripjao-tour-tail clearfix">
                                                    @Html.TextAreaFor(model => model.PackageInquiryForm.Enquiry, new { @id = "customerInquiry" })
                                                </div>
                                            </div>
                                            <div class="tripjao-enquiry-form-message"></div>
                                            <input type="hidden" name="tour-id" value="@Model.Id">
                                            <input type="button" class="tripjao-tour-button" value="Submit Enquiry" onclick="javascript: savedata();">
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                    </div>
                </div>
            </div>
            <!--End sidebar-->
            <!-- Start Blog Posts -->
            <div class="col-md-8 blog-box">
                <div class="tour-details-div">
                    <div class="head-img-div">
                        <img src='@Model.ThumbnailPath' style="max-height:350px;" alt="">
                    </div>

                    <p class="overview">
                        <i class="fa fa-file-text-o"></i> &nbsp;&nbsp;&nbsp;Tour Details
                    </p>

                    <div class="days-overview-div">
                        @*<p class="day">Day 1</p>*@
                        <p class="day-overview">
                            @Model.IternaryDescription
                        </p>
                    </div>
                </div>
                <div class="tour-details-div">
                    <p class="overview">
                        <i class="fa fa-bus"></i> &nbsp;&nbsp;&nbsp;Itinerary
                    </p>

                    <div class="days-overview-div">
                        @if (Model.Routes != null)
                        {
                            foreach (var IternaryItem in Model.Routes)
                            {
                                if (!string.IsNullOrEmpty(IternaryItem.PickupPoint) && !string.IsNullOrEmpty(IternaryItem.DropPoint))
                                {
                                    <p class="day">Day @IternaryItem.Day &nbsp;&nbsp;&nbsp;@IternaryItem.PickupPoint - @IternaryItem.DropPoint</p>
                                }
                                else if (!string.IsNullOrEmpty(IternaryItem.PickupPoint) && string.IsNullOrEmpty(IternaryItem.DropPoint))
                                {
                                    <p class="day">Day @IternaryItem.Day &nbsp;&nbsp;&nbsp;@IternaryItem.PickupPoint</p>
                                }
                                else if (string.IsNullOrEmpty(IternaryItem.PickupPoint) && !string.IsNullOrEmpty(IternaryItem.DropPoint))
                                {
                                    <p class="day">Day @IternaryItem.Day &nbsp;&nbsp;&nbsp;@IternaryItem.DropPoint</p>
                                }
                                else
                                {
                                    <p class="day">Day @IternaryItem.Day</p>
                                }
                                <p class="day-overview">
                                    @*<ul>
                                        @foreach (string sentence in IternaryItem.Description.Split('.'))
                                        {
                                            <li style="display:list-item;">
                                                @sentence
                                            </li>*@
                                    @IternaryItem.Description
                                    @*}
                                        </ul>*@
                                </p>
                            }
                        }
                    </div>

                </div>
                <div class="tour-inclusion-div">
                    <div class="tour-details-div">
                        <p class="overview">
                            <i class="fa fa-check"></i> &nbsp;&nbsp;&nbsp;Tour Inclusion
                        </p>
                    </div>
                    @*<p class="tour-inclusion-heading">Tour Inclusion</p>*@
                    <table class="tour-inclusion-icons desk-tour-inclusion">
                        <tr>
                            @if (Model.Inclusions != null)
                            {
                                int colCount = 0;
                                ViewBag.mobInclusions = ViewBag.mobInclusions + "<table class='tour-inclusion-icons mob-tour-inclusion' style='display: none; '><tr>";
                                foreach (var includesItem in Model.Inclusions)
                                {
                                    ViewBag.mobInclusions = ViewBag.mobInclusions + "<td><img src='/Uploads/Inclusions/" + includesItem.Text + "/Thumbnail/" + includesItem.Text + "_Thumbnail.png' alt='" + includesItem.Text + "'/></td>";
                                    colCount = colCount + 1;
                                    if (colCount % 2 == 0)
                                    {
                                        ViewBag.mobInclusions = ViewBag.mobInclusions + "</tr><tr>";
                                    }
                                    <td>
                                        <p>@includesItem.Text</p>
                                        <img src='/Uploads/Inclusions/@(includesItem.Text)/Thumbnail/@(includesItem.Text)_Thumbnail.png' alt='@includesItem.Text' />
                                    </td>
                                }
                                ViewBag.mobInclusions = ViewBag.mobInclusions + "</table>";
                            }
                        </tr>
                    </table>
                </div>
                <div class="tour-inclusion-div">
                    <div class="tour-details-div">
                        <p class="overview">
                            <i class="fa fa-close"></i> &nbsp;&nbsp;&nbsp;Tour Exclusions
                        </p>
                    </div>
                    @*<p class="tour-inclusion-heading">Tour Inclusion</p>*@
                    <table class="tour-inclusion-icons desk-tour-inclusion">
                        <tr>
                            @if (Model.Exclusions != null)
                            {
                                int colCount = 0;
                                ViewBag.mobInclusions = ViewBag.mobInclusions + "<table class='tour-inclusion-icons mob-tour-inclusion' style='display: none; '><tr>";
                                foreach (var excludesItem in Model.Exclusions)
                                {
                                    ViewBag.mobInclusions = ViewBag.mobInclusions + "<td><img src='/Uploads/Exclusions/" + excludesItem.Text + "/Thumbnail/" + excludesItem.Text + "_Thumbnail.png' alt='" + excludesItem.Text + "'/></td>";
                                    colCount = colCount + 1;
                                    if (colCount % 2 == 0)
                                    {
                                        ViewBag.mobInclusions = ViewBag.mobInclusions + "</tr><tr>";
                                    }
                                    <td>
                                        <p>@excludesItem.Text</p>
                                        <img src='/Uploads/Exclusions/@(excludesItem.Text)/Thumbnail/@(excludesItem.Text)_Thumbnail.png' alt='@excludesItem.Text' />
                                    </td>
                                }
                                ViewBag.mobInclusions = ViewBag.mobInclusions + "</table>";
                            }
                        </tr>
                    </table>
                </div>
                <div class="tour-inclusion-div">
                    <div class="tour-details-div">
                        <p class="overview">
                            <i class="fa fa-map-o"></i> &nbsp;&nbsp;&nbsp;Tour Map
                        </p>
                    </div>
                    <div id="tour-map" class="">
                        <iframe src="@(Model.LocationPath)" id="tour-map" name="tour-map" style="width:100%; height:480px;"></iframe>

                    </div>
                </div>
                <div class="tour-inclusion-div">
                    <div class="tour-details-div">
                        <p class="overview">
                            <i class="fa fa-photo"></i> &nbsp;&nbsp;&nbsp;Photo Gallery
                        </p>
                    </div>
                    <!-- Start Single Post (Gallery Slider) -->
                    <div class="post-head-big">
                        <div class="touch-slider post-slider">
                            @if (Model.GalleyPaths != null)
                            {
                                foreach (var itemPath in Model.GalleyPaths)
                                {
                                    <div class="item">
                                        <a class="lightbox" title='@Model.Destination' href='@itemPath' data-lightbox-gallery="gallery1">
                                            <div class="thumb-overlay"><i class="fa fa-arrow-circle-right"></i></div>
                                            <img alt="" src='@itemPath' style="max-height:500px;  width:100%;" />
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="tour-inclusion-div">
                    <div class="tour-details-div">
                        <p class="overview">
                            <i class="fa fa-play"></i> &nbsp;&nbsp;&nbsp;@if (!Model.isEducationalTour)
                            {
                                @Html.PDFLink("Click here to get E-Brouchure", "/Uploads/E-brouchures/TripJao-E-Brouchure.pdf", 85, "_blank", 300, 500, 600, 730)
                            }
                            else if (Model.isEducationalTour)
                            {
                                @Html.PDFLink("Click here to get E-Brouchure", "/Uploads/E-brouchures/TripJao-Education-E-Brouchure.pdf", 85, "_blank", 300, 500, 600, 730)
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>