﻿
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href='~/admin/Dashboard'>Admin Panel</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav">
            <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="~/admin/Dashboard">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents">
                    <i class="fa fa-fw fa-wrench"></i>
                    <span class="nav-link-text">
                        Master
                    </span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents">
                    @*<li>
                            <a href='~/admin/Iternary'>Iternary</a>
                        </li>*@
                    <li>
                        <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePrducts">Product Master</a>
                        <ul class="sidenav-third-level collapse" id="collapsePrducts">
                            <li>
                                <a href='~/admin/Products'>Product</a>
                            </li>
                            <li>
                                <a href='~/admin/ProductDayWisePlan'>Day wise Plan (Iternaries)</a>
                            </li>
                            @*<li>
                                    <a href='#'>Add Prices</a>
                                </li>*@
                            <li>
                                <a href='~/admin/ProductPhotoGallary'>Photo Gallary</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Setting</a>
                        <ul class="sidenav-third-level collapse" id="collapseMulti2">
                            <li>
                                <a href='~/admin/Region'>Region</a>
                            </li>
                            <li>
                                <a href='~/admin/CountryMaster'>Country</a>
                            </li>
                            <li>
                                <a href='~/admin/Zone'>Zone (State)</a>
                            </li>
                            <li>
                                <a href='~/admin/City'>City</a>
                            </li>
                            <li>
                                <a href='~/admin/CategoryMaster'>Category</a>
                            </li>
                            <li>
                                <a href='~/admin/InclusionMaster'>Inclusions</a>
                            </li>
                            <li>
                                <a href='~/admin/ExclusionMaster'>Exclusions</a>
                            </li>
                            
                            @*<li>
                                    <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseUsers">Users</a>
                                    <ul class="sidenav-third-level collapse" id="collapseUsers">
                                        <li>
                                            <a href='~/User/Index'>All Users</a>
                                        </li>
                                        <li>
                                            <a href='~/User/Add'>Add User</a>
                                        </li>
                                    </ul>
                                </li>*@
                        </ul>
                    </li>
                    <li>
                    <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti3">Careers</a>
                    <ul class="sidenav-third-level collapse" id="collapseMulti3">
                        <li >
                            <a href='~/admin/JobCategories'>
                                    Job Category                               
                            </a>
                        </li>
                        <li >
                            <a href='~/admin/JobVacancies'>
                                    Job Vacancies
                            </a>
                        </li>
                        </ul>
                        </li>
                    </ul>
            </li>
            @*<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti">
                        <i class="fa fa-fw fa-sitemap"></i>
                        <span class="nav-link-text">
                            Menu Levels
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMulti">
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
                            <ul class="sidenav-third-level collapse" id="collapseMulti2">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>*@
        </ul>
        @*<ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>*@
        <ul class="navbar-nav ml-auto">
            @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="messagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            Messages
                            <span class="badge badge-pill badge-primary">12 New</span>
                        </span>
                        <span class="new-indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                            <span class="number">12</span>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">New Messages:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>David Miller</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Jane Smith</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>John Doe</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">
                            View all messages
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i>
                        <span class="d-lg-none">
                            Alerts
                            <span class="badge badge-pill badge-warning">6 New</span>
                        </span>
                        <span class="new-indicator text-warning d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                            <span class="number">6</span>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">New Alerts:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up"></i>
                                    Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-danger">
                                <strong>
                                    <i class="fa fa-long-arrow-down"></i>
                                    Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up"></i>
                                    Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">
                            View all alerts
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>*@
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- Logout Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Select "Logout" below if you are ready to end your current session.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="~/Admin/Logout">Logout</a>
            </div>
        </div>
    </div>
</div>