﻿@using TripJao.Utilities
<!-- Start Footer Section -->
<footer>
    <div class="container">
        <div class="row footer-widgets">

            <!-- Start Contact Widget -->
            <div class="col-md-3 col-xs-12">
                <div class="footer-widget contact-widget">
                    @*<h4>
                            <a class="navbar-brand" href="index.html">
                                <img alt="Trip Jao" src="~/Content/Images/Tripjao-wht.png" class="img-responsive" style="height: 50px; width: 120px;">
                            </a>
                        </h4>*@
                    <h4>
                        Contact Us<span class="head-line"></span>
                    </h4>
                    <ul>
                        <li><i class="fa fa-map-marker"></i><span> : Shop No. 6, Kedar Empire, Kothrud 38, Pune</span></li>
                        <li><i class="fa fa-mobile"></i><span> : +91 86 00 008383</span></li>
                        <li><i class="fa fa-envelope"></i><span> : info@tripjao.com</span></li>
                        <!-- <li><span>Website:</span> www.tripjao.com</li> -->
                    </ul>
                </div>
            </div>
            <!-- .col-md-3 -->
            <!-- End Contact Widget -->
            <!-- Start Subscribe & Social Links Widget -->
            <!-- Start Flickr Widget -->
            <div class="col-md-6 col-xs-12">
                <div class="footer-widget flickr-widget">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.4962872308574!2d73.82521931445781!3d18.506461987417243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf92fcd97bef%3A0xa3bcb06bb210bd18!2sTrip+Jao!5e0!3m2!1sen!2sin!4v1502488044608" frameborder="0" style="border:0; width:100%; height:300px;" allowfullscreen></iframe>
                </div>
            </div>
            <!-- .col-md-3 -->
            <!-- End Flickr Widget -->

            <div class="col-md-3 col-xs-12">

                <div class="footer-widget mail-subscribe-widget">
                    <ol class="footer-nav" style="padding-left: 0px;">
                        <li><a href='~/AboutUs'>About Us</a></li>
                        <li><a href='~/Blog'>Blog</a></li>
                        <li><a href='~/Tours/Gallery'>Gallery</a></li>
                        <li><a href='~/Tours/TermsAndConditions'>Terms & Conditions</a></li>
                        <li><a href='~/Careers'>Careers</a></li>
                        @*<li><a id="getBrouchar" href="javascript:;" onclick="showBrouchureModal('Uploads/E-brouchar/TripJao e-brochure.pdf');"><span>E-Brochure</span></a>*@</li>
                        <li>@Html.PDFLink("E-Brouchure", "/Uploads/E-brouchures/TripJao-E-Brouchure.pdf", 85, "_blank", 300, 500, 600, 730)</li>
                    </ol>
                </div>
                <div class="footer-widget social-widget">
                    <h4>
                        Follow Us<span class="head-line"></span>
                    </h4>
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="https://www.facebook.com/TripJao/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="twitter" href="https://twitter.com/tripjao">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="google" href="https://plus.google.com/+TripJaoPune">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <!-- <li><a class="dribbble" href="#"><i
                        class="fa fa-dribbble"></i></a></li> -->
                        <li>
                            <a class="linkdin" href="https://in.linkedin.com/company/tripjao">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <!-- <li><a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                        </li> -->
                        <!-- <li><a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                        </li> -->
                        <li>
                            <a class="instgram" href="https://www.instagram.com/tripjao/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <!-- <li><a class="vimeo" href="#"><i
                                class="fa fa-vimeo-square"></i></a></li> -->
                        @*<li>
                                <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                            </li>*@
                        <li>
                            <a class="pinterest" href="https://in.pinterest.com/tripjao/">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- .col-md-3 -->
                <!-- End Subscribe & Social Links Widget -->


            </div>
            <!-- .row -->

        </div>
        <!-- Start Copyright -->
        <div class="copyright-section">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        &copy; 2017 Tripjao - All Rights Reserved
                    </p>
                </div>
                <!-- .col-md-6 -->
                <!-- <div class="col-md-6">
                    <ul class="footer-nav">
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div> -->
                <!-- .col-md-6 -->
            </div>
            <!-- .row -->
        </div>
        <!-- End Copyright -->
    </div>
</footer>
<!-- End Footer Section -->
</div>
<!-- End Full Body Container -->
<!-- Go To Top Link -->
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<div id="loader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
@*<div id="BrouchureModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-body" id="modal-body">
                    </div>
            </div>
        </div>
    </div>*@
<div id="BrouchureModal" style="display:block">

</div>

</body>
</html>
<script type="text/javascript">
    function showBrouchureModal(fname) {
        var fileName = fname;
        //    $("#BrouchureModal").show({
        //        modal: true,
        //        title: fileName,
        //        width: 540,
        //        height: 450,
        //        buttons: {
        //            Close: function () {
        //                $(this).show('close');
        //            }
        //        },
        //        open: function () {
        //            var object = "<object data=\"{FileName}\" type=\"application/pdf\" width=\"500px\" height=\"300px\">";
        //            object += "If you are unable to view file, you can download from <a href = \"{FileName}\">here</a>";
        //            object += " or download <a target = \"_blank\" href = \"http://get.adobe.com/reader/\">Adobe PDF Reader</a> to view the file.";
        //            object += "</object>";
        //            object = object.replace(/{FileName}/g, "Files/" + fileName);
        //            $("#BrouchureModal").html(object);
        //        }
        //    });


        $("#BrouchureModal").modal('show');
        $("#BrouchureModal").modal({
            backdrop: 'static',
            keyboard: false
        });

        var object = "<object data=\"{FileName}\" type=\"application/pdf\" width=\"100%\" height=\"100%\">";
        object += "If you are unable to view file, you can download from <a href = \"{FileName}\">here</a>";
        object += " or download <a target = \"_blank\" href = \"http://get.adobe.com/reader/\">Adobe PDF Reader</a> to view the file.";
        object += "</object>";
        object = object.replace(/{FileName}/g, fileName);
        $("#modal-body").html(object);

        //$("#dialog").modal('show');
    }
</script>
