﻿@using TripJao.Utilities
@using System.Web.Mvc.Html
<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="TripJao, TripJao Hospitality Pvt Ltd, TripJao Hospitality, TripJao travel company, TripJao tours and travel, TripJao tour packages,&nbsp;TripJao holiday packages&nbsp;Domestic tour packages, International tour packages TripJao travel company, TripJao Ghum Ke Aao ">
    <meta name="description" content="Enjoy the exclusive domestic and international tour packages offers by best travel company TripJao. Visit to know about TripJao tours packages.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        TripJao || @ViewBag.Title
    </title>
    @Styles.Render("~/Content/css/tour-details.css")
    @Styles.Render("~/Content/css/contact-us.css")
    @*@Styles.Render("~/Content/css/Tripjao-tour-details.css")*@
    @Styles.Render("~/Content/asset/css/bootstrap.css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/css/responsive.css")
    @Styles.Render("~/Content/css/animate.css")
    @Styles.Render("~/Content/css/datepicker3.css")
    @Styles.Render("~/Content/css/Animation_Package.css")
    
    @Styles.Render("~/Content/css/colors/yellow.css")

    @Scripts.Render("~/Content/vendor/jquery/jquery.js")
    @Scripts.Render("~/Content/vendor/popper/popper.js")
    @Scripts.Render("~/Content/vendor/jquery-easing/jquery.easing.js")
    @Scripts.Render("~/Content/vendor/datatables/jquery.dataTables.js")
    @Scripts.Render("~/Content/vendor/datatables/dataTables.bootstrap4.js")
   
    @Scripts.Render("~/Content/js/jquery-2.1.1.min.js")
    @Scripts.Render("~/Content/js/jquery.migrate.js")
    @Scripts.Render("~/Content/js/modernizrr.js")
    @Scripts.Render("~/Content/asset/js/bootstrap.js")
    @Scripts.Render("~/Content/js/jquery.fitvids.js")
    @Scripts.Render("~/Content/js/owl.carousel.min.js")
    @Scripts.Render("~/Content/js/nivo-lightbox.min.js")
    @Scripts.Render("~/Content/js/jquery.isotope.min.js")
    @Scripts.Render("~/Content/js/jquery.appear.js")
    @Scripts.Render("~/Content/js/count-to.js")   
    @Scripts.Render("~/Content/js/jquery.textillate.js")
   
    @Scripts.Render("~/Content/js/jquery.lettering.js")
    @Scripts.Render("~/Content/js/jquery.easypiechart.min.js")
    @Scripts.Render("~/Content/js/jquery.nicescroll.min.js")
    @Scripts.Render("~/Content/js/jquery.parallax.js")
    @Scripts.Render("~/Content/js/mediaelement-and-player.js")
    @Scripts.Render("~/Content/js/script.js")
    @Scripts.Render("~/Content/js/bootstrap-datepicker.js")
    @Scripts.Render("~/Content/js/packages.js")
    @Scripts.Render("~/Content/js/FormValidator.js")
    @Scripts.Render("~/Content/js/CommonFormValidator.js")
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        $('.DateControl').datepicker({
            format: 'dd/mm/yyyy',
            autoclose:true,
        //startDate: '-3d'
        });

        $('#main-content').html($('.nav a').prop('href'));
       
    </script>
    
</head>
<body>
    @Html.Partial("~/Views/Shared/_HomeHeader.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
   