﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      Tripjao || Admin - @ViewBag.Title
    </title>

    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.css")
    @Styles.Render("~/Content/vendor/font-awesome/css/font-awesome.css")
    @Styles.Render("~/Content/vendor/datatables/dataTables.bootstrap4.css")
    @Styles.Render("~/Content/css/sb-admin.css")

    @Scripts.Render("~/Content/vendor/jquery/jquery.js")
    @Scripts.Render("~/Content/vendor/popper/popper.js  ")
    @Scripts.Render("~/Content/vendor/bootstrap/js/bootstrap.js")
    @Scripts.Render("~/Content/vendor/jquery-easing/jquery.easing.js")
    @Scripts.Render("~/Content/vendor/chart/Chart.js")
    @Scripts.Render("~/Content/vendor/datatables/jquery.dataTables.js")
    @Scripts.Render("~/Content/vendor/datatables/dataTables.bootstrap4.js")
    @Scripts.Render("~/Content/js/sb-admin.js")
    @Scripts.Render("~/Content/js/SessionUpdater.js")
    <script type="text/javascript">
    // initialize Session Updater on page
    SessionUpdater.Setup('@Url.Action("KeepSessionAlive","admin")');
    </script>
</head>
<body class="fixed-nav" id="page-top">    
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
