﻿@using TripJao.Utilities
<!-- Full Body Container -->
<div id="container" class="boxed-page">
    <script type="text/javascript">
        $(document).ready(function ($) {
            (function () {
                
                //$('.top-bar').slideUp(300);
                $("header").addClass("fixed-header");
                //$('.navbar-push-brand').css({ 'display': "block" });
                $('.navbar-push-brand img').css({ 'height': 60 + "px", 'padding-left': 20 + "px", 'max-width': 100 + "%" });
                //$('.navbar-brand').css({ 'padding-top': 5 + "px", 'padding-bottom': 8 + "px", 'display': "block" });
                //$('.navbar-brand img').css({ 'display': 6 + "block" });
                $('.navbar-nav.navbar-right').css({ 'margin-top': 0 + "px", 'background-color': "transparent" });
                $('.navbar-default').css({ 'background-color': "rgba(15, 15, 16, 0.8)" });
                $('.dropdown').css({ 'background-color': "rgba(15, 15, 16, 0.8)" });
                 if (/iPhone|iPod|BlackBerry/i.test(navigator.userAgent) || $(window).width() < 479) {
                    $('.navbar-default .navbar-nav > li > a').css({ 'padding-top': 0 + "px", 'padding-bottom': 0 + "px" })
                } else {
                    $('.navbar-default .navbar-nav > li > a').css({ 'padding-top': 20 + "px", 'padding-bottom': 20 + "px" })
                    $('.search-side').css({ 'margin-top': -7 + "px" });
                }

                var $headerHeight = $('.navbar-header').height();
                $('.hidden-header').css({ 'height': $headerHeight + "px" });
                $('.search-field-main-div').css({ 'position': "relative", 'top': "0px", 'background-color':"#ffcc00" });
            }
                

                )();
        });
    </script>
    <!-- Start Header Section -->
    <div class="hidden-header"></div>
    <header class="clearfix">

        <!-- Start Top Bar -->
        @*<div class="top-bar header-div">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="navbar-header">
                                <a class="navbar-push-brand" href="/">
                                    <img src="~/Content/Images/Tripjao-wht.png">
                                </a>
                            </div>    <!-- Start Contact Info -->
                        </div>

                    </div>
                    <!-- .row -->
                </div>
                <!-- .container -->
            </div>*@
        <!-- .top-bar -->
        <!-- End Top Bar -->
        <!-- Start  Logo & Naviagtion  -->
        <div class="navbar navbar-default navbar-top">
            <!--<div class="container">-->
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->
                <a class="navbar-push-brand" href="/">
                    <img src="~/Content/Images/Tripjao-wht.png" >
                </a>
                <a class="navbar-brand" href="~/home">
                    <img alt="TripJao Home" src="~/Content/Images/Tripjao-wht.png" style="height: 55px; padding-left:20px; max-width: 100%;">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <!-- Start Navigation List -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class='@Html.IsActive("Home","Index")' href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i></a>
                    </li>
                    <li>
                        <a class='@Html.IsActive("Tours","ToursMaster")' href="@Url.Action("ToursMaster", "Tours")">Tours</a>
                        <ul class="dropdown">
                            <li><a class='@Html.IsActive("Tours","DomesticTours")' href="@Url.Action("DomesticTours", "Tours")">Domestic Tours</a></li>
                            <li><a class='@Html.IsActive("Tours","InternationalTours")' href="@Url.Action("InternationalTours", "Tours")">International Tours</a></li>
                            <li><a class='@Html.IsActive("Tours","CorporateTours")' href="@Url.Action("CorporateTours", "Tours")">Corporate Tours</a></li>
                            <li><a class='@Html.IsActive("Tours","CulturalTours")' href="@Url.Action("CulturalTours", "Tours")">Cultural Tours</a></li>
                            <li><a class='@Html.IsActive("Tours","HoneyMoonTours")' href="@Url.Action("HoneyMoonTours", "Tours")">Honeymoon Specials</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class='@Html.IsActive("Tours","EducationalTours")' href="@Url.Action("EducationalTours", "Tours")">Educational Tours</a>
                    </li>
                    <li>
                        <a class='@Html.IsActive("Tours","FarByCar")' href="@Url.Action("FarByCar", "Tours")">Far By Car</a>
                    </li>
                    <li>
                        <a class='@Html.IsActive("Blog","Index")' href="@Url.Action("Index", "Blog")">Blog</a>
                    </li>
                    <li><a class='@Html.IsActive("ContactUs","Index")' href="@Url.Action("Index", "ContactUs")">Contact Us</a></li>
                    <li><a class='@Html.IsActive("Index","About")' href="@Url.Action("Index", "AboutUs")">About Us</a></li>
                </ul>
                <!-- End Navigation List -->
            </div>

            <!-- </div>-->
        </div>
        <!-- End Header Logo & Naviagtion -->

    </header>
    <!-- End Header Section -->
    <!-- Start Search Bar Section -->
    <div class="search-field-main-div tripjao-search-control">
        <form class="tripjao-search-form-field tourmaster-with-border" name="searchForm" action="#" method="POST">
            <input type="text" class="destination" id="destination" placeholder="Destination">
            @Html.DropDownList("Category", (List<SelectListItem>)(ViewBag.CategorySelectList), "Select Category", new { @class = "categories", @id = "ddlCategory" })
            @Html.DropDownList("Duration", (List<SelectListItem>)(ViewBag.DurationsSelectList), "Select Duration of Trip", new { @class = "categories", @id = "ddlDuration" })
            <input type="button" class="search search-btn-system" value="Search" onclick="getPackages()" />
        </form>
    </div>
    <!-- End Search Bar Section -->