﻿@model TripJao.Models.JobVacancies
@{
    ViewBag.Title = "Details";
}


<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    Details
                </div>
                <div class="card-body">
                    <h4>JobVacancies</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.JobCode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.JobCode)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.JobTitle)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.JobTitle)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.JobDesignation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.JobDesignation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MinExperience)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MinExperience)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MaxExperience)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MaxExperience)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.JobCTC)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.JobCTC)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.JobDescription)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.JobDescription)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>
