﻿@model TripJao.Models.TJ_Products

@{
    ViewBag.Title = "Edit";
}

<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    Edit
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Product</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group row">
                                @Html.LabelFor(model => model.BusinessType, "Business Type", htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("BusinessType", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BusinessType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.SeasonId, "Season", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("SeasonId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SeasonId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group row">
                                @Html.LabelFor(model => model.RegionId, "Region", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("RegionId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                            <div class="form-group row">
                                @Html.LabelFor(model => model.CountryId, "Country", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ZoneId, "Zone", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("ZoneId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ZoneId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.CityId, "City", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.ValidFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ValidFrom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ValidFrom, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ValidTo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ValidTo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ValidTo, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            @*<div class="form-group row">
                                    @Html.LabelFor(model => model.IternaryId, "Iternary", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("IternaryId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IternaryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ProductName, "Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.IternaryDescription, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.IternaryDescription, new { @class = "form-control", @style = "height:150px;" })
                                    @Html.ValidationMessageFor(model => model.IternaryDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ProductIternaryCode, "Product Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductIternaryCode, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.ProductIternaryCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.NoOfDays, "Days and Nights", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.NoOfDays, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Total days" } })
                                    @Html.ValidationMessageFor(model => model.NoOfDays, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.NoOfNights, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Total nights" } })
                                    @Html.ValidationMessageFor(model => model.NoOfNights, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group row">
                                    @Html.LabelFor(model => model.NoOfNights, "Total Nights", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.NoOfNights, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NoOfNights, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group row">
                                @Html.LabelFor(model => model.IternaryStatus, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("IternaryStatus", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IternaryStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group row">
                                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group row">
                                @Html.LabelFor(model => model.IternaryCategory, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @for (int i = 0; i < Model.Categories.Count(); i++)
                                    {
                                        <span>&nbsp;</span>
                                        @Html.CheckBoxFor(m => m.Categories[i].Checked, new { @class = "checkbox-inline" })
                                        @Html.HiddenFor(m => m.Categories[i].Id)
                                        @Html.HiddenFor(m => m.Categories[i].Text)
                                        @Html.DisplayFor(m => m.Categories[i].Text, new { @class = "checkbox-inline" })
                                    }
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Source, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                
                                    @Html.LabelFor(model => model.Price.CostPrice, "Cost Price", htmlAttributes: new { @class = "control-label col-md-2" })
                               
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Price.CostPrice, new { htmlAttributes= new { @class = "form-control", @id = "txtCostPrise" } })
                                    @Html.ValidationMessageFor(model => model.Price.CostPrice,"", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                               
                                    @Html.LabelFor(model => model.Price.Discount, "Discount", htmlAttributes: new { @class = "control-label col-md-2" })
                                
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Price.Discount, new { htmlAttributes = new { @class = "form-control", @id = "txtDiscount", @name = "txtDiscount" } })
                                    @Html.ValidationMessageFor(model => model.Price.Discount,"", new { @class = "text-danger" })
                                </div>
                            </div>
                            <script type="text/javascript">
                                $("#txtDiscount").focusout(function () {
                                    var costPrice = $("#txtCostPrise").val();
                                    var discount = $("#txtDiscount").val();
                                    var discountedPrice = 0;
                                    if (costPrice != 'undefined' || costPrice != null || costPrice > 0) {
                                        if (discount != 'undefined' && discount != null && discount > 0) {
                                            discountedPrice = costPrice - (costPrice * (discount / 100));
                                            $("#txtDiscountedPrice").val(discountedPrice);
                                        }
                                        else {
                                            $("#txtDiscountedPrice").val("");
                                        }
                                    }
                                });
                                $("#txtCostPrise").focusout(function () {
                                    var costPrice = $("#txtCostPrise").val();
                                    var discount = $("#txtDiscount").val();
                                    var discountedPrice = 0;
                                    if (costPrice != 'undefined' || costPrice != null || costPrice > 0) {
                                        if (discount != 'undefined' && discount != null && discount > 0) {
                                            discountedPrice = costPrice - (costPrice * (discount / 100));
                                            $("#txtDiscountedPrice").val(discountedPrice);
                                        }
                                        else {
                                            $("#txtDiscountedPrice").val("");
                                        }
                                    }
                                });
                            </script>
                            <div class="form-group row">
                                    @Html.LabelFor(model => model.Price.DiscountedPrice, "Discounted Price", new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Price.DiscountedPrice, new { htmlAttributes = new { @class = "form-control", @id = "txtDiscountedPrice", @ReadOnly = "true", @name = "txtDiscountedPrice", @value = (Model.Price.Discount > 0) ? (Model.Price.CostPrice - (Model.Price.CostPrice * (Model.Price.Discount / 100))).ToString() : "0" } })
                                    @Html.ValidationMessageFor(model => model.Price.DiscountedPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Thumbnail, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Thumbnail, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group row">
                                @Html.LabelFor(model => model.LocationPath, "Location Path", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LocationPath, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LocationPath, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Inclusions, "Inclusions", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @for (int i = 0; i < Model.Inclusions.Count(); i++)
                                    {
                                        <span>&nbsp;</span>
                                        @Html.CheckBoxFor(m => m.Inclusions[i].Checked, new { @class = "checkbox-inline" })
                                        @Html.HiddenFor(m => m.Inclusions[i].Id)
                                        @Html.HiddenFor(m => m.Inclusions[i].Text)
                                        @Html.DisplayFor(m => m.Inclusions[i].Text, new { @class = "checkbox-inline" })
                                    }
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Exclusions, "Exclusions", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @for (int i = 0; i < Model.Exclusions.Count(); i++)
                                    {
                                        <span>&nbsp;</span>
                                        @Html.CheckBoxFor(m => m.Exclusions[i].Checked, new { @class = "checkbox-inline" })
                                        @Html.HiddenFor(m => m.Exclusions[i].Id)
                                        @Html.HiddenFor(m => m.Exclusions[i].Text)
                                        @Html.DisplayFor(m => m.Exclusions[i].Text, new { @class = "checkbox-inline" })
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.TopPromotion, "Top Promotion", htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                <div class="col-md-10">
                                    @Html.DropDownList("TopPromotion", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TopPromotion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />

                            <h4>Day wise plans (Iternaries)</h4>
                            <hr />

                            @for (int i = 0; i < Model.Iternaries.Count(); i++)
                            {
                                <div class="card-header">
                                    @Html.Label("Day - " + (i + 1))
                                    @Html.HiddenFor(model => model.Iternaries[i].Id)
                                    @Html.HiddenFor(model => model.Iternaries[i].Day)
                                    @Html.HiddenFor(model => model.Iternaries[i].ProductId)
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Iternaries[i].City, "City", htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.Iternaries[i].City, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Iternaries[i].City, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Iternaries[i].PickupPoint, "Pickup Point", htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.Iternaries[i].PickupPoint, new { htmlAttributes = new { @class = "form-control" } })

                                            @Html.ValidationMessageFor(model => model.Iternaries[i].PickupPoint, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Iternaries[i].DropPoint, "Drop Point", htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.Iternaries[i].DropPoint, new { htmlAttributes = new { @class = "form-control" } })

                                            @Html.ValidationMessageFor(model => model.Iternaries[i].DropPoint, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Iternaries[i].Description, "Description", htmlAttributes: new { @class = "col - sm - 2 col - form - label" })
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(model => model.Iternaries[i].Description, new { @class = "form-control", @style = "height:150px;" })
                                            @Html.ValidationMessageFor(model => model.Iternaries[i].City, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <input type="button" value="Cancel" class="btn btn-default" onclick="window.location.href = '@Url.Action(Model.ViewName, "Admin")'" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
