﻿@model IEnumerable<TripJao.Models.TJ_Products>

@{
    ViewBag.Title = "Index";
}
<div class="fixed-nav" id="page-top">
    @Html.Partial("~/Views/Shared/_AdminHeader.cshtml")
    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/admin/Dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-sticky-note-o"></i>
                    Index
                </div>
                <div class="card-body">

                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayName("Description")
                            </th>
                            <th>
                                @Html.DisplayName("Code")
                            </th>
                            <th>
                                @Html.DisplayName("Days")
                            </th>
                            <th>
                                @Html.DisplayName("Nights")
                            </th>
                            <th>
                                @Html.DisplayName("Status")
                            </th>
                            <th>
                                @Html.DisplayName("Source")
                            </th>
                            <th>
                                @Html.DisplayName("Destination")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Thumbnail)
                            </th>
                            <th>
                                @Html.DisplayName("Top Promotion")
                            </th>                            
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IternaryDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductIternaryCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfDays)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfNights)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IternaryStatus)
                                </td>                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.Source)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Destination)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Thumbnail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TopPromotion)
                                </td>                                    
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
