﻿@using System.Text.RegularExpressions;
@model TripJao.Models.Products
@{
    ViewBag.Title = "Home";
}

@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}

<script type="text/javascript">

    function send()
    {
        var message = contactUsValidation();        
        
        if (message.length <= 0)
        {            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Add", "ContactUs")',
                data: {
                    CustomerName: $('#CustomerName').val(),
                    CustomerEmail: $('#CustomerEmail').val(),
                    CustomerContact: $('#CustomerContact').val(),
                    FeedbackSubject: $('#FeedbackSubject').val(),
                    CustomerMessage: $('#CustomerMessage').val()
                },
                success: function (data)
                {
                    if (data.status == 1){
                        alert(data.msg);
                        ClearEnquiryForm();
                    }
                    else{
                        alert(data.msg);
                    }
                }
            });
            return false;
        }
        else {
            alert(message);
            return false;
        }
    }

    function ClearEnquiryForm()
    {
        $('#CustomerName').val("");
        $('#CustomerEmail').val("");
        $('#CustomerContact').val("");
        $('#FeedbackSubject').val("");
        $('#CustomerMessage').val("");
    }

</script>
<!-- Start Home Page Slider -->
<section id="home">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-slide" data-slide-to="0" class="active"></li>
            <li data-target="#main-slide" data-slide-to="1"></li>
            <li data-target="#main-slide" data-slide-to="2"></li>
            <li data-target="#main-slide" data-slide-to="3"></li>
        </ol>
        <!--/ Indicators end-->
        <!-- Carousel inner -->
        <div class="carousel-inner">
            <div class="item active">
                <a href='~/Tours/CorporateTours'>
                    <img class="img-responsive" src="~/Content/Images/slider/Corporate.jpg"
                         alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated2">
                                <span><strong>Visit By </strong></span>
                            </h2>
                            <h3 class="animated3 white">
                                <span><strong>Profession</strong></span>
                            </h3>
                            <!-- <p class="animated4"><a href="#" class="slider btn btn-system btn-large">Check Now</a></p>-->

                        </div>
                    </div>
                </a>
            </div>
            <!--/ Carousel item end -->
            <div class="item">
                <a href='~/Tours/HoneyMoonTours'>
                    <img class="img-responsive" src="~/Content/Images/slider/Honeymoon.jpg"
                         alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated4">
                                <span><strong>Couple Retreat</strong></span>
                            </h2>
                            <h3 class="animated3 black">
                                <span><strong>Made For Each Other</strong></span>
                            </h3>
                            <!-- <p class="animated6"><a href="#" class="slider btn btn-system btn-large">Buy Now</a>
                            </p>-->
                        </div>
                    </div>
                </a>
            </div>

            <!--/ Carousel item end -->
            <div class="item">
                <a href='~/Tours/CulturalTours'>
                    <img class="img-responsive" src="~/Content/Images/slider/Adventure.jpg"
                         alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated7 white">
                                <span><strong>Dream To Live !!!</strong></span>
                            </h2>
                            <h3 class="animated8 white">
                                <!-- <span>Why you are waiting</span>-->
                            </h3>
                            <div class="">
                                <!--   <a class="animated4 slider btn btn-system btn-large btn-min-block" href="#">Get Now</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>-->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--/ Carousel item end -->

            <div class="item">
                <a href='~/Tours/EducationalTours'>
                    <img class="img-responsive" src="~/Content/Images/slider/Educational.jpg"
                         alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated7 black">
                                <span><strong>Education To</strong></span>
                            </h2>
                            <h3 class="animated3 black">
                                <span><strong>Explore</strong></span>
                            </h3>
                            <div class="">
                                <!--   <a class="animated4 slider btn btn-system btn-large btn-min-block" href="#">Get Now</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>-->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--/ Carousel item end -->
        </div>
        <!-- Carousel inner end-->
        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide"
           data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a> <a class="right carousel-control" href="#main-slide"
                data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    </div>
    <!-- /carousel -->
</section>
<!-- End Home Page Slider -->
<div class="search-field-main-div tripjao-search-control">
    <form class="tripjao-search-form-field tourmaster-with-border" name="searchForm" action="#" method="POST">
        <input type="text" class="destination" id="destination" placeholder="Destination">
        @Html.DropDownList("Category", (List<SelectListItem>)(ViewBag.CategorySelectList), "Select Category", new { @class = "categories", @id = "ddlCategory" })
        @Html.DropDownList("Duration", (List<SelectListItem>)(ViewBag.DurationsSelectList), "Select Duration of Trip", new { @class = "categories", @id = "ddlDuration" })
        <input type="button" class="search search-btn-system" value="Search" onclick="getPackages()" >
        @*<button class="search search-btn-system"><a href="javacript:;" onclick="getPackages();"> Search</a></button>*@
    </form>
</div>
<!-- Start Services Section -->
<div class="section service">
    <div id="content">
        <div class="container">
            <div class="page-content">
                <!--Start Recent Projects-->
                <div class="recent-projects">
                    <h4 class="title"><span>Top Promotions</span></h4>
                    <form name="TopPromotionsForm" action="~/home/TourPackageDetail" method="GET">
                        <div class="projects-carousel touch-carousel">
                            <!-- Start Project Item -->
                            @foreach (var productItem in ViewBag.Products)
                            {
                            <!-- Start Package Item -->
                                <a href="~/Products/Details/@productItem.Id">
                                    <div class=" box portfolio-item item animation_effects_zoom">
                                        <div class="animation_effects_focus animation_effects_relative  animation_effects_overflow ">
                                            @if (productItem.Discount > 0)
                                            {
                                                <div class="tripjao-discount-box gdlr-core-outer-frame-element" style="color: #ffffff;background-color: #e85e34;">
                                                    <div class="tripjao-discount-box-cornor" style="border-right-color: rgba(232, 94, 52, 0.5);">
                                                    </div>@productItem.Discount% Off
                                                </div>
                                            }
                                            <img alt="" class="animation_effects_focus  img-box img-responsive" src='@productItem.ThumbnailPath'>
                                            <table class="animation_effects_focus  description-table">
                                                <tr class="description">
                                                    <td>
                                                        <h4 class="product-name-thumbnail"> @productItem.ProductName</h4>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><a href="~/Products/Details/@productItem.Id">Read More</a></td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="place-duration-main">
                                            <div class="place-duration">
                                                <p class="place">@productItem.Destination</p>
                                                <p class="duration">@productItem.NoOfDays Days / @productItem.NoOfNights Nights</p>
                                            </div>
                                            <div class="price-div">
                                                @if (productItem.DiscountedPrice > 0)
                                                {
                                                    <p class="discounted-price"><i class="fa fa-inr"></i>&nbsp;@productItem.DiscountedPrice</p>
                                                    <p class="actual-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>
                                                }
                                                else
                                                {
                                                    <p class="discounted-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>
                                                    @*<p class="actual-price"><i class="fa fa-inr"></i>&nbsp;@productItem.CostPrice</p>*@
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            <!-- End Package Item -->
                            }
                            <input type="hidden" id="packageId" name="packageId" value="" />

                        </div>
                    </form>
                </div>
                <!--End Recent Projects-->
            </div>
        </div>
    </div>
</div>
<!-- End Services Section -->
<!-- Sart Far by car Section -->
<div class="section far-by-car">
    <img src="~/Content/Images/farbycar_bg.jpg" class="far-by-car-image" />
        <!-- Start Section Content -->
        <div class="section-display-content text-center">
            <h1 class="fittext wite-text tlt">
                <span class="texts">
                    <span>Far By Car</span>
                </span>
            </h1>
            <div class="home-farbycar-text">

                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;‘Not all fingers are the same’ is the universal law and we abide by it….
                    You were meant to travel, explore and get enriched the way you want.
                    You never meant to get dictated by terms and conditions to your wander lust.
                    To those wilderness explorers who roam free;
                    We offer you Tailor-made tours, platform filling your own travel desire.
                    You were born to Choose what you may and We respect it!
                    <br />
                </p>

                <p><h4 style="color:#f8ba01;">Features</h4></p>
                <ul>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>Wholly customized offerings.</span>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>Caters to your desires, roam free worth our unique ‘Freedom of choice’ options.</span>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>No restraints, No on journey rules, No abiding. Feel free!!! </span>
                    </li>
                    <li>
                        &nbsp;
                    </li>
                </ul>
                <a href='~/Tours/FarByCar' class="btn-system btn-large">
                    <i class="fa fa-tasks"></i>
                    Check Out Features
                </a>

            </div>


        </div>
        <!-- End Section Content -->
</div>
<!-- End Far By Car Section -->
<!-- Start Tours Section -->
<div class="section general-tours">

    <img src="~/Content/Images/Tours.jpg" class="tour-background-image"  usemap="#toursMap">

    <div class="container">

        <!-- Start Section Content -->
        <div class="section-tours-title text-center">
            <h1 class="fittext wite-text tlt">
                <span class="texts">
                    <span>Tours</span>
                </span>
            </h1>
            <div class="home-tours-text">


            </div>
            @*<a href="#" class="btn-system btn-large">
                    <i class="fa fa-tasks"></i>
                    Check Out Features
                </a>*@

        </div>
        <!-- End Section Content -->

    </div>
    <!-- .container -->
</div>
<!-- End Tours Section -->
<!-- Start Educational Tours Section -->
<div class="section edu-tours">
    <img src="~/Content/Images/Edu_tours_bg.jpg" class="educational-tour-image" />
    <div class="container">

        <!-- Start Section Content -->
        <div class="section-display-content text-center">
            <h1 class="fittext wite-text tlt">
                <span class="texts">
                    <span>Educational Tours</span>
                </span>
            </h1>
            <div class="home-edu-text">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Life nowdays, is all about going the quintessential competitive edge.
                    There is no scope for excellence, if actual academic implementation in industries is not known.
                    Industries keep evolving, concepts get change, technologies are substituted; you have to stay updated.
                    Our study tours segment offers you exactly this.
                    <br />
                </p>

                <p><h4 style="color:#f8ba01;">Features</h4></p>
                <ul>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>Gain valuable insights by knowing actual implementation of academics.</span>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>Interaction with key industry participants.</span>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>Support to hunt best industry, exhibition and summits for visit.</span>
                    </li>
                    <li>
                        &nbsp;
                    </li>
                </ul>

                <a href='~/Tours/EducationalTours' class="btn-system btn-large">
                    <i class="fa fa-tasks"></i>
                    Check Out Features
                </a>
            </div>

        </div>
        <!-- End Section Content -->

    </div>
    <!-- .container -->
</div>
<!-- End Educational Tours Section -->
<div id="parallax-one" class="section parallax">
    <div class="parallax-text-container-1">
        <div class="parallax-text-item">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="counter-item">
                            <i class="fa fa-map-marker"></i>
                            <div class="timer" id="item1" data-to="991" data-speed="5000"></div>
                            <h5>Destinations</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="counter-item">
                            <i class="fa fa-plane"></i>
                            <div class="timer" id="item2" data-to="7394" data-speed="5000"></div>
                            <h5>Tour Packages</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="counter-item">
                            <i class="fa fa-male"></i>
                            <div class="timer" id="item3" data-to="8423" data-speed="5000"></div>
                            <h5>Happy clients</h5>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="counter-item">
                            <i class="fa fa-clock-o"></i>
                            <div class="timer" id="item4" data-to="24" data-speed="5000"></div>
                            <h5>Hours Support</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content" class="section our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Contact Us</span></h4>
                @*<form role="form" class="contact-form" id="contact-form" method="post">*@
                    <div class="form-group">
                        <div class="controls">
                            @Html.TextBoxFor(model => model.customerFeedback.CustomerName, new { @id = "CustomerName", @class = "email", @placeholder = "Name" })
                            @Html.ValidationMessageFor(model => model.customerFeedback.CustomerName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            @Html.TextBoxFor(model => model.customerFeedback.CustomerEmail, new { @id = "CustomerEmail", @class = "email", @placeholder = "Email" })                           
                            @Html.ValidationMessageFor(model => model.customerFeedback.CustomerEmail)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            @Html.TextBoxFor(model => model.customerFeedback.CustomerContact, new { @id = "CustomerContact", @class = "email", @placeholder = "Contact" })                         
                            @Html.ValidationMessageFor(model => model.customerFeedback.CustomerContact)

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            @Html.TextBoxFor(model => model.customerFeedback.FeedbackSubject, new { @id = "FeedbackSubject", @class = "email", @placeholder = "Subject" })                         
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            @Html.TextAreaFor(model => model.customerFeedback.CustomerMessage, new { @id = "CustomerMessage", @class = "email", @rows = "7", @placeholder = "Message" })                          
                        </div>
                    </div>
                    <button type="button" id="submit" onclick="javascript: send();" class="btn-system btn-large">Send</button>
                    <div id="success" style="color:#34495e;"></div>
                   @*</form>*@
            </div>

            <div class="col-md-4">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Blog</span></h4>

                <!-- Some Info -->
                <p>Our Happy Clients written some of there awesome experience in the form of Blogs with us. Please read these awesome blogs & clients experiences. </p>
                <a href='~/Blog'>Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>

                <!-- Divider -->
                <div class="hr1" style="margin-bottom:15px;"></div>

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Gallery</span></h4>

                <div id="gallery-slide" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <!--/ Indicators end-->
                    <!-- Carousel inner -->
                    <div class="carousel-inner">
                        <div class="item active" style="height:200px;">
                            <a class="lightbox" href="~/Content/Images/Gallery_silde/mountain-road.jpg" data-lightbox-gallery="gallery1">
                                <div class="thumb-overlay"><i class="fa fa-arrow-circle-right"></i></div>
                                <img height="100" src="~/Content/Images/Gallery_silde/mountain-road.jpg" stlye="height:100px;" alt="slider">
                            </a>

                        </div>
                        @foreach (var productItem in ViewBag.Products)
                        {
                            if (productItem.GalleyPaths != null)
                            {
                                foreach (var itemPath in productItem.GalleyPaths)
                                {
                                    <div class="item" style="height:200px;">

                                        <a class="lightbox" href='@itemPath' data-lightbox-gallery="gallery1">
                                            <div class="thumb-overlay"><i class="fa fa-arrow-circle-right"></i></div>
                                            <img height="100" src='@itemPath' stlye="height:100px;" alt="slider">
                                        </a>
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Client/Partner Section -->
